<div id="brandsIcons" class="big-wave" style="background-color: #E6F1FF;">
    <div class="container pb3--md tc" style="padding-top: 0 !important">
  
      <h2 class="fw--600 sans--large mb2 color--blue">as featured in</h2>
          
              <div class="row">
                <div class="col c6 c3--md c3--lg mt2">
                  <img class="m--auto db" src="{{ 'fi-forbes.png' | asset_url }}"/>
                </div>
                <div class="col c6 c3--md c3--lg mt2">
                  <img class="m--auto db pt1" src="{{ 'fi-real-simple.png' | asset_url }}"/>
                </div>
                <div class="col c6 c3--md c3--lg mt2">
                  <img class="m--auto db" src="{{ 'fi-mens-health.png' | asset_url }}"/>
                </div>
                <div class="col c6 c3--md c3--lg mt2">
                  <img style="max-width: 180px;" class="m--auto db" src="{{ 'fi-ny-times.png' | asset_url }}"/>
                </div>
                                               
              </div>
  
              <div class="row mt2">
                <div class="col c5 c3--md c3--lg mt2">
                  <img class="m--auto db" src="{{ 'fi-GQ.png' | asset_url }}"/>
                </div>
                <div class="col c5 c3--md c3--lg mt2">
                  <img class="m--auto db" src="{{ 'fi-tech-crunch.png' | asset_url }}"/>
                </div>
                <div class="col c6 c3--md c3--lg mt2">
                  <img class="m--auto db" src="{{ 'fi-yahoo-finance.png' | asset_url }}"/>
                </div>
                                                
              </div>
  </div>
  </div>