{% comment %}
It may be a good idea to provide a theme setting that lets a merchant decide how many products to show per row
on collection pages. Or, it may be a good idea to provide a control on the store front which lets a shopper decide
whether items be presented in a grid or in a list.
That information about the presentation can be passed on to the product-grid-item.liquid snippet via the 'with'
argument.
Use of the 'with' argument is explained here: http://docs.shopify.com/themes/theme-templates/snippets.
The information can then be referred to by accessing the variable which goes by the same name as the snippet,
in this case product-grid-item. If the 'with' argument is not used, the snippet variable is set to an empty string.
Here, for the sake of teaching, we will use 2 presentation options:
- 3 products per row, when passing the value 'three-per-row' to the snippet
- 4 products per row, when passing the value 'four-per-row' to the snippet
{% endcomment %}

{% comment %}If no value is passed to the snippet, we will set the snippet variable to a sensible default.{% endcomment
%}
{% if product-grid-item == '' %}{% assign product-grid-item = 'three-per-row' %}{% endif %}

{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

<div
    class="pr {{ product-grid-item }}{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}">
    <div class="push-up">


        <div class="product-card" style="border: solid 1px #e4e4e4">
            <div class="pr">

                <a class="db image size--4x3 no-focus-outline" href="{{ product.url }}">
                    {% for tag in product.tags %}
                    {% if tag contains 'best seller' %}
                    <div class="product-tag-overlay color--blue">best seller</div>
                    {% endif %}
                    {% if tag contains 'new product' %}
                    <div class="product-tag-overlay color--blue">new product</div>
                    {% endif %}
                    {% endfor %}
                    <img class="card-image no-focus-outline" src="{{ product | img_url: '800x600' }}"
                        alt="{{ product.featured_image.alt | escape }}" />
                </a>

                <div class="product-card__footer p2 show--md">
                    {% if product.available %}
                    <a href="{{ product.url }}" data-event-type="product-click"
                        class="button--quick-add full-width color--blue" data-product-id="{{product.id}}">view
                        options</a>

                    {% else %} sold-out{% endif %}


                </div>

            </div><!-- .prod-image-wrap -->

            <a class="db m1 m2--md mb2 mt1--md no-focus-outline" title="{{ product.title }}" href="{{ product.url }}">
                <div class="tc">{% include 'stars' %}</div>
                <span class="db tc fw--600 sans--medium mb0 color--blue lowercase">{{ product.title }}</span>
                    <div class="tc">
                        
                            <div class="db color--dark-gray fw--600 sans--small">
                                {% if product.metafields.subscriptions.subscription_id  %}

                                from ${{ product.variants[0].metafields.subscriptions.discount_variant_price }}
                            
                            {% else %}
                                    {% if product.price_varies %}From{% endif %}
                                    {{ product.price | money }}
                                    {% if on_sale %}
                                    <s class="compare-at-price">{{ product.compare_at_price | money }}</s>
                                    {% endif %}
                                    {% endif %}
                                </div>
                        </div>
            </a>

        </div>
    </div>
</div>
{% comment %}
You don't need to use a clearing div. Use whatever it is you use to clear
floated elements. The code that follows just just shows you how to use a cycle element.
Notice that we named it ( 'clear' ). We need to name it because there's another cycle
element in this file ( we called that other one 'last' ). If you have more than one
cycle element in a rendered view, you'll need to name all of them.
The cycle element is documented here: http://docs.shopify.com/themes/liquid-basics/logic#cycle
{% endcomment %}

{% if product-grid-item == 'six-per-row' %}
{% cycle 'clear': '', '', '', '', '', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'five-per-row' %}
{% cycle 'clear': '', '', '', '', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'four-per-row' %}
{% cycle 'clear': '', '', '', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'three-per-row' %}
{% cycle 'clear': '', '', '<div style="clear:both"></div>' %}
{% elsif product-grid-item == 'two-per-row' %}
{% cycle 'clear': '', '<div style="clear:both"></div>' %}
{% endif %}