<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <link href="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/favicon.webp?v=1590204765" rel="shortcut icon">
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/v8IcslH7TyTHoaG66Gq7nw" async></script>


    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    {{ 'swell-rewards.js' | asset_url | script_tag }}
    <title>{{ shop.name }} - {{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>


    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}
            {% comment %}Paypal and Google checkout buttons{% endcomment %}
            {% if additional_checkout_buttons %}
            <p class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </p>
            {% endif %}   
    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}     
            {% comment %}Paypal and Google checkout buttons{% endcomment %}
            {% if additional_checkout_buttons %}
            <p class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </p>
            {% endif %}         
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
            <div class="sidebar__header">
              {{ content_for_logo }}
            </div>
            <div class="sidebar__content">
             
          {{ content_for_order_summary }}
          <div class="yotpo-widget-instance" data-yotpo-instance-id="3630"></div>        

            </div>

      </div>

    </div>

    {{ tracking_code }}
    {% include 'smsbump_checkout_marketing_subscription' %}


  </body>
</html>