<div class="header-lp bg--blue p2 pl3--md pr3--md">
    <div class="lp-container tc">

    <a title="beam" href="/">
        <img style="height: 36px;" width="auto" src="{{ 'beam-logo-white.png' | asset_url }}">
    </a>

    </div>
</div>
  
<div class="mt0 mb0 mt5--md">

    <div class="lp-container pt2--md pb2--md">
        <div class="row direction--rev--md">
            <div class="col c4--md mb3 mb0--md">
                <div class="promo__pull-flush--right">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="{{ 'freckled-foodie-dream-subs-1.jpg' | asset_url }}" media="(min-width: 800px)"><img class="full-width" alt="shop dream" src="{{ 'freckled-foodie-dream-subs-1.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c1 show--xl"></div>
            <div class="col c6--md c4--xl pt2--md">
                <div class="tc tl--md">

                    <h2 class="sans--xl fw--400 mb3 color--blue pr1 pl1 pr0--md pl0--md">subscribe to <span class="fw--600">better sleep</span> with dream
                    </h2>
                    <div class="mb2 mb4--lg pr1 pl1 pr4--md pl4--md pr0--lg pl0--lg">
                        <p class="mb2 mt1">
                            introducing the dream subscription! every month, you’ll get 20% off our best-selling dream powder, plus a beam mug, drink frother and boost hemp topical with your first delivery. 
                        </p><p class="mb2">
                            signing up is easy and there’s no commitment — you can pause or cancel at any time. 
                        </p></p>
                            dream subscription includes a <span class="fw--600">FREE beam mug and frother</span>.                        
                        </p>
                        <ul class="lp-list hidden">
                            <li>Quae fuerit causa me ab illo inventore</li>
                            <li>Quae fuerit causa me ab illo inventore</li>
                            <li>Quae fuerit causa me ab illo inventore</li>
                            <li>Quae fuerit causa me ab illo inventore</li>
                        </ul>

                    </div>

                    </div>       
            </div>
            <div class="col c1 show--md"></div>
    </div>
</div>
</div>


<div class="mt3 mb0 mt1--md bb--light-gray">

    <div class="lp-container pt2--md pb2--md">

        <div class="row">
            <div class="col c1 show--xl"></div>

            <div class="col c4--md mb3 mb0--md">   
                <img class="show--xl" style="height: auro;max-width: 72%;margin-top: -100px;" width="auto" src="{{ 'dream-subs-boost.jpg' | asset_url }}">
                <div class="hide--xl media__fixed tc"><img style="height: 200px;margin-top: -30px;" width="auto" src="{{ 'dream-subs-boost.jpg' | asset_url }}"></div>
                <div class="media__fixed mt3 mb2 tc tl--md"><a title="learn more" class="lp-bottom bg--blue color--white tc scroll-button" href="#subscribe">subscribe to dream <span>&#x2192;</span>
                </a>
            </div>
            </div>
            <div class="col c7--md mb0 mb0--md">   

                <div class="">
                    <div class="pt2--md pb2--md">

                        <div class="row mb2 align--left hide--md pl2 pr2">
                  
                        
                                <div class="col c6 tl">
                                
                                  <div class="row gutter--none">
                                    <div class="col c4">
                                      <img class="" style="width: 100%;" src="//cdn.shopify.com/s/files/1/0264/4076/1399/t/18/assets/better-sleep-purple.svg?v=683127670878681181">
                                    </div>
                                    <div class="col c8">
                                      <p class="sans--small fw--600 pt1">better <br>zzz’s</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col c6 tl">
                                
                                  <div class="row gutter--none">
                                    <div class="col c4">
                                      <img class="" style="width: 100%;" src="//cdn.shopify.com/s/files/1/0264/4076/1399/t/18/assets/sense-of-calm-purple.svg?v=6241772240810989964">
                                    </div>
                                    <div class="col c8">
                                      <p class="sans--small fw--600 pt1">sense <br>of calm</p>
                                    </div>
                                  </div>
                                </div>


                                </div>
  


                        <div class="row align--center mb2 show--md">
                  
                  <div class="col c5--md pt3--md tc tl--md">
                  
                    <div class="row align--center">
                      <div class="col c4">
                        <img class="" style="width: 100%;" src="{{ 'better-sleep-purple.svg' | asset_url }}"/>
                      </div>
                      <div class="col c7">
                        <p class="sans--medium fw--600 pt2">better <br/>zzz’s</p>
                      </div>
                    </div>
                  
                    
                  </div>
                  <div class="col c5--md pt3--md tc tl--md">
                  
                    <div class="row align--center">
                      <div class="col c4">
                        <img class="" style="width: 100%;" src="{{ 'sense-of-calm-purple.svg' | asset_url }}"/>
                      </div>
                      <div class="col c7">
                        <p class="sans--medium fw--600 pt2">sense <br/>of calm</p>
                      </div>
                    </div>
                  </div>
                  
                  </div>
                  </div>
                  </div>
            </div>
            <div class="col c1 show--xl"></div>

        </div>

    </div>

</div>


<div class="mt6 mb10">
    <div class="container pt4--md pb4--md tc">
  
      <h2 class="fw--400 sans--large mb4 color--blue pr1 pl1">a better night-time routine.<br>delivered every month.
    </h2>
      <h3 class="fw--300 sans--medium m--auto mb2" style="max-width: 600px;">
        this warm, sleep-promoting powder is a healthy take on hot chocolate, helping your body and mind wind down for a better night’s sleep*.
    </h3> 
             
  
  
  </div>
  </div>


  <div class="pt4 pt0--lg pb2 mb2 mt5--lg mb5--lg" style="background-color: #E6F1FF;">
  
    <div class="container">    
      <div class="row">
       
        <div class="col c3--md c4--lg pt0 pt2--md mb3--md tc tl--md">
          <div class="pr">
            <div class="box-shadow align--left"></div>
            <div class="push-up">
                    <picture class="full-width">
                        <source
                            srcset="{{ 'dream-blend.jpg' | asset_url }}"
                            media="(min-width: 800px)"><img class="full-width"
                            alt="an all-natural alternative"
                            src="{{ 'dream-blend.jpg' | asset_url }}">
                    </picture>
            </div>
        </div>
  
        </div>  
        <div class="col c1 show--lg"></div>

        <div class="col c9--md c6--lg pt3--md mb4 pb3 tc tl--md">
            <h2 class="fw--600 sans--medium-large mb2 mt4 pt1--lg color--blue">what this blend boasts the most</h2>

          <div class="accordion">
            
      <div class="item">
        <a href="#acc1Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">how do i take this product?   <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc1Desk" class="acc-content-desktop">
          <div class="inner">
            we suggest blending the powder with a warm cup of water or milk (like almond or oat milk). 
          </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
    
      <div class="item">
        <a href="#acc2Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">when do i take this product? <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc2Desk" class="acc-content-desktop">
          <div class="inner">
            you should take dream when you are ready to go to bed.
          </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
      <div class="item">
        <a href="#acc3Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">what does dream taste like?  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    
        <section id="acc3Desk" class="acc-content-desktop">
          <div class="inner">
            the dream powder is mixed with organic cacao powder and organic cinnamon powder. it tastes like a healthy hot cocoa. 
          </div><!-- / .inner -->
        </section>
      </div><!-- / .item -->
  
    </div><!-- / .accordion -->
  <div class="mt3">
    <p id="detailsModalBtn" class="mt2 mb2 fw--600 hero__product-description pointer underline color--blue"><span class="hide--md">tap</span><span class="show--md">click</span> for ingredients + product details</p>
    <a href="/pages/support" class="mr2 fw--600 pointer underline color--blue">visit faq’s</a>
  </div>
  
  </div>
  
      </div>
  
  
      </div>
  
  </div>
  
  
  

<div class="mt6 mb8 mt6--md mb10--md">
    <div style="max-width: 1200px;" class="container pt2--md pb2--md">
        <div class="brand-slider">
            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><a title="external press"
                        href="https://www.gq.com/gallery/20-best-cbd-products-on-weed-day" class="dib"
                        target="_blank">
                        <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 130px;"
                                src="{{ 'maxim-logo.png' | asset_url }}">
                        </picture>
                    </a>
                </p>
                <h5 class="tc">"these pro-athlete-approved hemp products will improve physical and mental wellness."</h5>
            </div>
            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><a title="external press"
                        href="https://www.forbes.com/sites/bradjaphe/2019/03/18/a-pair-of-former-pro-athletes-team-up-to-get-in-the-cbd-game/#4ea8aa8c1c9d"
                        class="dib" target="_blank">
                        <picture class="promo__press-logo"><img class="promo__press-logo" 
                                src="https://beam.imgix.net/beam-homepage-presslogo-forbes@2x.png?mtime=20190725113953&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                        </picture>
                    </a>
                </p>
                <h5 class="tc db">"[beam] is a great addition to an athlete’s nightly routine."</h5>
            </div>


            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><a title="external press"
                        href="https://www.realsimple.com/health/mind-mood/stress/the-one-benefits-review-beam"
                        class="dib" target="_blank">
                        <picture class="promo__press-logo"><img class="promo__press-logo"
                                src="https://beam.imgix.net/beam-homepage-presslogo-realsimple@2x_190725_183951.png?mtime=20190725113951&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                        </picture>
                    </a>
                </p>
                <h5 class="tc">"i've started using [beam] hemp oil everyday... and it changed my life."</h5>
            </div>

        </div>
    </div>
</div>




<div class="mt6 mb4 mb10--md pb6 pt2" id="subscribe" style="background-color: #f3f3f3;">
    <div class="container pt4--md pb4--md tc show--lg">
  
      <h2 class="fw--400 sans--large mb2 mt2 mt0--md mb5--md color--blue pr1 pl1 pr0--lg pl0--lg">subscribe and save</h2>

             <div class="row pr1 pl1 pr0--lg pl0--lg">

                <div class="col c4--lg bg--white br mt2 mb2 mb0--md">
                    <img style="max-width: 100%;" src="{{ 'Beam-Dream1-1.jpg' | asset_url }}">
                    <h3 class="mt1 sans--medium fw--600 color--blue">one-time purchase</h3>
                    <span class="media__fixed tc"><span class="db color--dark-gray fw--600 sans--small">
          
                        $95.00
                                                
                      </span></span>
                    <ul class="lp-list-2 p3">
                        <li>&#x2713; 30-serving bag</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                    <div class="media__fixed mt2 mb5"><a title="learn more" id="add_to_cart_one-time1" class="lp-bottom bg--blue color--white tc">get dream <span>&#x2192;</span>
                    </a>
                </div>
                </div>
                
                <div class="col c4--lg bg--white br mb2 mb0--md main-box">
                    <img style="max-width: 100%;" src="{{ 'Beam-Dream-2.jpg' | asset_url }}">
                    <h3 class="mt1 sans--medium fw--600 color--blue">dream subscription</h3>
                    <h6 class="mb1 sans--small color--blue fw--600">join + save. skip or cancel anytime.</h6>
                    <span class="media__fixed tc"><span class="db color--blue fw--600 sans--medium">
          
                        $76.00
                        
                        <s class="compare-at-price color--dark-gray">$95.00</s>
                        
                      </span></span>
                    <ul class="lp-list-2 p3">
                        <li>&#x2713; 30-serving bag</li>
                        <li>&#x2713; beam mug + drink frother</li>
                        <li>&#x2713; boost hemp topical</li>
                        <li>&#x2713; monthly delivery, no commitment </li>
                    </ul>
                    <div class="media__fixed mt2 mb5"><a title="learn more" id="add_to_cart_dream1" class="lp-bottom bg--blue color--white tc">subscribe to dream <span>&#x2192;</span>
                    </a>
                </div>
                </div>

                <div class="col c4--lg bg--white br mt1">
                    <img style="max-width: 100%;" src="{{ 'Beam-Duo-1.jpg' | asset_url }}">
                    <h3 class="mt1 sans--medium fw--600 color--blue">dream duo subscription</h3>
                    <h6 class="mb1 sans--small color--blue fw--600">join + save. skip or cancel anytime.</h6>
                    <span class="media__fixed tc"><span class="db color--dark-gray fw--600 sans--small">
          
                        $140.00
                        
                        <s class="compare-at-price">$175.00</s>
                        
                      </span></span>
                    <ul class="lp-list-2 p3">
                        <li>&#x2713; two 30-serving bags</li>
                        <li>&#x2713; beam mug + drink frother</li>
                        <li>&#x2713; boost hemp topical</li>
                        <li>&#x2713; monthly delivery, no commitment </li>
                    </ul>
                    <div class="media__fixed mt0 mb5"><a title="learn more" id="add_to_cart_duo1" class="lp-bottom bg--blue color--white tc">subscribe to dream <span>&#x2192;</span>
                    </a>
                </div>
                </div>
             </div>
  
  
  </div>
  <div class="container pt4--md pb4--md tc hide--lg">
  
    <h2 class="fw--400 sans--large mb2 mt2 mt0--md mb5--md color--blue pr1 pl1 pr0--lg pl0--lg">subscribe and save</h2>

           <div class="row pr1 pl1 pr0--lg pl0--lg">

            <div class="col c4--lg bg--white br mt2 mb2">
                <img style="max-width: 100%;" src="{{ 'Beam-Dream-2.jpg' | asset_url }}">
                <h3 class="mt1 sans--medium fw--600 color--blue">dream subscription</h3>
                <h6 class="mb1 sans--small color--blue fw--600">join + save. skip or cancel anytime.</h6>
                <span class="media__fixed tc"><span class="db color--blue fw--600 sans--medium">
          
                    $76.00
                    
                    <s class="compare-at-price color--dark-gray">$95.00</s>
                    
                  </span></span>
                <ul class="lp-list-2 p3">
                    <li>&#x2713; 30-serving bag</li>
                    <li>&#x2713; beam mug + drink frother</li>
                    <li>&#x2713; boost hemp topical</li>
                    <li>&#x2713; monthly delivery, no commitment </li>
                </ul>
                <div class="media__fixed mt2 mb5"><a title="learn more" id="add_to_cart_dream2" class="lp-bottom bg--blue color--white tc">test subscribe to dream <span>&#x2192;</span>
                </a>
            </div>
            </div>

              

              <div class="col c4--lg bg--white br mb2">
                  <img style="max-width: 100%;" src="{{ 'Beam-Duo-1.jpg' | asset_url }}">
                  <h3 class="mt1 sans--medium fw--600 color--blue">dream duo subscription</h3>
                  <h6 class="mb1 sans--small color--blue fw--600">join + save. skip or cancel anytime.</h6>
                  <span class="media__fixed tc"><span class="db color--dark-gray fw--600 sans--small">
          
                    $140.00
                    
                    <s class="compare-at-price">$175.00</s>
                    
                  </span></span>
                  <ul class="lp-list-2 p3">
                      <li>&#x2713; two 30-serving bags</li>
                      <li>&#x2713; beam mug + drink frother</li>
                      <li>&#x2713; boost hemp topical</li>
                      <li>&#x2713; monthly delivery, no commitment </li>
                  </ul>
                  <div class="media__fixed mt2 mb5"><a title="learn more" id="add_to_cart_duo2" class="lp-bottom bg--blue color--white tc">subscribe to dream <span>&#x2192;</span>
                  </a>
              </div>
              </div>

              <div class="col c4--lg bg--white br">
                <img style="max-width: 100%;" src="{{ 'Beam-Dream1-1.jpg' | asset_url }}">
                <h3 class="mt1 sans--medium fw--600 color--blue">one-time purchase</h3>
                <span class="media__fixed tc"><span class="db color--dark-gray fw--600 sans--small">
          
                    $95.00
                                            
                  </span></span>
                <ul class="lp-list-2 p3">
                    <li>&#x2713; 30-serving bag</li>
                </ul>
                <div class="media__fixed mt2 mb5"><a title="learn more" id="add_to_cart_one-time2" class="lp-bottom bg--blue color--white tc">get dream <span>&#x2192;</span>
                </a>
            </div>
            </div>

           </div>


</div>
  </div>




<div class="mt0 mb4 mt10--md mb10--md">
    <div class="container pt2--md pb2--md">
        <div class="row">

  
            <div class="col c5--md c5--lg mb2 mb0--md">
              <div class="">
                  <div class="pr">
                      <div class="">
                              <picture class="full-width">
                                  <source srcset="{{ 'freckled-foodie-square.jpg' | asset_url }}" media="(min-width: 800px)"><img class="full-width" style="border-radius: 100%;" alt="an all-natural alternative" src="{{ 'cameron-square.jpg' | asset_url }}">
                              </picture>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col c1--lg show--md"></div>

          <div class="col c7--md c6--lg pt3--md mb3 tc tl--md">
            <h2 class="fw--600 sans--large mb2 color--blue">hear why cameron loves us</h2>
                            <h3 class="fw--300 sans--medium mb2">"i can confidently say that beam dream has changed my sleep game. as someone who struggles with 'anxious dreams' (the worst), this product has become a staple in my nightly routine. whether i take the capsules or sip on the blend, i am always met with a wonderfully calm, uninterrupted and restful night's sleep. i scream from the rooftops for anyone who will listen and have officially gotten all of my friends and family hooked as well."</h3>
                            
                              <h2 class="sans--medium fw--600">-cameron rogers,</h2>
                                  <span>founder of Freckled Foodie</span>
            
                          </div>
  
        </div>
    </div>
  </div>

{% include 'only-the-best' %}

{% include 'brands' %}


<div class="yotpo yotpo-main-widget" data-product-id="4528614113335" data-name="dream powder" data-url="https://beamtlc.com/products/sleep-powder" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>


  <div class="modal hidden" id="download-modal"></div>
  <div class="modal--overlay hidden"></div>
  
  
  
  <!-- The Modal -->
  <div id="detailsModal" class="details-modal">
  
    <!-- Modal content -->
    <div class="details-modal-content">
      <div class="details-header tl color--white purple-header">
        <h1 class="sans--large fw--300" temprop="name">{{product.title}}</h1>
        <p class="sans--small fw--600">{{ product.type }}</p>
        <span class="close">&times;</span>
      </div>
      <div class="inner">
        
        <div class="mb3"><h4 class="fw--600 color--blue">description:</h4>
          <span>this warm, sleep-promoting powder is a healthy take on hot chocolate, helping your body and mind wind down for a better night’s sleep*.
          </span><br>
        </div>
        <div class="mb3"><h4 class="fw--600 color--blue">active ingredients:</h4>
          <span>cacao, cinnamon, monkfruit, melatonin, magnesium, reishi, l-theanine, and beam nano hemp.</span><br>
        </div>
        <div class="mb3"><h4 class="fw--600 color--blue">other ingredients:</h4><span> tapioca starch, coconut powder, organic sunflower lecithin, organic cacao powder, organic cinnamon, monk fruit, vanilla powder.</span><br>
          <br>
        <span class="fw--600">contains: coconut.</span><br>
        <span class="sans--small">processed in a facility with nuts and peanuts</span>
      </div>
        <div class="mb3"><h4 class="fw--600 color--blue">how to use:</h4><span>we recommend enjoying one scoop mixed into your favorite warm milk or hot water. drink approximately 30 minutes before bedtime.</span><br></div>
  
        <div class="mb3"><h4 class="fw--600 color--blue">texture:</h4><span>a light powder, similar to hot cocoa mix.</span><br></div>
        <div class="mb3"><h4 class="fw--600 color--blue">taste:</h4><span>a chocolate-y, cinnamon flavor when mixed with warm milk or water.</span><br></div>
        <div class="mb3"><h4 class="fw--600 color--blue">servings:</h4><span>30 (bag) servings. <span class="fw--600">30 serving bag subscriptions include a free beam mug and frother</span></span><br></div>
        <div class="mb3"><h4 class="fw--600 color--blue">amount of cbd:</h4><span>20mg per serving, 600mg per bag</span><br></div>
  
  
  
      </div>
    </div>
  
  </div>
  
  <script>
          $(document).ready(function () {
    $('#add_to_cart_dream3, #add_to_cart_dream1, #add_to_cart_dream2, #add_to_cart_dream4').click(function(){
          addItemToCart()
    });
    $('#add_to_cart_one-time1, #add_to_cart_one-time2, #add_to_cart_one-time3, #add_to_cart_one-time4').click(function(){
      addItemToCartOT()
    });
    $('#add_to_cart_duo1, #add_to_cart_duo2, #add_to_cart_duo3, #add_to_cart_duo4').click(function(){
      addItemToCartDuo()
    });

});
  </script>
  <script>
    function addItemToCartOT() {
      data = {
        "id": 31947693719607,
        "quantity": 1
      }
      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() { 
          window.location.href = '/cart'; 
        }
      });
    }

    function addItemToCart() {
      data = {
        "id": 32474833649719,
        "quantity": 1,
        "properties": {
          "shipping_interval_frequency": "1",
          "shipping_interval_unit_type": "Months"
        }
      }
      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() { 
          window.location.href = '/cart'; 
        }
      });
    }

    function addItemToCartDuo() {
      data = {
        "id": 32473921880119,
        "quantity": 1,
        "properties": {
          "shipping_interval_frequency": "1",
          "shipping_interval_unit_type": "Months"
        }
      }
      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() { 
          window.location.href = '/cart'; 
        }
      });
    }



    $(document).ready(function () {
      

    $("a.scroll-button").on('click', function(event) {
            if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 1200, function(){
                window.location.hash = hash;
            });
            } // End if
    });

    });    
    let accTitleDesktop = document.getElementsByClassName("acc-heading-desktop");
            let accContentDesktop = document.getElementsByClassName("acc-content-desktop");
            let singleModeDesktop = true;
            
            for( let j=0; j<accContentDesktop.length; j++ ){
                let realHeightDesktop = accContentDesktop[j].offsetHeight;
                accContentDesktop[j].setAttribute("data-height", realHeightDesktop + "px");
                accContentDesktop[j].style.height = 0;
            }
            
            for( let i=0; i<accTitleDesktop.length; i++ ){
                accTitleDesktop[i].onclick = function(){
                    let openedAccDesktop = this.getAttribute('href').replace('#', '');
    
                    if( this.classList.contains("active") ){
                        this.classList.remove("active");
                        document.getElementById(openedAccDesktop).style.height = 0;
                        
                        return false;
                    }
                    
                    if( singleModeDesktop ){						
                        for(let k=0; k<accTitleDesktop.length; k++) {
                            accTitleDesktop[k].classList.remove("active");
                        }
    
                        for(let j=0; j<accContentDesktop.length; j++) {
                            accContentDesktop[j].style.height = 0;
                        }
                    }
                    
                    this.classList.add("active");
                    
                    document.getElementById(openedAccDesktop).style.height = accContentDesktop[i].getAttribute("data-height");
                    
                    return false;
                }
        }
        


    $('.brand-slider').slick({
          autoplay: true,
          slidesToShow: 3,
           slidesToScroll: 1,
          fade: false,
          useTransform: true,
          arrows: false,
          dots: false,
          autoplaySpeed: 5000,
          adaptiveHeight: false,
          pauseOnHover: true,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                fade: false
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                fade: false,
                arrows: false,
                dots: true,
                customPaging: function (slider, i) {
              return $('<button type="button" />').text(i + 1);
                }
              }
            }
          ]
        });



// Get the modal
var modal = document.getElementById("detailsModal");

// Get the button that opens the modal
var btn = document.getElementById("detailsModalBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

    </script>
    
    <style>
    @media screen and (max-width: 600px) {
    .template-index .slick-dots {
        top: auto !important;
        bottom: -20px !important;
        left: auto !important;
        right: auto;
        text-align: center;
    }
    .template-index .slick-dots li button {
        background-color: #C2C2C2;
    }
    .template-index .slick-dots li.slick-active button {
        background-color: #2F358E;
    }
    }

    .lp-bottom {
        padding: 18px 40px;
        border-radius: 7px;
        font-size: 22px;
        transition: opacity 200ms ease-in-out;
    }
    @media screen and (max-width: 1120px) {
        .lp-bottom {
        font-size: 16px;
        }
    }
    .lp-bottom:hover {
        opacity: .9;
    }
    .lp-bottom span {
        padding-left: 14px;
    }
    .br {
        border-radius: 12px;
        padding: 0 !important;
        overflow: hidden;
    }
    .main-box {
        box-shadow:0px 2px 8px 6px rgba(125,125,125,0.3);
        z-index: 1;
        position: relative;
    }

    .lp-list-2 {text-align: left;}
.lp-list-2 li {
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 1.2;
    list-style: none;
}

    </style>