{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}
{% assign product_id = 6536844574775 %}


<div class="mt5 mt10--md pt2 pr color--primary of--hidden hero--desktop"  id="new-theone">
    <picture class="show--md">
        <source srcset="{{ 'theone-natural-hero.jpg' | asset_url }}" media="(min-width: 800px)" />
        <img class="hero__cover" alt="Hero image - Sleep" src="{{ 'theone-natural-hero.jpg' | asset_url }}" />
    </picture>

    <div class="container hide--md">
        <div class="tl">
            {% include 'stars-the-one' %}
        </div>
        <div class="mb2 pr">
            <h1 class="sans--medium-large fw--600 color--blue"
                style="line-height: 1; margin-bottom: 4px;" temprop="name">the one</h1>
        </div>


    </div>

    <div class="tc ml3 the-one-icons hide--md">
        <div class="mb2 mt3"><img style="width: 66%;" alt="" src="{{ 'icon_balance.png' | asset_url }}" />
             <h5 class="color--white fw--600">balance</h5>
        </div>
        <div class="mb2 mt3"><img style="width: 66%;" alt="" src="{{ 'icon_calm.png' | asset_url }}" />
        	<h5 class="color--white fw--600">calm</h5>
   		</div>
    <div class="mb2 mt3"><img style="width: 66%;" alt="" src="{{ 'icon_relaxation.png' | asset_url }}" />
     	<h5 class="color--white fw--600">relaxation</h5>
	</div>

     </div>

    <img class="hide--md" style="max-width: 100%;" alt="Hero image - Sleep" src="{{ 'theone-natural-hero-mobile.jpg' | asset_url }}" />

    <div class="mt0 mb1 hide--md" style="margin-top: -8px;">
        <div class="p2 tc" style="background-color: #EAF4FF;">
                
                    <p class="sans--small pl1 pr1 hide--md tc fw--600 color--blue">
                       <span class="fw--800 sans--body color--blue">subscription perks</span><br>20% off • free shipping • monthly delivery
                    </p>
        </div>
    </div>
    <div class="push-up full-width mt1--md">
        <div class="grid-container contained">
            <div class="row mt0 pt3--md pt0--md mt0--md mb2 pb0--md mb0--md">
                
                <div class="col c4--md c5--lg c6--xl c7--xxxl show--md">
                    <div class="tc ml3 the-one-icons">
                       <div class="mb6 mt3"><img style="width: 100%;" alt="" src="{{ 'icon_balance.png' | asset_url }}" />
                            <h5 class="color--white fw--600">balance</h5>
                       </div>
                       <div class="mb6 mt3"><img style="width: 100%;" alt="" src="{{ 'icon_calm.png' | asset_url }}" />
                        <h5 class="color--white fw--600">calm</h5>
                   </div>
                   <div class="mb3 mt3"><img style="width: 100%;" alt="" src="{{ 'icon_relaxation.png' | asset_url }}" />
                    <h5 class="color--white fw--600">relaxation</h5>
               </div>

                    </div>
                </div>
                <div class="col c12 c12--sm c7--md c7--lg c6--xl c5--xxxl bg--white rounded-more mb0 mb4--md pr"
                    style="max-width: 580px !important;">
                    <div class="p3" itemscope itemtype="http://schema.org/Product">

                        <div data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}">

                        
                                    {% assign variant = product.selected_or_first_available_variant %}
                                    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default:
                                    product.featured_image %}
                                <form action="/cart/add" data-productid="{{ product.id }}" method="post" class="product-form"
                                id="add-to-cart" enctype="multipart/form-data">
                                            <div class="mb1 show--lg">
       
                                                <h2 class="sans--large fw--600 color--blue mb2" id="new-title"
                                                    temprop="name">the one {% include 'stars-the-one' %}</h2>     
                                     
                                            </div>
                                            <h3 class="sans--medium tc tl--md fw--600 color--blue fs--26" style="margin-bottom: 4px;">
                                            something for everyone
                                        </h3>
                                            <div class="rich-text tc tl--md sans--small" itemprop="description">
                                                <span>choose the potency that’s right for you.</span><br class="hide--md"/><br class="hide--md"/>
												<span id="detailsModalBtn2" class="ml1--md fw--600 pointer underline color--blue detailsModalBtn2" style="position:relative;">
													<span class="">serving + product nutrition </span>
												</span>
                                            </div>

                                <div class="media__fixed mt2">

                                    {% if product.available and product.variants.size > 1 %}
                                    {% render 'swatch-the-one-new' for product.options as swatch %}
                                    {% endif %}

                                    {% assign hide_default_title = false %}
                                    {% if product.variants.size == 1 and product.variants.first.title contains 'Default'
                                    %}
                                    {% assign hide_default_title = true %}
                                    {% endif %}
                                    <div id="product-variants"
                                        class="select--product-option hidden{% if hide_default_title %} hidden{% endif %}">
                                        <select id="product-select" class="form-select" name="id"
                                            data-productid="{{ product.id }}">
                                            {% for variant in product.variants %}
                                            <option class="form-select" {% if
                                                variant==product.selected_or_first_available_variant %} selected{% endif
                                                %} value="{{ variant.id }}">
                                                {{ variant.title }} - {{ variant.price | money }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>

<div class="hide-md mb2"></div>

                                    <div class="mt3 mb4 show--md">
                                        <div class="p2 tc" style="background-color: #EAF4FF; margin-left: -40px; margin-right: -40px;">
                                                    <p class="sans--small show--md tc fw--600 color--blue">
                                                        <span class="fw--800 color--blue pr1">subscription perks</span> 20% off • free shipping • monthly delivery
                                                    </p>
                                        </div>
                                    </div>
                                    <!-- Begin ReCharge code -->
                                    {% if product.available %}{% include 'subscription-product-dream' %}{% endif %}
                                    <!-- End ReCharge code -->


                                    <div id="product-add" class="form-action mt3 mb3">
                                        <div class="qtydiv">
                                            <div class="qtybox">
                                                <span class="btnqty qtyminus icon-minus">-</span>
                                                <input type="text" id="productQuantity" name="quantity" value="1"
                                                    min="1" class="quantity-selector quantity-input" readonly="">
                                                <span class="btnqty qtyplus icon-plus">+</span>
                                            </div>
                                        </div>
                                        <input type="submit" name="add" id="add" class="button button--primary"
                                            value="{{ add_to_cart | escape }}">
                                    </div>

                                    {% include 'guarantee' %}

                                </div>

    
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>





<div class="pt1 pb1 tc mb0 mb2--md bg--blue color--white hidden hidden">
    <div class="marquee">
        <div class="track">
          <div class="content">
            “beam does exactly what you want, magic.” -danica patrick<span class="pl4 pr4">•</span>
            “i fell in love with beam. i use it every day.” -baker mayfield<span class="pl4 pr4">•</span>
            ‘’beam is going to be the nike of the wellness world.” -billy horschel<span class="pl4 pr4">•</span>
            “beam does exactly what you want, magic.” -danica patrick<span class="pl4 pr4">•</span>
            “i fell in love with beam. i use it every day.” -baker mayfield<span class="pl4 pr4">•</span>
            ‘’beam is going to be the nike of the wellness world.” -billy horschel<span class="pl4 pr4">•</span>            
            “beam does exactly what you want, magic.” -danica patrick<span class="pl4 pr4">•</span>
            “i fell in love with beam. i use it every day.” -baker mayfield<span class="pl4 pr4">•</span>
            ‘’beam is going to be the nike of the wellness world.” -billy horschel<span class="pl4 pr4">•</span>
            “beam does exactly what you want, magic.” -danica patrick<span class="pl4 pr4">•</span>
            “i fell in love with beam. i use it every day.” -baker mayfield<span class="pl4 pr4">•</span>
            ‘’beam is going to be the nike of the wellness world.” -billy horschel<span class="pl4 pr4">•</span>                
        </div>
        </div>
      </div>

    </div>

<div class="mt4--md mb10--md pt2--md new-theone">

    <div class="mt10--md mb10--md" style="background-color: #EAF4FF;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image" src="{{ 'module-1_the-one-the-only_SQUARE.jpg' | asset_url }}">
                </div>
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image" src="{{ 'module-1_the-one-the-only_SQUARE.jpg' | asset_url }}">
                </div>
                <div class="col c1 show--md"></div>
                <div class="col c6--md">
                    <div class="tc mt3 hide--md "><span style="width: 38px;" class="dib ml1 mb1"><img class="full-width"
                                src="{{ 'icon_the-one-the-only.png' | asset_url }}"></span></div>
                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue">the one, the only <span
                            style="width: 38px;" class="show--md dib ml0 mb1"><img class="full-width"
                                src="{{ 'star-noback.png' | asset_url }}"></span></h2>
                    <p class="sans--body tc tl--md fw--400 mb4 color--black">
                        our approach to hemp oil is simple: source only the best, most sustainable ingredients. organic hemp seed and grape seed oils help compounds stay intact so you can absorb all the benefits of our hemp tincture. less stress and more calm = a better state of mind.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mt4 mb4 mt5--md mb2--md  new-theone" id="feeling-section">
    <div class="container pt2--md pb2--md">
      <div class="row align--center">
          <div class="col c11--md c10--lg">
              <img style="max-width: 60px;text-align:center;margin-right: auto;margin-left: auto;display:block" class="show--md mb2 mb3--md" src="{{ 'icon_whats-in-the-one.png' | asset_url }}">
  
      <h2 class="fw--600 sans--large mb1 mb3--md color--blue tc">how do i use<br class="hide--md"> the one?</h2>
	  <p class="sans--body text-center mb6--md show--md sub-preheading">everyone is different so we’re here to help you learn how to best introduce the one into your lifestyle.</p>
  
        <div class="row icon-section show--md">
  
            <div class="col c6--lg c6--md text-center " style="background-color: rgba(150, 198, 255, 0.18)">
				<img class="icon" src="{{ 'double-drop-icon.png' | asset_url}}">
				<h3 class="sub_heading fw--600 color--blue mt2 mb5">start low and grow </h3>
				<p class="sans--body color--blue">from 500mg to 2000mg, the one is offered in a range of potencies. if you’re new to hemp, we recommend starting with the lowest potency to gauge how you react to the benefits.
                </p>
			</div>

			<div class="col c6--lg c6--md text-center color--blue"  style="background-color: rgba(150, 198, 255, 0.60)" >
				<img class="icon" src="{{ 'happy-face-icon.png' | asset_url}}">
				<h3 class="sub_heading fw--600 mt2 mb5">see how you feel </h3>
				<p class="sans--body color--blue">there may be some learning as you go to find out what you prefer and how well you respond. everybody is unique!
                </p>
			</div>

			<div class="col c6--lg c6--md text-center color--blue"  style="background-color: rgba(150, 198, 255, 0.60)" >
				<img class="icon" src="{{ 'cycle-icon.png' | asset_url}}">
				<h3 class="sub_heading fw--600 mt2 mb5">use consistently </h3>
				<p class="sans--body color--blue">we suggest you use the one at the same time every day to best understand how it affects you and to keep a consistent level in your system.</p>
			</div>

			 <div class="col c6--lg c6--md text-center " style="background-color: rgba(150, 198, 255, 0.18)">
				<img class="icon" src="{{ 'mug-icon2.png' | asset_url}}">
				<h3 class="sub_heading fw--600 color--blue mt2 mb5">enjoy it multiple ways </h3>
				<p class="sans--body color--blue">you can add the one to anything from drinks to dressings. our favorite way to enjoy is under the tongue, as this can help it reach your digestive system faster. simply hold for 30 seconds then swallow.</p>
			</div>
          </div>


          <div class="row icon-section mobile-icon-section hide--md">
  
            <div class="col tc">
				<img class="icon" style="margin: 0 auto" src="{{ 'double-drop-icon.png' | asset_url}}">
				<h3 class="sub_heading fw--600 color--blue mt3 mb3">start low and grow </h3>
				<p class="sans--body color--blue">from 500mg to 2000mg, the one is offered in a range of potencies. if you’re new to hemp, we recommend starting with the lowest potency to gauge how you react to the benefits.
                </p>
			</div>

            <div class="col tc">
				<img class="icon" style="margin: 0 auto" src="{{ 'happy-face-icon.png' | asset_url}}">
				<h3 class="sub_heading color--blue fw--600 mt3 mb3">see how you feel </h3>
				<p class="sans--body color--blue">there may be some learning as you go to find out what you prefer and how well you respond. everybody is unique!
                </p>
			</div>

            <div class="col tc">
				<img class="icon" style="margin: 0 auto" src="{{ 'cycle-icon.png' | asset_url}}">
				<h3 class="sub_heading color--blue fw--600 mt3 mb3">use consistently </h3>
				<p class="sans--body color--blue">we suggest you use the one at the same time every day to best understand how it affects you and to keep a consistent level in your system.</p>
			</div>

            <div class="col tc">
				<img class="icon" style="margin: 0 auto" src="{{ 'mug-icon2.png' | asset_url}}">
				<h3 class="sub_heading fw--600 color--blue mt3 mb3">enjoy it multiple ways </h3>
				<p class="sans--body color--blue">you can add the one to anything from drinks to dressings. our favorite way to enjoy is under the tongue, as this can help it reach your digestive system faster. simply hold for 30 seconds then swallow.</p>
			</div>
          </div>
  
      </div>
  </div>
  
        </div>
    </div>
 


  <div class="testimonial new-theone mt10--md">
		<div class="row">
			<h2 class="fw--600 sans--large mb3 mb6--md color--blue tc">the one:<br class="hide--md"/> partner edition </h2>
		</div>
		<div class="row testimonial-slider">					
			<div class="each-slider mb3">
				<h3 class="sub_heading text-center"><span class="color--blue"><span class="color--lightblue fw--600">@nobread</span> • <span class="color--blue fw--600">1000mg mint</span></span></h3> 
				<div>
					<img src="{{ 'nobread-partner.jpg' | asset_url }}" />
				</div>
				<p class="sans--body">“i take 1500mg tincture every single morning. one dropper under my tongue right when i wake up. hold it for 30 seconds as it dissolves. for me personally it's done wonders for inflammation, anxiety, digestion, and restlessness. ” </p>				
				
			</div>
			<div class="each-slider mb3">
				<h3 class="sub_heading text-center"><span class="color--blue"><span class="color--lightblue fw--600">billy horschel</span> • <span class="color--blue fw--600">2000mg natural</span></span></h3> 
				<div>
					<img src="{{ 'billy-partner.jpg' | asset_url }}" />
				</div>
				<p class="sans--body">“i use the one to help calm myself down whenever i’m starting to feel a little anxious on the course.” </p>				
				
			</div>
			<div class="each-slider mb3">
				<h3 class="sub_heading text-center"><span class="color--blue"><span class="color--lightblue fw--600">sara hall</span> • <span class="color--blue fw--600">1500mg mint</span></span></h3> 
				<div>
					<img src="{{ 'sarahall2-partner.jpg' | asset_url }}" />
				</div>
				<p class="sans--body">“i take a dropper of beam’s the one under my tongue 30 mins before bed. hemp is a potent anti-inflammatory, which is always needed in hard training.” </p>				
				
			</div>
			<div class="each-slider mb3">
				<h3 class="sub_heading text-center"><span class="color--blue"><span class="color--lightblue fw--600">gus kenworthy</span> • <span class="color--blue fw--600">1000mg mint</span> </span></h3> 
				<div>
					<img src="{{ 'gus-partner.jpg' | asset_url }}" />
				</div>
				<p class="sans--body">“as a busy athlete training for the 2022 winter olympics, my schedule is stacked with training, traveling and balancing career demands. rest and recovery are essential to optimize performance as i continue to push my own physical limits.” </p>								
			</div>	
			</div>				
		<div>
		</div>
  </div>  

<div class="pt8--md"></div>

<div class="tc pt4 pb2 pt4--md pb7--md grid-section">
    <div class="container">
		<div class="col c6--lg c6--md c12--sm">
			<h4 class="color--lightblue sans--large fw--600">92%</h4>
			<h5 class="color--blue sans--large fw--400" style="font-style: italic;font-size:24px !important">felt a noticeable sense of calm after taking the one.<span class="cross-text">†</span></h5>
		</div>
		<div class="col c6--lg c6--md c12--sm">
			<h4 class="color--lightblue sans--large fw--600">84%</h4>
			<h5 class="color--blue sans--large fw--400" style="font-style: italic;font-size:24px !important"> felt their mood improve after taking the one.<span class="cross-text">†</span></h5>
		</div>      
    </div>
</div>





<div class="mt4 mb10--md pt2--md new-theone">

    <div class="mt10--md mb10--md" style="background-color: #EAF4FF;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image"
                    src="{{ 'the-one_rebrand-lifestyle_02.jpg' | asset_url }}">
                </div>
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image"
                    src="{{ 'the-one_rebrand-lifestyle_02.jpg' | asset_url }}">
                </div>
                <div class="col c1 show--md"></div>
                <div class="col c6--md">
                    <div class="tc mt3 hide--md "><span style="width: 38px;" class="dib ml1 mb1"><img class="full-width"
                                src="{{ 'icon_new-daily-ritual.png' | asset_url }}"></span></div>
                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue pr" style="max-width: 460px;">your new daily ritual <span
                            style="width: 38px;position: absolute; top: -8px; right: -29px"
                            class="show--md dib ml1 mb1"><img class="full-width"
                                src="{{ 'icon_new-daily-ritual.png' | asset_url }}"></span></h2>
                    <p class="sans--body tc tl--md fw--400 mb4 mb8--md color--black">
                        daily rituals keep us centered and balanced, and the one’s adaptability to any routine does just that. enjoy every day, as needed, whether that’s keeping it with your toothbrush for a morning serving or storing it on your counter for that lunchtime reminder. taking it at the same time each day will help you reap all the benefits.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="show--md mt1 mb1">
    <div class="mt1 mb2"><br>
    </div>
</div>



<div class="mt4 mb3 mt7--md mb10--md">
    <div class="container pt2--md pb2--md">
        <div class="row">

            <div class="col hide--md mb2 mb0--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/beam_TiaClairToomey_08_brighter.jpg?v=1624038721"
                                    media="(min-width: 800px)"><img class="full-width rounded-image"
                                    alt="an all-natural alternative"
                                    src="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/beam_TiaClairToomey_08_brighter.jpg?v=1624038721">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c7--md c6--lg pt1--md mb3 tc tl--md">
                <h6 class="sans--body mb3"><span class="color--white fw--600"
                        style="background-color:#94C6FF;padding: 2px 16px; border-radius: 5px; opacity: .6;">how they use the one</span></h6>

                <h2 class="fw--600 sans--large mb2 color--blue">why this crossfit champion loves the one</h2>
                <h3 class="fw--300 sans--body mb2">"i don’t know what i would do without my beam products. not only are they constantly trying to evolve and
                    create products that help with our recovery but they keep trying to think outside the box with their products.
                    the one would have to be a favorite of mine."</h3>

                <h2 class="sans--medium fw--600">tia-clair toomey-orr</h2>
                <span>5x crossfit games champion</span>

            </div>
            <div class="col c1--lg show--md"></div>

            <div class="col c5--md c5--lg mb2 mb0--md show--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/beam_TiaClairToomey_08_brighter.jpg?v=1624038721"
                                    media="(min-width: 800px)"><img class="full-width rounded-image"
                                    alt="an all-natural alternative"
                                    src="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/beam_TiaClairToomey_08_brighter.jpg?v=1624038721">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>




<div class="mt4 mb3 mt10--md mb10--md new-theone" id="insta-section">
    <div class="row text-center">
		<img style="max-width: 40px;" src="{{ 'light-blue-insta2.png' | asset_url }}" />
		<h2 class="fw--600 sans--large mt2 mb2" style="color: #94C6FF;"> how do you take<br class="hide--md"/> the one?
        </h2>
		<p class="sans--body fw--600 color--blue mb3 mb4--md" style="font-style: italic;"><a href="https://www.instagram.com/beam/" target="_blank">@beam</a></p>
	</div>
	<div class="row">
		<div class="col c2--lg c6--md c6--sm insta-img">
			<img src="{{ 'one-insta1.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img">
			<img src="{{ 'one-insta2.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img">
			<img src="{{ 'one-insta3.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img">
			<img src="{{ 'one-insta4.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--md">
			<img src="{{ 'one-insta5.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--md">
			<img src="{{ 'one-insta6.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--md">
			<img src="{{ 'one-insta7.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--md">
			<img src="{{ 'one-insta8-1.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--lg">
			<img src="{{ 'one-insta9-1.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--lg">
			<img src="{{ 'one-insta10.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--lg">
			<img src="{{ 'one-insta11.jpg' | asset_url }}">
		</div>	
		<div class="col c2--lg c6--md c6--sm insta-img show--lg">
			<img src="{{ 'one-insta12.jpg' | asset_url }}">
		</div>		
	</div>
</div>


<div class="mb5 mt5--md pt3 pb4 mb0--md container">
    <div class="pt4 pb6 pb10--md">
        <div class="brand-slider">
            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><span class="dib">
                        <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 130px;"
                                src="{{ 'maxim-logo.png' | asset_url }}">
                        </picture>
                    </span>
                </p>
                <h5 class="tc">"these pro-athlete-approved hemp products will improve physical and mental wellness."</h5>
            </div>
            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><span class="dib">

                        <picture class="promo__press-logo"><img class="promo__press-logo"
                                src="https://beam.imgix.net/beam-homepage-presslogo-forbes@2x.png?mtime=20190725113953&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                        </picture>
                    </span>
                </p>
                <h5 class="tc db">"[beam] is a great addition to an athlete’s nightly routine."</h5>
            </div>


            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><span class="dib">

                        <picture class="promo__press-logo"><img class="promo__press-logo"
                                src="https://beam.imgix.net/beam-homepage-presslogo-realsimple@2x_190725_183951.png?mtime=20190725113951&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                        </picture>
                    </span>
                </p>
                <h5 class="tc">"i've started using [beam] hemp everyday... and it changed my life."</h5>
            </div>

        </div>
    </div>
</div>




<div class="pr mb0 mb7--md color--primary of--hidden hidden"  id="new-theone">
 {% assign variant = product.selected_or_first_available_variant %}
                                    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default:
                                    product.featured_image %}
    <div class="push-up full-width mt4--md">
        <div class="container">
            <div class="row mt0 pt3--md pt0--md mt0--md mb2 pb0--md mb0--md">
                
                <div class="col c12--sm c6--md c7--lg c7--xl c7--xxxl ">
                    <img class="product_img" src="{{ product.featured_image | product_img_url: '1024x' }}" alt="{{ product.title | escape }}">
					<div class="row" style="background-color: #EAF4FF; margin: 0; margin-top: -8px; display: flex; align-items: center;">
						<div class="col c6--md c6--sm text-center" style="border-right: 1px solid #2C2F84;">
							<div class="detail-icon" style="padding: 10px 20px;">
								<img  style="height: 25px;"  src="{{ 'shipping-icon.png' | asset_url}}" />
								<p class="color--blue fw--600" style="font-size: 16px;">free shipping</p>
								<p class="color--blue" style="font-size: 13px;">for U.S. orders over $75</p>
							</div>
						</div>
						<div class="col c6--md c6--sm text-center" >
						   	<div class="detail-icon" style="padding: 10px 20px;">
								<img style="height: 25px;" src="{{ 'return-icon.png' | asset_url}}" />
								<p class="color--blue fw--600" style="font-size: 16px;">easy returns</p>
								<p  class="color--blue" style="font-size: 13px;">return within 30 days of ship date</p>
							</div>
						</div>
					</div>
               </div>                  
              
                <div class="col c12 c12--sm c6--md c5--lg c5--xl c5--xxxl bg--white rounded-more mb0 mb4--md pr"
                    style="max-width: 580px !important;">
                    <div class="p3" itemscope itemtype="http://schema.org/Product">

                        <div data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}">

                        
                                   
                                <form action="/cart/add" data-productid="{{ product.id }}" method="post" class="product-form"
                                id="add-to-cart" enctype="multipart/form-data">
                                            <div class="mb1">
                                                <h2 class="sans--large tc tl--md fw--600 color--blue mb2" id="new-title"
                                                    temprop="name">the one <br class="hide--md"/></h2>                                         
                                            </div>                                           
                                            <div class="rich-text tc tl--md sans--body fs--15" itemprop="description">
                                                <span>all the benefits of beam’s meticulously crafted hemp oil in an easy-to-use dropper.

                                                </span>

                                            </div>
                                            <div id="detailsModalBtn" class="fw--600 tc tl--md pointer underline mt2 color--blue detailsModalBtn2" style="position:relative;">
                                                <span class="">serving + product nutrition </span>
                                            </div>
                                            <div class="media__fixed mt2">

                                                {% if product.available and product.variants.size > 1 %}
                                                {% render 'swatch-the-one-new' for product.options as swatch %}
                                                {% endif %}
            
                                                {% assign hide_default_title = false %}
                                                {% if product.variants.size == 1 and product.variants.first.title contains 'Default'
                                                %}
                                                {% assign hide_default_title = true %}
                                                {% endif %}
                                                <div id="product-variants"
                                                    class="select--product-option hidden{% if hide_default_title %} hidden{% endif %}">
                                                    <select id="product-select" class="form-select" name="id"
                                                        data-productid="{{ product.id }}">
                                                        {% for variant in product.variants %}
                                                        <option class="form-select" {% if
                                                            variant==product.selected_or_first_available_variant %} selected{% endif
                                                            %} value="{{ variant.id }}">
                                                            {{ variant.title }} - {{ variant.price | money }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
            
            <div class="hide-md mb2"></div>
            
                                                <div class="mt3 mb4 show--md">
                                                    <div class="p2 tc" style="background-color: #EAF4FF; margin-left: -40px; margin-right: -40px;">
                                                                <p class="sans--small show--md tc fw--600 color--blue">
                                                                    <span class="fw--800 color--blue pr1">subscription perks</span> 20% off • free shipping • monthly delivery
                                                                </p>

                                                    </div>
                                                </div>
                                                <!-- Begin ReCharge code -->
                                                {% if product.available %}{% include 'subscription-product-dream' %}{% endif %}
                                                <!-- End ReCharge code -->
            
            
                                                <div id="product-add" class="form-action mt3 mb3">
                                                    <div class="qtydiv">
                                                        <div class="qtybox">
                                                            <span class="btnqty qtyminus icon-minus">-</span>
                                                            <input type="text" id="productQuantity" name="quantity" value="1"
                                                                min="1" class="quantity-selector quantity-input" readonly="">
                                                            <span class="btnqty qtyplus icon-plus">+</span>
                                                        </div>
                                                    </div>
                                                    <input type="submit" name="add" id="add" class="button button--primary"
                                                        value="{{ add_to_cart | escape }}">
                                                </div>
            
                                                {% include 'guarantee' %}
            
                                            </div>

    
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</div></div>