{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<div class="productView container mt3 mb4 hide--md ">
    <div itemscope itemtype="http://schema.org/Product">
        <div data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}">
            {% assign variant = product.selected_or_first_available_variant %}
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default:
            product.featured_image %}
            <div class="mt0 mt2--md pt4">
                <form action="/cart/add" data-productid="{{ product.id }}" method="post" class="product-form"
                    id="add-to-cart" enctype="multipart/form-data">
                    <div class="container">
                        <div class="tl">
                            {% include 'stars' %}
                        </div>
                        <div class="mb1">
                            <h1 class="sans--medium-large fw--600 color--blue"
                                style="line-height: 1; margin-bottom: 4px;" temprop="name">{{ product.title }}</h1>
                            <p class="sans--small fw--600 color--gray">{{ product.type }}</p>
                        </div>
					</div>
					<div class="of--hidden" data-image-gallery>
                        <div class="pdp-images slideshow slideshow-mobile product-photo-container">
                            {% for image in product.images%}
                            {% if forloop.index != 6 %}
                            {% if image != featured_image %}
                            {% if image != product.images[0] %}
                            <div class="slide slide-{{ forloop.index }}">
                                <img src="{{ image.src | product_img_url: '800x600', crop: 'center' }}">
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container">
                        <div class="pl1--md">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <div class="pt0 pt3--lg">
                                            <div class="hero__product-description rich-text" itemprop="description">
                                                soreness and fatigue are no match for this all-natural, hemp-infused balm. 
												the fixer is made with relaxing lavender oil, rejuvenating eucalyptus oil and organic beeswax. 
												simply rub this soothing salve on stiff or sore muscles for that much-needed relief. contains coconut.
                                            </div>
                                            <p id="detailsModalBtn1"
                                                class="mt2 mb2 fw--600 hero__product-description pointer underline color--blue">
                                                <span class="hide--md">tap</span><span class="show--md">click</span> for nutrition info</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="media__fixed">

                                    {% if product.available and product.variants.size > 1 %}
                                    {% render 'swatch' for product.options as swatch %}
                                    {% endif %}

                                    {% assign hide_default_title = false %}
                                    {% if product.variants.size == 1 and product.variants.first.title contains 'Default'
                                    %}
                                    {% assign hide_default_title = true %}
                                    {% endif %}
                                    <div id="product-variants"
                                        class="select--product-option{% if hide_default_title %} hidden{% endif %}">
                                        <select id="product-select" class="form-select" name="id"
                                            data-productid="{{ product.id }}">
                                            {% for variant in product.variants %}
                                            <option class="form-select" {% if
                                                variant==product.selected_or_first_available_variant %} selected{% endif
                                                %} value="{{ variant.id }}">
                                                {{ variant.title }} - {{ variant.price | money }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- Begin ReCharge code -->
                                    {% if product.available %} 	{% include 'subscription-product-dream' %}{% endif %}
                                    <!-- End ReCharge code -->
                                    <div class="sans--small pb2 hidden">
                                        <div id="product-price" itemprop="offers" itemscope
                                            itemtype="http://schema.org/Offer" class="delta">
                                            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                                            {% if product.available %}
                                            <link itemprop="availability" href="http://schema.org/InStock" />
                                            {% else %}
                                            <link itemprop="availability" href="http://schema.org/OutOfStock" />
                                            {% endif %}
                                            <p>
                                                {% assign variant = product.selected_or_first_available_variant %}
                                                {% if product.compare_at_price > product.price %}
                                                <span class="product-price on-sale" itemprop="price">{{ variant.price |
                                                    money }}</span>
                                                <s class="product-compare-price">{{ variant.compare_at_price | money
                                                    }}</s>
                                                {% else %}
                                                <span class="product-price sans--medium fw--600" itemprop="price">{{
                                                    variant.price | money }}</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div id="backorder" class="hidden tc">
                                        <p>{{ '%s is back-ordered. We will ship it separately in 10 to 15 days.' |
                                            replace: '%s', '<span id="selected-variant"></span>' }}</p>
                                    </div>
                                    <div id="product-add" class="form-action">
                                        <div class="qtydiv">
                                            <div class="qtybox">
                                                <span class="btnqty qtyminus icon-minus">-</span>
                                                <input type="text" id="productQuantity" name="quantity" value="1"
                                                    min="1" class="quantity-selector quantity-input" readonly="">
                                                <span class="btnqty qtyplus icon-plus">+</span>
                                            </div>
                                        </div>
                                        <input type="submit" name="add" id="add" class="button button--primary"
                                            value="{{ add_to_cart | escape }}">
                                    </div>
                                    {% include 'guarantee' %}
                                </div>
                            </div>
                        </div>
                    </div>				
				</div>
        	</form>
        </div>
	</div>
</div>

<div class="mt10 pt2 pr color--primary of--hidden show--md bg--blue-light hero--desktop">
    <picture class="">
        <source srcset="{{ 'hero-fixer.jpg' | asset_url }}" media="(min-width: 800px)" />
        <img class="hero__cover" alt="Hero image - Sleep" src="{{ 'hero-fixer.jpg' | asset_url }}" />
    </picture>
    <div class="push-up full-width mt4">
        <div class="grid-container contained">
            <div class="row mt0 pt3 pt0--md mt0--md mb2 pb0--md mb0--md">
                <div class="col c4--md c6--lg c7--xl c8--xxxl ">
                </div>
                <div class="col c12 c12--sm c7--md c6--lg c5--xl c4--xxxl show--md bg--white rounded-more mb4"
                    style="max-width: 520px !important;">
                    <div class="p3" itemscope itemtype="http://schema.org/Product">
                        <div data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}">
                            {% assign variant = product.selected_or_first_available_variant %}
                            {% assign featured_image = product.selected_or_first_available_variant.featured_image |
                            default: product.featured_image %}
                            <form action="/cart/add" data-productid="{{ product.id }}" method="post"
                                class="product-form" id="add-to-cart" enctype="multipart/form-data">
                                <div class="">
                                    <div class="">
                                        <div class="">
                                            <div class="mb1 show--lg">                                               
                                                <h2 class="sans--large fw--600 color--blue" style="margin-bottom: 4px;"
                                                    temprop="name">{{ product.title }}</h2>
                                                <!-- <p class="sans--small fw--600 color--gray">{{ product.type }}</p> -->
                                                {% include 'stars' %}
                                            </div>
                                            <div class="rich-text sans--body-new" itemprop="description">												
												soreness and fatigue are no match for this all-natural, hemp-infused balm. 
												the fixer is made with relaxing lavender oil, rejuvenating eucalyptus oil and organic beeswax. 
												simply rub this soothing salve on stiff or sore muscles for that much-needed relief. contains coconut.
                                            </div>
                                            <p id="detailsModalBtn2"
                                            class="show--md mt2 mb2 mb4--md fw--600 sans--body pointer underline color--blue"><span
                                                class="hide--md">tap</span><span class="show--md">click</span> for nutrition info</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="media__fixed">
                                    {% if product.available and product.variants.size > 1 %}
                                    {% render 'swatch' for product.options as swatch %}
                                    {% endif %}
                                    {% assign hide_default_title = false %}
                                    {% if product.variants.size == 1 and product.variants.first.title contains 'Default'
                                    %}
                                    {% assign hide_default_title = true %}
                                    {% endif %}
                                    <div id="product-variants"
                                        class="select--product-option{% if hide_default_title %} hidden{% endif %}">
                                        <select id="product-select" class="form-select" name="id"
                                            data-productid="{{ product.id }}">
                                            {% for variant in product.variants %}
                                            <option class="form-select" {% if
                                                variant==product.selected_or_first_available_variant %} selected{% endif
                                                %} value="{{ variant.id }}">
                                                {{ variant.title }} - {{ variant.price | money }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>                              
                                    <!-- Begin ReCharge code -->
                                    {% if product.available %}{% include 'subscription-product-dream' %}{% endif %}
                                    <!-- End ReCharge code -->
                                    <div class="sans--small pb2 hidden">
                                        <div id="product-price" itemprop="offers" itemscope
                                            itemtype="http://schema.org/Offer" class="delta">
                                            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                                            {% if product.available %}
                                            <link itemprop="availability" href="http://schema.org/InStock" />
                                            {% else %}
                                            <link itemprop="availability" href="http://schema.org/OutOfStock" />
                                            {% endif %}
                                            <p>
                                                {% assign variant = product.selected_or_first_available_variant %}
                                                {% if product.compare_at_price > product.price %}
                                                <span class="product-price on-sale" itemprop="price">{{ variant.price |
                                                    money }}</span>
                                                <s class="product-compare-price">{{ variant.compare_at_price | money
                                                    }}</s>
                                                {% else %}
                                                <span class="product-price sans--medium fw--600" itemprop="price">{{
                                                    variant.price | money }}</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div id="backorder" class="hidden tc">
                                        <p>{{ '%s is back-ordered. We will ship it separately in 10 to 15 days.' |
                                            replace: '%s', '<span id="selected-variant"></span>' }}</p>
                                    </div>
                                    <div id="product-add" class="form-action mt3 mb3">
                                        <div class="qtydiv">
                                            <div class="qtybox">
                                                <span class="btnqty qtyminus icon-minus">-</span>
                                                <input type="text" id="productQuantity" name="quantity" value="1"
                                                    min="1" class="quantity-selector quantity-input" readonly="">
                                                <span class="btnqty qtyplus icon-plus">+</span>
                                            </div>
                                        </div>
                                        <input type="submit" name="add" id="add" class="button button--primary"
                                            value="{{ add_to_cart | escape }}">
                                    </div>
                                    {% include 'guarantee' %}
                                </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Section 2 -->
<div class="pt1 pb1 tc bg--blue color--white hidden">
    <div class="marquee">
        <div class="track">
            <div class="content">
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
            </div>
        </div>
    </div>
</div>

<div class="mt4--md mb10--md pt2--md">

    <div class="mt10--md mb10--md" style="background-color: #EAF4FF;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image" src="{{ 'fixer-powerofthefixer.jpg' | asset_url }}">
                </div>
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image" src="{{ 'fixer-powerofthefixer.jpg' | asset_url }}">
                </div>
                <div class="col c1 show--md"></div>
                <div class="col c6--md">                 
                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue">the power of the fixer</h2>
                    <p class="sans--body tc tl--md fw--400 mb4 color--black">
                        a relaxing blend of soothing, all-natural topicals like lavender and eucalyptus help to relieve 
						stiff muscles and calm the senses. the fixer’s silk-like texture and relaxing essential oils provide
						 some much-needed meditation wherever you are.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="tc row mt10--md mb4--md pt6 align--center">
    <div class="col c11 c10--md c10--lg">
        <h2 class="sans--large tc fw--600 mb2 color--blue">what’s in <br class="show--md"> your fixer?</h2>
        <div style="max-width: 1600px; margin-left: auto; margin-right: auto" class="pt4--md pb3 pb4--md"  id="new-ingredient-section">
            <div class="show--md row align--center">
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'fixer-rich-oil.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">compound-rich hemp oil</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">                        
						our hemp oil is 20:1 hemp to CBG, resulting in a product that preserves the integrity of beneficial compounds, fatty acids and terpenes.
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'fixer-beeswax.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">organic beeswax</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        known to help soothe inflammation and discomfort.*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'fixer-organic-mct-oil.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">organic MCT oil</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        a skin-loving triglyceride, our MCT oil is sustainably derived from coconuts.
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'fixer-lavender-oil.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">lavender essential oil</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        one of the most studied medicinal plants, lavender essential oil is calming, non-comedogenic and antibacterial.
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'fixer-eucalyptus-oil.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">organic eucalyptus essential oil</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        chock full of eucalyptol, this essential oil is known to fight inflammation.* plus, it smells amazing.
                    </h5>
                </div>
            </div>
            <div class="ingredient-slider hide--md">
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'fixer-rich-oil.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">phytocompound-rich hemp oil</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        our hemp oil is 20:1 hemp to CBG, resulting in a product 
						that preserves the integrity of beneficial compounds, fatty acids and terpenes.
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'fixer-beeswax.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">organic beeswax</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        known to help soothe inflammation and discomfort.*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'fixer-organic-mct-oil.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">organic MCT oil</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
                        a skin-loving triglyceride, our MCT oil is sustainably derived from coconuts.
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;"  src="{{ 'fixer-lavender-oil.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">lavender essential oil</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        one of the most studied medicinal plants, lavender essential oil is calming, non-comedogenic and antibacterial. </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'fixer-organic-mct-oil.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">organic eucalyptus essential oil</h4>
                    <h5 class="tc pl1 pr1 pl5--md pr5--md">
						chock full of eucalyptol, this essential oil is known to fight inflammation.* plus, it smells amazing.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mt6 mt10--md mb10--md">

    <div class="mt10--md mb10--md" style="background-color: #EAF4FF;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image"
                        src="{{ 'howtouse.jpg' | asset_url }}">
                </div>
                <div class="col c6--md pt4--md">                   
                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue">how to use </h2>
                    <p class="sans--body tc tl--md fw--400 mb4 mb10--md color--black">
                        apply topically wherever you feel sore or stiff. include in your bedtime routine for added relaxation.
                    </p>
                </div>
                <div class="col c1 show--md"></div>
                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image"
                        src="{{ 'howtouse.jpg' | asset_url }}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tc pt6 pb2 pt10--md pb10--md grid-section">
    <div class="container">
		<div class="col c6--lg c6--md c12--sm">
			<h4 class="color--lightblue sans--large fw--600">98%</h4>
			<h5 class="color--blue sans--large fw--400" style="font-style: italic;">fall asleep faster when taking dream.<span class="cross-text">†</span></h5>
		</div>
		<div class="col c6--lg c6--md c12--sm">
			<h4 class="color--lightblue sans--large fw--600">100%</h4>
			<h5 class="color--blue sans--large fw--400 " style="font-style: italic;"> experience better sleep quality.<span class="cross-text">†</span></h5>
		</div>      
    </div>
</div>




<div class="mt4 mb10--md pt2--md">

    <div class="mt10--md mb10--md" style="background-color: #EAF4FF;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image"
                        src="{{ 'newroutine.jpg' | asset_url }}">
                </div>
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image"
                        src="{{ 'newroutine.jpg' | asset_url }}">
                </div>
                <div class="col c1 show--md"></div>
                <div class="col c6--md">                  
                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue pr">your recovery routine  </h2>
                    <p class="sans--body tc tl--md fw--400 mb4 mb8--md color--black">
                        with packed schedules, it can be hard to find time to re-center and ground ourselves. 
						applying the fixer is an intentional moment where we can not only help our muscles recover, 
						but tune into our bodies to feel present and balanced. it’s your mini-meditation balm, whenever you need it.  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="show--md mt1 mb1">
    <div class="mt1 mb2"><br>
    </div>
</div>

<div class="mt4 mb3 mt7--md mb10--md">
    <div class="container pt2--md pb2--md">
        <div class="row">
            <div class="col hide--md mb2 mb0--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="{{ 'proddescription.jpg' | asset_url }}"
                                    media="(min-width: 800px)"><img class="full-width rounded-image"
                                    alt="an all-natural alternative"
                                    src="{{ 'revive-proddescription.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c7--md c6--lg pt1--md mb3 tc tl--md">
                <h6 class="sans--body mb3"><span class="color--white bg--purple fw--600"
                        style="padding: 2px 16px; border-radius: 5px; opacity: .6;">they love us</span></h6>

                <h2 class="fw--600 sans--large mb2 color--blue">why the fittest people on earth love the fixer</h2>
                <h3 class="fw--300 sans--body mb2 color--blue">"after this week of training, i need to take a bath in this stuff. 
					beam hemp truly helps my body + muscles feel extremely better."
				</h3>
                <h2 class="sans--medium color--blue"><span class="fw--600">-brooke wells</span><span style="font-style: italic;">&nbsp crossfit games finalist</span></h2>
			</div>
            <div class="col c1--lg show--md"></div>
            <div class="col c5--md c5--lg mb2 mb0--md show--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="{{ 'proddescription.jpg' | asset_url }}"
                                    media="(min-width: 800px)"><img class="full-width rounded-image"
                                    alt="an all-natural alternative"
                                    src="{{ 'proddescription.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </div>
</div>

<div class="full-width pt6--md">
    <div class="row bg--blue align--middle gutter--none">
        <div class="col tc c6--md" style="background-color: #EAF4FF;">
            <img class="full-width" src="{{ 'subscribe.jpg' | asset_url }}">
            <h2 class="fw--600 sans--medium mt3 mb2 color--blue">the fixer subscription</h2>
            <h3 class="fw--300 sans--body color--blue mb1">join + save. skip or cancel any time.</h3>
            <span class="media__fixed tc"><span class="db color--blue fw--600 sans--medium">
                    $60.00
                    <s class="compare-at-price color--blue">$75.00</s>
                </span></span>
            <p class="sans--small color--blue fw--300 pt2">monthly delivery, no commitment</p>
            <div class="media__fixed mt2 mb5"><a title="learn more" id=""
                    class="add_to_cart_fixer pill--blue pt1 pb1 tc fw--800">add to cart 
                </a>
			</div>
        </div>
        <div class="col c6--md bg--blue color--white">
            <div class="p3 tc" style="max-width: 540px; margin: 0 auto;">
                <img class="" style="max-width: 62px;" src="{{ 'heart.png' | asset_url }}">
                <h2 class="sans--medium fw--600 mt3 mb1">say hello to your beam team.</h2>
                <p class="sans--body mb3">a letter from us to you.</p>
                <p class="sans--body">“it’s you, our customer, who makes beam everything it is: a community that
                    believes in a constant pursuit for better. whatever better means for you, we’re here to support you
                    in the journey.”
                </p>
                <p class="sans--body mt3">–johnny</p>
                <span class="sans--small" style="font-style: italic;">your customer experience superhero</span>

                <p class="sans--body mt4 fw--600">have questions? shoot us a text at <br class="hide--md">1 - 844 - 595-6972
                </p>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="mt4 mb3 mt7--md mb10--md new-theone" id="insta-section">
    <div class="row text-center">
		<img src="//cdn.shopify.com/s/files/1/0264/4076/1399/t/27/assets/light-blue-insta2.png?v=12249019507235363791" style="max-width: 40px;" />
		<h2 class="fw--600 sans--large mt2 mb2 " style="color: #94C6FF;">  love for the fixer </h2>
		<p class="sans--body fw--600 color--blue mb3 mb4--md" style="font-style: italic;"> @beam</p>
	</div>
	<div class="row">
		<div class="col c2--lg c6--md c6--sm insta-img">
			<img src="{{ 'fixer1.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img">
			<img src="{{ 'fixer2.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img">
			<img src="{{ 'fixer3.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img">
			<img src="{{ 'fixer4.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--md">
			<img src="{{ 'fixer5.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--md">
			<img src="{{ 'fixer6.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--md">
			<img src="{{ 'fixer7.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--md">
			<img src="{{ 'fixer8.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--lg">
			<img src="{{ 'fixer9.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--lg">
			<img src="{{ 'fixer10.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--lg">
			<img src="{{ 'fixer11.jpg' | asset_url }}">
		</div>
		<div class="col c2--lg c6--md c6--sm insta-img show--lg">
			<img src="{{ 'fixer12.jpg' | asset_url }}">
		</div>		
	</div>
</div>

<div class="mb5 mt5--md pt3 pb7 mb6--md container" >
    <div class="pt4 pb6 pb10--md">
        <div class="brand-slider" id="new-brand-slider">
            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><span class="dib">
                        <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 130px;"
                                src="{{ 'maxim-logo.png' | asset_url }}">
                        </picture>
                    </span>
                </p>
                <h5 class="tc">"these pro-athlete-approved hemp products will improve physical and mental wellness."</h5>
            </div>
            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><span class="dib">

                        <picture class="promo__press-logo"><img class="promo__press-logo"
                                src="https://beam.imgix.net/beam-homepage-presslogo-forbes@2x.png?mtime=20190725113953&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                        </picture>
                    </span>
                </p>
                <h5 class="tc db">"[beam] is a great addition to an athlete’s nightly routine."</h5>
            </div>
            <div class="mb2 mb0--md pl1 pr1">
                <p class="tc"><span class="dib">

                        <picture class="promo__press-logo"><img class="promo__press-logo"
                                src="https://beam.imgix.net/beam-homepage-presslogo-realsimple@2x_190725_183951.png?mtime=20190725113951&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                        </picture>
                    </span>
                </p>
                <h5 class="tc">"i've started using [beam] hemp everyday... and it changed my life."</h5>
            </div>
        </div>
    </div>
</div>

<div class="productView container mt1 mt2--md">
    <div itemscope itemtype="http://schema.org/Product">
        <div data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}">
            {% assign variant = product.selected_or_first_available_variant %}
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default:
            product.featured_image %}
            <div class="mt0 mt0--md pt0">
                <form action="/cart/add" data-productid="{{ product.id }}" method="post" class="product-form"
                    id="add-to-cart" enctype="multipart/form-data">
                    <div class="container hide--lg">
                        <div class="row">
                            <div class="col">
                                <div class="mb1">
                                    <h1 class="sans--medium-large color--blue fw--600" style="line-height: 1"
                                        temprop="name">{{product.title}}</h1>
                                    <p class="sans--small fw--600 color--gray">{{ product.type }}</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="tl mb2">
                                    {% include 'stars' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gutter--none">
                        <div class="col c5--md c6--lg c7--xl show--md">
                            <div class="of--hidden" data-image-gallery>
                                <div class="pdp-images slideshow slideshow-second product-photo-container">
                                    {% for image in product.images%}
                                    {% if forloop.index != 7 %}
                                    {% if image != featured_image %}
                                    {% if image != product.images[0] %}
                                    <div class="slide slide-{{ forloop.index }}">
                                        <img src="{{ image.src | product_img_url: '800x600', crop: 'center' }}">
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <img class="full-width mt2" src="{{ 'free-ship-returns-2.jpg' | asset_url }}">
                        </div>
                        <div class="col c7--md c6--lg c5--xl">
                            <div class="pl1--md">
                                <div class="container-mobile">
                                    <div class="">
                                        <div class="">
                                            <div class="pt0 pt3--lg">
                                                <div class="mb1 show--lg">
                                                    <h1 class="sans--large color--blue fw--600" temprop="name">
                                                        {{product.title}}</h1>
                                                    <p class="sans--small fw--600 color--gray">{{ product.type }}</p>
                                                    {% include 'stars' %}
                                                </div>
                                                <div class="sans--body-new rich-text" itemprop="description">
                                                    soreness and fatigue are no match for this all-natural, hemp-infused balm. the fixer is made with relaxing lavender oil, 
													rejuvenating eucalyptus oil and organic beeswax. simply rub this soothing salve on stiff or sore muscles for that much-needed relief. contains coconut.

                                                </div>
                                                <p id="detailsModalBtn"
                                                    class="mt2 mb2 fw--600 hero__product-description pointer underline color--blue">
                                                    <span class="hide--md">tap</span><span class="show--md">click</span>
                                                    for nutrition info</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media__fixed">

                                        {% if product.available and product.variants.size > 1 %}
                                        {% render 'swatch' for product.options as swatch %}
                                        {% endif %}

                                        {% assign hide_default_title = false %}
                                        {% if product.variants.size == 1 and product.variants.first.title contains
                                        'Default' %}
                                        {% assign hide_default_title = true %}
                                        {% endif %}
                                        <div id="product-variants"
                                            class="select--product-option{% if hide_default_title %} hidden{% endif %}">
                                            <select id="product-select" class="form-select" name="id"
                                                data-productid="{{ product.id }}">
                                                {% for variant in product.variants %}
                                                <option class="form-select" {% if
                                                    variant==product.selected_or_first_available_variant %} selected{%
                                                    endif %} value="{{ variant.id }}">
                                                    {{ variant.title }} - {{ variant.price | money }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <!-- Begin ReCharge code -->
                                        {% if product.available %}{% include 'subscription-product-dream' %}{% endif %}
                                        <!-- End ReCharge code -->
                                        <div class="sans--small pb2 hidden">
                                            <div id="product-price" itemprop="offers" itemscope
                                                itemtype="http://schema.org/Offer" class="delta">
                                                <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                                                {% if product.available %}
                                                <link itemprop="availability" href="http://schema.org/InStock" />
                                                {% else %}
                                                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                                                {% endif %}
                                                <p>
                                                    {% assign variant = product.selected_or_first_available_variant %}
                                                    {% if product.compare_at_price > product.price %}
                                                    <span class="product-price on-sale" itemprop="price">{{
                                                        variant.price | money }}</span>
                                                    <s class="product-compare-price">{{ variant.compare_at_price | money
                                                        }}</s>
                                                    {% else %}
                                                    <span class="product-price sans--medium fw--600" itemprop="price">{{
                                                        variant.price | money }}</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <div id="backorder" class="hidden tc">
                                            <p>{{ '%s is back-ordered. We will ship it separately in 10 to 15 days.' |
                                                replace: '%s', '<span id="selected-variant"></span>' }}</p>
                                        </div>
                                        <div id="product-add" class="form-action">
                                            <div class="qtydiv">
                                                <div class="qtybox">
                                                    <span class="btnqty qtyminus icon-minus">-</span>
                                                    <input type="text" id="productQuantity" name="quantity" value="1"
                                                        min="1" class="quantity-selector quantity-input" readonly="">
                                                    <span class="btnqty qtyplus icon-plus">+</span>
                                                </div>
                                            </div>
                                            <input type="submit" name="add" id="add" class="button button--primary"
                                                value="{{ add_to_cart | escape }}">
                                        </div>
                                        {% include 'guarantee' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>