<div class="ga-ab-wrap">
    <div class="pr color--primary of--hidden hide--md">
    
        <div class="push-up full-width bg--blue-light">
                <div class="mt2 pt3 pb2" >
                    <a href="/products/sleep-powder"><img style="width: 100%; line-height: 0;" alt="Hero image - Dream" src="{{ 'dream-homepage-hero_may21-NOCBD1-mobile_1000x800_crop_center.jpg' | asset_img_url: '1000x800', crop: 'center', format: 'pjpg' }}" /></a>
    
                    <div class="pl2 pr2">
                        <div class="sans--xxl tc mb2 pl4--md">
                            <h2 class="hero-main-title sans--xl color--blue mt2 mb2 fw--300">
                                your nightly drink <span class="fw--600">for better sleep</span>
                            </h2>
                            <p class="sans--medium hero-sub-title color--blue pb3 pb4--lg fw--300">
                                a delicious blend of sleep-enhancing vitamins, minerals, nano hemp and more.
                            </p>
    
                        <div class="tc"><a class="dib custom-button--wave-primary-top link--opacity pill" style="color: #fff !important; line-height: 2; background-color: #2f358e !important"  title="get yours now" href="/products/sleep-powder">shop our best seller</a></div>
                        </div>
                        <div class="tc mb2">{% include 'stars-dream-hero' %}</div>
                    </div>
    
                </div>
        </div>
    
    </div>
    
    <div class="mt10 pr color--primary of--hidden show--md bg--blue-light hero--desktop">
        <a title="get yours now" href="/products/sleep-powder"><picture class="">
            <source srcset="{{ 'dream-homepage-hero_may21-NOCBD2.jpg' | asset_url }}" media="(min-width: 800px)" />
            <img class="hero__cover" alt="Hero image - Sleep" src="{{ 'dream-homepage-hero_may21-NOCBD2.jpg' | asset_url }}" /></picture>
            </a>
        <div class="push-up full-width mt4">
            <div class="grid-container contained">
                <div class="row mt0 pt3 pt0--md mt0--md mb2 pb0--md mb0--md" >
    
                    <div class="col c12 c12--sm c6--md c5--lg c5--xl show--md">
                        <div class="tc tl--md mb2 p5 pt7 pl4--lg pr3--lg pl3--md">
                        <a href="/products/sleep-powder#dream-powder-reviews">{% include 'stars-dream-hero' %}</a> 
                        <h2 class="hero-main-title sans--large fw--600 color--blue mt1 mb3 show--md">
                            your nightly drink<br><span class="fw--600">for better sleep</span>
    
                        </h2>
                        <p class="sans--medium hero-sub-title color--blue pb5" style="max-width: 400px;">a delicious blend of sleep-enhancing vitamins, minerals, nano hemp and more.</p>
                        <div class="tl"><a class="dib custom-button--wave-primary-top link--opacity pill" style="color: #fff !important; line-height: 2; background-color: #2f358e !important"  title="get yours now" href="/products/sleep-powder">shop our best seller <span>→</span></a></div>
                        </div>
                    </div>
                    <div class="col c12 c12--sm c7--md c8--lg show--md">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="pt1 pb1 tc bg--blue color--white">
        <div class="marquee">
            <div class="track">
              <div class="content">
                "beam does exactly what you want, magic." –danica patrick  <span class="pl4 pr4">•</span>   "beam is going to be the nike of the wellness world." –billy horschel<span class="pl4 pr4">•</span> 
                     "beam does exactly what you want, magic." –danica patrick  <span class="pl4 pr4">•</span>   "beam is going to be the nike of the wellness world." –billy horschel<span class="pl4 pr4">•</span> 
                     "beam does exactly what you want, magic." –danica patrick  <span class="pl4 pr4">•</span>   "beam is going to be the nike of the wellness world." –billy horschel<span class="pl4 pr4">•</span> 
                     "beam does exactly what you want, magic." –danica patrick  <span class="pl4 pr4">•</span>   "beam is going to be the nike of the wellness world." –billy horschel<span class="pl4 pr4">•</span> 
    
            
            </div>
            </div>
          </div>
    
        </div>
    

    

    <div class="mb0 pt4 pb4 pt7--md pb8--md tc" style="background-color: #fbfcff;">
        <h2 class="fw--600 sans--large mb2 color--blue pr1 pl1">start with these beam favorites</h2>
        <div class="row align--center mb1 mb3--md">
            <div class="col c10--sm c7--md c5--xl">
                <div class="tc">
                    <h3 style="line-height: 1.4;" class="fw--400 sans--body mb3 pl1 pr1">the highest quality functional supplements for better balance, energy, recovery and sleep, and is trusted by our partners and wellness community.</h3>
                </div>
            </div>
    
        </div>
              <div class="grid-container contained">
                  <div class="row align--center">
                      <div class="col c9--lg">
                          <div class="row gutter--vertical align--center">
        
                                    {% for product in collections.start-with-these.products %}
                                    <div class="col c6--sm c4--md hide-{{product.handle}}">
                                        <div class="product-card">
                                            {% include 'product-grid-hydration' with 'three-per-row' %}
                                        </div>
                                    </div>
                                    {% endfor %}
        
        
        </div>
        </div>
        </div>
        </div>
        <div class="container mt5">
            <div class="row align--center">
                <div class="col c10--md">
            <img class="show--md" style="width: 100%;" src="{{ 'NC-Icons.png' | asset_url }}">
            <img class="hide--md" style="width: 100%;" src="{{ 'NC-icons-mobile.png' | asset_url }}">
            </div>
        </div>
        </div>
        </div>
    

        
    
    <div style="background-color: #E9F2FF;" class="p1 tc pt2 pb2 mt0 mt0--md mb4 bg--blue">
        <div class="container--small" style="max-width: 580px; margin: 0 auto;">
          <h2 class="sans--medium-large mb2 color--blue pt3 fw--600">
            30 day money-back guarantee
          </h2>      
        <p class="sans--body pb4" style="font-size: 20px !important;line-height: 1.4 !important">
            love it or your money back. we stand behind our satisfaction guarantee and if you’re unhappy with your beam, we’ll refund your first order.
        </p>
        </div>
                </div>
        
    
    <div class="mt2 mb8 mt10--md mb10--md">
        <div class="container pt2--md pb2--md">
            <div class="row">

                <div class="col c5--md c5--lg mb2 mb0--md">
                    <div class="">
                        <div class="pr">
                            <div class="push-up" style="border-radius: 20px;">
                                    <picture class="full-width">
                                        <source
                                            srcset="{{ 'mathewfras__b_e_a_c_o_n_2021_01_29_07_06_30.jpg' | asset_url }}"
                                            media="(min-width: 800px)"><img class="full-width"
                                            alt="an all-natural alternative"
                                            style="border-radius: 28px;"
                                            src="{{ 'mathewfras__b_e_a_c_o_n_2021_01_29_07_06_30.jpg' | asset_url }}">
                                    </picture>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col c1--lg show--md"></div>

                <div class="col c7--md c6--lg pt6--md mb3 tc tl--md">
                    <h6 class="sans--body mb3"><span class="color--white bg--purple fw--600" style="padding: 2px 16px; border-radius: 5px; opacity: .6;">they love us</span></h6>
    
                  <h2 class="fw--600 sans--large mb2 color--blue">why the fittest man on earth loves dream</h2>
                  <h3 class="fw--300 sans--medium mb2">"at 10:00pm every night, we turn off the tv and cozy up with a cup of @beam dream. we talk about the day, the future and spend time winding down before bed."</h3>
                      
                  <h2 class="sans--medium fw--600">-mat fraser</h2>
                  <span>5x fittest man on earth</span>
      
                    </div>
      
      
            </div>
        </div>
      </div>
      </div>
    
    
    
      <div class="mt6 mb8 mt6--md mb10--md">
        <div style="max-width: 1200px;" class="container pt2--md pb2--md">
            <div class="brand-slider">
                <div class="mb2 mb0--md pl1 pr1">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 130px;"
                                    src="{{ 'maxim-logo.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h5 class="tc">"these pro-athlete-approved hemp products will improve physical and mental wellness."</h5>
                </div>
                <div class="mb2 mb0--md pl1 pr1">
                    <p class="tc"><span class="dib">
    
                            <picture class="promo__press-logo"><img class="promo__press-logo" 
                                    src="https://beam.imgix.net/beam-homepage-presslogo-forbes@2x.png?mtime=20190725113953&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                            </picture>
                        </span>
                    </p>
                    <h5 class="tc db">"[beam] is a great addition to an athlete’s nightly routine."</h5>
                </div>
    
    
                <div class="mb2 mb0--md pl1 pr1">
                    <p class="tc"><span class="dib">
    
                            <picture class="promo__press-logo"><img class="promo__press-logo"
                                    src="https://beam.imgix.net/beam-homepage-presslogo-realsimple@2x_190725_183951.png?mtime=20190725113951&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                            </picture>
                        </span>
                    </p>
                    <h5 class="tc">"i've started using [beam] hemp oil everyday... and it changed my life."</h5>
                </div>
    
            </div>
        </div>
    </div>
    

    
      <div class="mt4 mb4 mt0--md mb8--md">
        <div class="container">
            <div class="row">
                <div class="col c6--md">
                    <a target="_blank" href="https://beamtlc.com/pages/sms-support"><img class="full-width" src="{{ 'have-questions-text-us.jpg' | asset_url }}">
                    </div>
                <div class="col c6--md mt2 mt0--md">
                    <a href="/pages/refer"><img class="full-width" src="{{ 'give20-get20-beam.jpg' | asset_url }}">
            </div>
            </div>
        </div>
    </div>


    <div class="mt2 mb5 mt6--md mb4--md">
        <div class="container tc benefits-grid">
            <h2 class="fw--600 sans--large mb4 color--blue pr1 pl1">what do you need?</h2>
            <p class="sans--body pb6" style="max-width: 780px; margin: 0 auto;">

                four product categories based on key health benefits to support your wellness goals
      
      </p>
            <div class="row gutter--none">
            <div class="col c6 c3--md mb4 mb0--md">
                <div class="p1">
                    <a href="/collections/balance"><img class="benefits-name" style="width: auto; height: 40px" src="{{ 'NC-balance.png' | asset_url }}"></a>
                    <a href="/collections/balance"><img style="width: 100%;" src="{{ 'balance-fam-BO.jpg' | asset_url }}"></a>
                </div>
                <a href="/collections/balance" class="color--blue sans--body fw--600">shop balance <span>→</span></a>
            </div>
            <div class="col c6 c3--md mb4 mb0--md">
                <div class="p1">
                    <a href=" /collections/energy"><img class="benefits-name" style="width: auto; height: 40px" src="{{ 'NC-energy.png' | asset_url }}"></a>
                    <a href=" /collections/energy"><img style="width: 100%;" src="{{ 'energy-fam-BO.jpg' | asset_url }}"></a>
                </div>
                <a href=" /collections/energy" class="color--blue sans--body fw--600">shop energy <span>→</span></a>
            </div>
            <div class="col c6 c3--md">
                <div class="p1">
                    <a href="/collections/recovery"><img class="benefits-name" style="width: auto; height: 40px" src="{{ 'NC-rec.png' | asset_url }}"></a>
                    <a href="/collections/recovery"><img style="width: 100%;" src="{{ 'recovery-fam-BO.jpg' | asset_url }}"></a>
                </div>
                <a href="/collections/recovery" class="color--blue sans--body fw--600">shop recovery <span>→</span></a>
            </div>
            <div class="col c6 c3--md">
                <div class="p1">
                    <a href="/collections/sleep"><img class="benefits-name" style="width: auto; height: 40px" src="{{ 'NC-sleep.png' | asset_url }}"></a>
                    <a href="/collections/sleep"><img style="width: 100%;" src="{{ 'sleep-fam-BO.jpg' | asset_url }}"></a>
                </div>
                <a href="/collections/sleep" class="color--blue sans--body fw--600">shop sleep <span>→</span></a>
            </div>       
        </div>
    </div>
    <div class="mt4 tc">
        <a href="/collections/all-products-collection-page" style="border: 1px solid #2C2F84;" class="pill p4 pt1 pb1 fw--600 color--blue">shop all</a>
</div>

</div>
    
    
    <script>
    
    
    

        
      $('.brand-slider').slick({
        autoplay: true,
        slidesToShow: 3,
         slidesToScroll: 1,
        fade: false,
        useTransform: true,
        arrows: false,
        dots: false,
        autoplaySpeed: 5000,
        adaptiveHeight: false,
        pauseOnHover: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              fade: false
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 1,
              fade: false,
              arrows: false,
              dots: true,
              customPaging: function (slider, i) {
            return $('<button type="button" />').text(i + 1);
              }        
            }
          }
        ]
      });
    </script>
    
    <style>
    @media (min-width: 1200px) {
    .hero--desktop {
        min-height: 640px;
    }
    }
        .pill {
            border-radius: 6px;
            display: inline-block;
            border: #2F358E;
            transition: 200ms ease-in-out;
            min-width: 230px
        }
        .hero--desktop .pill {
            min-width: 310px
        }
        .pill:hover {
            background-color: #E9F2FF;
        }
    @media screen and (max-width: 600px) {
    
    .template-page .slick-dots {
      top: auto !important;
      bottom: -20px !important;
      left: auto !important;
      right: auto;
      text-align: center;
    }
    .template-page .slick-dots li button {
        text-indent: -1000px;
        border-radius: 100%;
        border: solid rgb(88 88 88 / 78%) 1px;
        background-color: #ffffff;
        width: 14px;
        height: 14px;
    }
    .template-page .slick-dots li.slick-active button {
      background-color: #2F358E;
    }
    }
    
    
    @media screen and (max-width: 1340px) {
        .hero__cover {
        position: absolute;
        top: 0;
        left: 0;
        right: -20%;
        bottom: 0;
        width: 120%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    
    }
    }
    .marquee {
      position: relative;
      width: 100vw;
      max-width: 100%;
      height: 26px;
      overflow-x: hidden;
    }
    .marquee .content {
        font-size: 18px;
        line-height: 26px;
    }
    
    .track {
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 74s linear infinite;
    }
    
    @keyframes marquee {
      from { transform: translateX(0); }
      to { transform: translateX(-50%); }
    }
    
    @media screen and (max-width: 600px) {
    
        .marquee {
      position: relative;
      width: 100vw;
      max-width: 100%;
      height: 22px;
      overflow-x: hidden;
    }
    .marquee .content {
        font-size: 16px;
        line-height: 22px;
    }
    
    .track {
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 124s linear infinite;
    }
    
    .benefits-grid .benefits-name {
        height: 30px !important;
    }
    
    }
    
    
    </style>