<!-- Dream Powder Product ID for reviews at the bottom of the page -->
{% assign product_id = 4528614113335 %}

  

<div class="hide--md mt3">
    <img src="{{ 'IMG_67281.jpg' | asset_url }}" style="max-width: 100%;" alt="dream hero image">
</div>

<div class="grid-container contained">
    <!-- Section 1 -->
    <div class="row mt1 mt6--md pt1--md align--center">

        <div class="col pt6--md c4--md c4--lg pb2">
                <h2 class="pt2 pt1--md pt2--lg pt9--xxl sans--large fw--600 color--blue">
                    the fittest athletes on earth joined the beam team. and so can you.
                </h2>
                {% include 'stars' %}             
                <p class="sans--body color--black fw--400 pt2 pt3--md">
                    beam creates the highest quality functional supplements for better balance, energy, recovery and sleep. trusted by top athletes such as mat fraser, tia-clair toomey-orr-orr, brooke wells and katrin davidsdottir.
                </p>
        
                    <p class="sans--body color--black fw--400 pt2">
                        for a limited time only, enjoy <strong>30% off</strong> the first month of your beam subscription with the code <strong>CROSSFIT</strong>.
                    </p>

                <div class="pt1 pt1--md pt1--lg pt2--xl pb1 pb0--md">
                <div class="media__fixed mt4 mt5--md mb2 tl tl--md">
                    <a class="dib custom-button--wave-primary-top link--opacity pill" style="color: #fff !important; line-height: 2; background-color: #2f358e !important" title="get yours now" href="/products/sleep-powder">shop now <span>→</span></a>
                </div>

            </div>

        </div>
        <div class="col c1 show--md"></div>
        <div class="col c5--md c5--lg pb4 pr show--md">
            <img src="{{ 'IMG_67281.jpg' | asset_url }}" class="mt8" style="max-width: 100%;border-radius: 20px;" alt="dream hero image">
        </div>
    </div>
</div>

<!-- Section 2 -->
<div class="pt1 pb1 tc color--white hidden bg--blue hidden">
    <div class="marquee">
        <div class="track">
            <div class="content">
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>               
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo <span class="pl3 pr3 pl8--md pr8--md">•</span> dairy free <span
                    class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span>
                no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
            </div>
        </div>
    </div>

</div>





        <div class="row align--center mb1 pt5 pt7--md mb1--md">
            <div class="col c11 c10--sm c8--md c7--xl">
                <div class="tc">
                    <h2 class="sans--large fw--600 sans--large tc mb3">
                        subscription perks
                    </h2>
                </div>

            </div>
        </div>
        <div class="container">

        <div class="row mb3 mb2--md">

            <div class="col tc c6 c3--md">
                <img class="" src="{{ 'savings-new.png' | asset_url }}" style="max-width: 80px" alt="dream hero image">
                    <h6 class="san--small fw--600 mt1 mb3">
                        savings for days
                    </h6>
            </div>
            <div class="col tc c6 c3--md">
                <img class="" src="{{ 'free-shipping.png' | asset_url }}" style="max-width: 80px;" alt="dream hero image">
                    <h6 class="san--small fw--600 mt1 mb3">
                        free shipping
                    </h6>
            </div>
            <div class="col tc c6 c3--md">
                <img class="" src="{{ 'pause-skip.png' | asset_url }}" style="max-width: 80px" alt="dream hero image">
                    <h6 class="san--small fw--600 mt1 mb3">
                        pause or skip
                    </h6>
            </div>
            <div class="col tc c6 c3--md">
                <img class="" src="{{ 'vip-support.png' | asset_url }}" style="max-width: 80px" alt="dream hero image">
                    <h6 class="san--small fw--600 mt1 mb3">
                        VIP support
                    </h6>
            </div>
        </div>
    </div>



            
        <div class="mt2 mb5 mt7--md mb4--md pt5 pb8 bg--blue-light">
            <div class="container tc benefits-grid-cf">
                <h6 class="sans--body mb4"><span class="color--white fw--600" style="background-color: #3D7CC9; padding: 2px 16px; border-radius: 5px; opacity: .6;">what do you need?</span></h6>
                <h2 class="fw--600 sans--large mb2 pr1 pl1">meet the beam 4</h2>
                <p class="sans--medium pb6" style="max-width: 580px; margin: 0 auto;">
    
                    four product categories based on key health benefits to support your wellness goals
          
          </p>
                <div class="row gutter--none show--md">
                <div class="col c6 c6--md mb4 mb0--md">
                    <div class="p1 pr p4--md">
                        <img class="benefits-name" style="width: auto; height: 32px" src="{{ 'NC-balance.png' | asset_url }}">
                        <a class="benefits-image" href="/collections/balance"><img class="rounded-large" style="width: 100%;" src="{{ 'balance-family.jpg' | asset_url }}">
                        <div class="benefits-link-wrap"><span class="benefits-link color--blue sans--medium fw--600">shop balance <span>→</span></span></div>
                    </a>
                    </div>
                </div>
                <div class="col c6 c6--md mb4 mb0--md">
                    <div class="p1 pr p4--md">
                        <img class="benefits-name" style="width: auto; height: 32px" src="{{ 'NC-energy.png' | asset_url }}">
                        <a class="benefits-image" href=" /collections/energy"><img class="rounded-large" style="width: 100%;" src="{{ 'energy-family.jpg' | asset_url }}">
                            <div class="benefits-link-wrap"><span class="benefits-link color--blue sans--medium fw--600">shop energy <span>→</span></span></div>
                    </a>
                    </div>
                </div>
                <div class="col c6 c6--md">
                    <div class="p1 pr p4--md">
                        <img class="benefits-name" style="width: auto; height: 32px" src="{{ 'NC-rec.png' | asset_url }}">
                        <a class="benefits-image" href="/collections/recovery"><img class="rounded-large" style="width: 100%;" src="{{ 'recovery-family.jpg' | asset_url }}">
                            <div class="benefits-link-wrap"><span class="benefits-link color--blue sans--medium fw--600">shop recovery <span>→</span></span></div>
                    </a>
                    </div>
                </div>
                <div class="col c6 c6--md">
                    <div class="p1 pr p4--md">
                        <img class="benefits-name" style="width: auto; height: 32px" src="{{ 'NC-sleep.png' | asset_url }}">
                        <a class="benefits-image" href="/collections/sleep"><img class="rounded-large" style="width: 100%;" src="{{ 'sleep-family.jpg' | asset_url }}">
                            <div class="benefits-link-wrap"><span class="benefits-link color--blue sans--medium fw--600">shop sleep <span>→</span></span></div>
                    </a>
                    </div>
                </div>       
            </div>
            <div class="row gutter--none hide--md">
                <div class="col c6 c3--md mb4 mb0--md">
                    <div class="p1">
                        <a href="/collections/balance"><img style="width: 100%;" src="{{ 'NC-beam-elevate-balance-0714.png' | asset_url }}"></a>
                    </div>
                    <a href="/collections/balance" class="color--blue sans--body fw--600">shop balance <span>→</span></a>
                </div>
                <div class="col c6 c3--md mb4 mb0--md">
                    <div class="p1">
                        <a href=" /collections/energy"><img style="width: 100%;" src="{{ 'NC-beam-focus-lifestyle-1813.png' | asset_url }}"></a>
                    </div>
                    <a href=" /collections/energy" class="color--blue sans--body fw--600">shop energy <span>→</span></a>
                </div>
                <div class="col c6 c3--md">
                    <div class="p1">
                        <a href="/collections/recovery"><img style="width: 100%;" src="{{ 'NC-Group.png' | asset_url }}"></a>
                    </div>
                    <a href="/collections/recovery" class="color--blue sans--body fw--600">shop recovery <span>→</span></a>
                </div>
                <div class="col c6 c3--md">
                    <div class="p1">
                        <a href="/collections/sleep"><img style="width: 100%;" src="{{ 'NC-beam-sleep-lifestyle-1822.png' | asset_url }}"></a>
                    </div>
                    <a href="/collections/sleep" class="color--blue sans--body fw--600">shop sleep <span>→</span></a>
                </div>       
            </div>
        </div>
        <div class="mt6 tc">
            <a href="/collections/all-products-collection-page" style="border: 1px solid #2C2F84;" class="pill p4 pt1 pb1 fw--600 bg--white color--blue">shop all</a>
    </div>
    
    </div>
        


<div class="pb6 pb8--md">
        <div class="">
            <div class="row align--center mb1 pt3 pt7--md mb2--md">
                <div class="col c11 c10--sm c6--md">
                    <div class="tc">
                        <h2 class="sans--large tc fw--600 mb3">even the fittest in the world <br class="show--md"/>need better sleep</h2>
                    </div>
                </div>
                <div class="mt2 mb1 mt3--md mb2--md partner-slider">


                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr8--lg pl8--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'IMG_1073.JPG' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">katrin davidsdottir
                            </h5>
                            <p class="sans--body">"I am ALL about routines & Beam Dream has become a staple in my night time one 😴 Every night I steam up some oatmilk with a scoop of dream & it’s the creamiest little treat. Such a cozy time in my night & helps wind me down & get ready for a good nights sleep!"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;"> 2x CrossFit<br class="show--md"/> Champion</p>
                        </div>
                    </div>
                    
            
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr8--lg pl8--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'mathewfraser_2.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">mat fraser
                            </h5>
                            <p class="sans--body">"beam, then dream. that’s our nighttime mantra around here. one cup of dream right before bed and it’s “lights out”. with melatonin, magnesium, reishi, l-theanine, and beam nano hemp... this healthy take on hot chocolate is the best part of bedtime"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;"> 5x crossfit games champion,<br class="show--md"/>  fittest man on earth</p>
                        </div>
                    </div>
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr8--lg pl8--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'brookewells_2.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">brooke wells
                            </h5>
                            <p class="sans--body">“you guys all know how much i love my beam dream drink every night 😋 makes me sleep like a queen 😴😋 nano hemp, with sleep promoting magnesium & melatonin. 💤”
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">6x crossfit<br class="show--md"/>  games athlete</p>
                        </div>
                    </div>
  
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr8--lg pl8--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'tia_3.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                tia-clair toomey-orr-orr
                            </h5>
                            <p class="sans--body">
"For me SLEEP is crucial for optimal recovery and with Dream I can get a great nights sleep that allows me to fully rest a recovery after a full day of training. Every night about an hour before bed, Shane and I will sit and have a cup of Dream while watching some TV to decompress from our busy day."
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">
                                5x crossfit games champion, 
                                <br class="show--md"/>
                                Olympian
                            </p>
                        </div>
                    </div>
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr8--lg pl8--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'danispeegle_2.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                Dani Speegle
                            </h5>
                            <p class="sans--body">
"I’ve been using the dream powder for so long now that it’s become just a part of my routine. Every night it just happens."
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">
                                CrossFit 
                                <br class="show--md"/>
                                Games Athlete
                            </p>
                        </div>
                    </div>
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr8--lg pl8--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'amandabarnhart_4.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                Amanda Barnhart
                            </h5>
                            <p class="sans--body">
"Every day is beam day for me✨ LOVE this stuff so much, especially the nighttime Dream powder for amazing sleep."
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">
                                3x CrossFit 
                                <br class="show--md"/>
                                Games Athlete
                            </p>
                        </div>
                    </div>
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr8--lg pl8--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'steph-crossfit.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">stefi cohen
                            </h5>
                            <p class="sans--body" style="text-transform: lowercase !important;">
                                "I have a hard time shutting down and falling asleep after a long day of working and training but thanks to Beam Dream, I’m able to close my eyes and fall asleep right away and wake up ready to crush the day."
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">founder of hybrid<br class="show--md"/> performance method</p>
                        </div>
                    </div>
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr8--lg pl8--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'baylee_1.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                Baylee Rayl
                            </h5>
                            <p class="sans--body">
"Beam is here to fulfill your sleep needs and DREAM is the answer. 😍🤍🙏🏼 it is no joke and my sleep stats prove it."
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">
                                2x CrossFit Games
                                <br class="show--md"/>
                                Team Athlete
                            </p>
                        </div>
                    </div>
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr8--lg pl8--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'haleyadams_3.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                Hayley Adams
                            </h5>
                            <p class="sans--body">
"dream + a full day of training = an amazing night of sleep. Consistent sleep = better training, clear mentality, and positive mood. 🧘‍♀️"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">
                                2020 4th Fittest 
                                <br class="show--md"/>
                                Woman on Earth
                            </p>
                        </div>
                    </div>

            
                </div>
            </div>
            </div>

</div>

</div>




    <div class="tc pl1 pr1 pt4 pt3--md pb4 pb8--md"><div class="container">
        <div class="tc">
            <h2 class="sans--large tc fw--600 mb3" style="color: #3D7CC9;">as seen on</h2>
        </div>
<div class="fitVids-wrapper">
        <iframe width="1020" height="630" src="https://www.youtube.com/embed/O9iEjv0blc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
        
</div>

<div class="bg--blue-light pt6 pt8--md">
<div class="tc row mb4 mb3--md align--center">
    <div class="col c11 c8--md c6--lg">
        <h2 class="sans--large tc fw--600 mb3">about beam</h2>
        <p class="sans--medium tc fw--400 mb2 color--black">
            our mission is simple: we're here to elevate your everyday so you can be your best self, always. we make products with the highest quality ingredients because we believe everyone deserves a chance to experience what better feels like — better sleep, energy, recovery and state of mind.

        </p>
    </div>

</div>
<div class="container">
    <div class="row align--center pb5 pb8--md">
        <div class="col c10--md">
    <img class="show--md" style="width: 100%;" src="{{ 'NC-Icons.png' | asset_url }}">
    <img class="hide--md" style="width: 100%;" src="{{ 'NC-icons-mobile.png' | asset_url }}">
    </div>
</div>
</div>
</div>


<div class="row align--center mb1 pt5 pt7--md mb1--md">
    <div class="col c11 c10--sm c8--md c7--xl">
        <div class="tc">
            <h2 class="sans--large tc mb3">
                for a limited time only, enjoy <strong>30% off</strong> the first month of your beam subscription with the code <strong>CROSSFIT</strong>.
            </h2>
        </div>

    </div>
</div>


<div class="mt4 tc">
    <a href="/collections/all-products-collection-page" style="background-color: #2C2F84; border: 1px solid #2C2F84;" class="pill p4 pt1 pb1 fw--600 bg--white color--white">shop all</a>
</div>
    <!-- Section 7 -->
    <div class="pt6 pb0 pt8--md pb8--md">

    <div class="yotpo yotpo-main-widget" data-product-id="{{ product_id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
  
    </div>
    {% include 'klaviyo' %}

<style>
    .partner-slider * {text-transform: lowercase !important;}
      .benefits-link-wrap {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 80px;
        left: 0;
    }
    .benefits-link {
 
    }
    @media (min-width: 800px) {
        .benefits-link.sans--medium {
            font-size: 24px;
        }
    }
    .benefits-grid-cf div.pr .benefits-link span {transition: ease-in-out 120ms;}
    .benefits-grid-cf div.pr:hover .benefits-link span{
        margin-left: 14px;
    }

    .benefits-name {
        position: absolute;
        top: 70px;
        left: 70px;
    }

    .rounded-large {
        border-radius: 20px;
    }
    .fitVids-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.fitVids-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }
    .pill:hover {
        background-color: #E9F2FF;
    }
    .marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 26px;
  overflow-x: hidden;
}
.marquee .content {
    font-size: 18px;
    line-height: 26px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 74s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media screen and (max-width: 600px) {
    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 100%;
        padding-right: 32px;
        padding-left: 32px;

    }
    
    .marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 22px;
  overflow-x: hidden;
}
.marquee .content {
    font-size: 16px;
    line-height: 22px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 50s linear infinite;
}
}
   .slick-dots {
        top: auto !important;
        bottom: -20px !important;
        left: auto !important;
        right: auto;
        text-align: center;
    }
    .slick-dots li {
    display: inline;
    margin-right: 8px;
}
.slick-dots li button {
        background-color: #C2C2C2;
    }
    .slick-dots li button {
    text-indent: -100000px;
    border-radius: 100%;
    border: solid rgba(255, 255, 255, 0.781) 1px;
    background-color: #C2C2C2;
    width: 14px;
    height: 14px;
}
  .slick-dots li.slick-active button {
        background-color: #8c8cf0;
    }
    

</style>

<script>




$('.partner-slider').slick({
    autoplay: true,
    slidesToShow: 3,
     slidesToScroll: 2,
    fade: false,
    useTransform: true,
    arrows: true,
    infinite: false,
    dots: true,
    autoplaySpeed: 5000,
    adaptiveHeight: false,
    pauseOnHover: true,
    responsive: [
      {
        breakpoint: 1324,
        settings: {
          fade: false,
          slidesToShow: 2,
     slidesToScroll: 2
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          adaptiveHeight: true,
          fade: false,
          arrows: false,
          dots: true
        }
      }
    ]
  });

$('.ingredient-slider').slick({
    autoplay: true,
    slidesToShow: 5,
     slidesToScroll: 1,
    fade: false,
    useTransform: true,
    arrows: false,
    infinite: false,
    dots: false,
    autoplaySpeed: 5000,
    adaptiveHeight: false,
    pauseOnHover: true,
    responsive: [
      {
        breakpoint: 1424,
        settings: {
          fade: false,
          slidesToShow: 3,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }  
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }        
        }
      }
    ]
  });

  $('.brand-slider').slick({
    autoplay: true,
    slidesToShow: 3,
     slidesToScroll: 1,
    fade: false,
    useTransform: true,
    arrows: false,
    dots: true,
    autoplaySpeed: 5000,
    infinite: false,
    adaptiveHeight: false,
    pauseOnHover: true,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          fade: false
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }        
        }
      }
    ]
  });
     

var rows = document.getElementsByClassName('benefits-image');
for (var i = 0; i < rows.length; i++) {
    rows[i].onmouseenter = function (event) {
        for (var j = 0; j < rows.length; j++) {
            if (rows[j] === this) continue
            rows[j].className += " other";
        }
    };

    rows[i].onmouseleave = function (event) {
        var hovers = document.getElementsByClassName('other');
        var len = hovers.length;
        for (var j = 0; j < len; j++) {
            hovers[0].className = hovers[0].className.replace(/\sother(\s|$)/, '');
        }
    };
}

</script>

<style>
    .benefits-name {z-index: 99;}
    .benefits-image {
        -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;  
    z-index: 0;
    }
    .other {
    opacity: 0.4; 
    z-index: 0;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
@media screen and (max-width: 600px) {
.template-index .slick-dots {
  top: auto !important;
  bottom: -20px !important;
  left: auto !important;
  right: auto;
  text-align: center;
}
.template-index .slick-dots li button {
  background-color: #C2C2C2;
}
.template-index .slick-dots li.slick-active button {
  background-color: #2F358E;
}
}

.lp-bottom {
  padding: 18px 40px;
  border-radius: 7px;
  font-size: 22px;
  transition: opacity 200ms ease-in-out;
}
@media screen and (max-width: 1120px) {
  .lp-bottom {
  font-size: 16px;
  }
}
.lp-bottom:hover {
  opacity: .9;
}
.lp-bottom span {
  padding-left: 14px;
}
.br {
  border-radius: 12px;
  padding: 0 !important;
  overflow: hidden;
}
.main-box {
  box-shadow:0px 2px 8px 6px rgba(125,125,125,0.3);
  z-index: 1;
  position: relative;
}

.lp-list-2 {text-align: left;}
.lp-list-2 li {
margin-bottom: 12px;
font-size: 15px;
line-height: 1.2;
list-style: none;
}

</style>