

<style>
  .template-page span, .template-page p, .template-page h1, .template-page h2, .template-page h3 {
    text-transform: none !important
  }

</style>

<div class="mt3--md">
  <div class="">
      <picture>
        <source
          srcset="
            {{ 'cassandra-banner.jpg' | asset_url }}" media="(min-width: 800px)"
        />
        <img
          class="mt8"
          style="display: inline-block; height: auto; width: 100%;"
          alt="Hero image"
          src="{{ 'fixer-banner-mobile.jpg' | asset_url }}"
        />
      </picture>
  </div>
</div>

<div class="mt2 mb0 mt3--md mb0--md">
    <div
      class="grid-container contained"
    >
      <div class="row align--center tc">
        <div class="col c10--md c7--lg">
          <div class="mb0">
            <h1 class="sans--large color--blue fw--600" style="text-align: center;">
                hi! we’re beam. 
            </h1>
            <h2 class="sans--medium color--blue fw--400 mt2 mb2 tc">
                and we’re here to help you find your better. we bring the highest quality hemp products to our wellness-minded community — made with transparency, purpose and compassion. 
            </h2>
            <h2 class="sans--medium color--blue fw--400 mt2 mb2 tc">
            and today, we’re partnering with <span class="fw--800">cassandra meyer</span> for not one, but three giveaways! two winners will receive $100 worth of our most popular hemp products and one lucky winner will snag $250 worth of products. 
        </h2>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="mb1 mb2--md container">
    <div class="row align--center tc">
      <div class="col hide--md">
          <img style="width: 100%;" src="{{ 'cassandra-main.jpg' | asset_url }}">
          </div>
          <div class="col show--md">
            <img style="width: 100%;" src="{{ 'cassandra.jpg' | asset_url }}">
        </div>
    </div>
</div>
<div class="mt2 mb0 mt3--md mb0--md">
    <div
      class="grid-container contained"
    >
      <div class="row align--center tc">
        <div class="col c10--md c7--lg">
          <div class="mb6">
<h2 class="sans--medium color--blue fw--400 mt2 mb2 tc">
    cassandra uses our hemp as part of her relentless training. for recovery and sleep, our dream powder is her go-to for restful, restorative sleep.
</h2>
</div>
</div>
</div>
</div>
</div>

<div class="mb2 mb0--md tc bg--blue p4" style="background-color: #3D7CC9;">
    <h2 class="sans--medium color--white fw--600" style="text-align: center;">
    enter your info below for a chance to win. good luck!
    </h2>
    <div style="max-width: 800px;margin: 0 auto;">
      <div class="klaviyo-form-Wx2dRg"></div>
    </div>
</div>

<style>
  .wxEgT.wxEgT.wxEgT.wxEgT.wxEgT.wxEgT {padding-left: 18px !important;padding-right: 18px !important;}
  @media only screen and (max-width: 600px) {
    .wxEgT.wxEgT.wxEgT.wxEgT.wxEgT.wxEgT {width: 100%;}
    .kgtZbf.kgtZbf{display: block !important;}
  }
</style>

<div class="mb2 mb3--md container">
    <div class="row align--center tc">
        <h2 class="sans--medium-large color--blue fw--600 mb2 mb3--md pl4 pr4" style="text-align: center;line-height: 1.2;">
            here’s what you could win:
        </h2>
        <div class="col c4--md c4--lg mb4">
            <img style="width: 100%;" src="{{ 'focus-square-kaisa.jpg' | asset_url }}">
            <div class="mt1 tc">
                <h5 class="color--green sans--medium fw--600">focus capsules
                </h5>
                <p>
                    these focus-boosting* capsules help fuel performance all day long. they’re loaded with compounds like CoQ10 and ginseng to help you power through whatever comes your way.      
                </p>
            </div>
        </div>
        <div class="col c4--md c4--lg mb4">
            <img style="width: 100%;" src="{{ 'fixer-square-kaisa.jpg' | asset_url }}">
            <div class="mt1 tc">
                <h5 class="color--orange sans--medium fw--600">the fixer
                </h5>
                <p>
                    ready for recovery? the fixer is our soothing salve to fix what ails you. soreness and fatigue are no match for this all-natural, hemp-infused solution.</p>
            </div>
        </div>        
        <div class="col c4--md c4--lg mb4">
            <img style="width: 100%;" src="{{ 'dream-square-kaisa.jpg' | asset_url }}">
            <div class="mt1 tc">
                <h5 class="color--purple sans--medium fw--600">dream powder 
                </h5>
                <p>
                    better zzz’s are here. our sleep-promoting powder is a healthy take on hot chocolate, helping your body and mind wind down for a better night’s sleep*.</p>
            </div>
        </div>        
    </div>
</div>