<!-- Dream Powder Product ID for reviews at the bottom of the page -->
{% assign product_id = 4528614113335 %}

<div class="header-lp bg--blue p1 p2--md pl3--md pr3--md">
    <div class="lp-container tc">

    <a title="beam" href="/">
        <img class="show--md" style="margin-top: 4px; height: 32px;" width="auto" src="{{ 'beam-logo-white.png' | asset_url }}">
        <img class="hide--md" style="margin-top: 4px; height: 20px;" width="auto" src="{{ 'beam-logo-white.png' | asset_url }}">
    </a>

    </div>
</div>

<div class="modal hidden" id="download-modal"></div>
<div class="modal--overlay hidden"></div>
<!-- The Modal -->
<div id="detailsModal" class="details-modal">

    <!-- Modal content -->
    <div class="details-modal-content" style="max-width: 700px;">
      <div class="details-header tl color--white purple-header">
        <h1 class="sans--large fw--300 lowercase" temprop="name">{{product.title}}</h1>
        <p class="sans--small fw--600">{{ product.type }}</p>
        <span class="close">&times;</span>
      </div>
      <div class="inner">
              <img style="width: 100%;height: auto;" src="{{ 'hemp-nutritionfacts-dream-powder-1.jpg' | asset_url }}" >
      
      </div>
    </div>
  
  </div>
  

<div class="hide--md">
    <img src="{{ 'jks1.jpg' | asset_url }}" style="max-width: 100%;" alt="dream hero image">
</div>

<div class="grid-container contained">
    <!-- Section 1 -->
    <div class="row mt1 mt3--md pt1--md align--center">

        <div class="col c4--md c4--lg pb2">
                <h2 class="pt2 pt6--md sans--large fw--600 color--blue">
                    meet your nightly drink for <strong>better sleep</strong>.
                </h2>
                {% include 'stars' %}             
                    <p class="sans--body color--black fw--400 pt2">
                        try <span class="color--blue fw--600">ten nights</span> of our best-selling dream powder with the dream starter pack. Enjoy your new nightly drink for better sleep with a delicious blend of sleep-enhancing vitamins, minerals, nano hemp and more. 
                    </p>
                <p id="detailsModalBtn" class="mt2 mb2 fw--600 sans--body pointer underline color--blue"><span class="hide--md">tap</span><span class="show--md">click</span> for ingredients + product details</p>

                <div class="pt1 pt1--md pt1--lg pt2--xl pb3 pb0--md">
 <div class="fw--600 sans--medium color--blue mb2">$35</div>
                <a class="dib custom-button--wave-primary-top link--opacity pill"
                style="color: #fff !important; line-height: 2; background-color: #2f358e !important"
                title="redeem offer"
                href="https://beamtlc.com/cart/39281839472695:1">
                    redeem offer
                    <span>
                        →
                    </span>
                </a>
            </div>

        </div>
        <div class="col c1 show--md"></div>
        <div class="col c5--md c5--lg pb4 pr show--md">
            <img src="{{ 'jks1.jpg' | asset_url }}" style="max-width: 100%;border-radius: 20px;" alt="dream hero image">
        </div>
    </div>
</div>
    <!-- Section 2 -->
    <div class="pt1 pb1 tc mb1 mb2--md color--white" style="background-color: #8c8cf0;">
        <div class="marquee">
            <div class="track">
              <div class="content">
                "beam does exactly what you want, magic." –danica patrick  <span class="pl4 pr4">•</span>   "i fell in love with it [beam]. i use it every day.” -baker mayfield  <span class="pl4 pr4">•</span>   "beam is going to be the nike of the wellness world." –billy horschel<span class="pl4 pr4">•</span> 
                     "beam does exactly what you want, magic." –danica patrick  <span class="pl4 pr4">•</span>   "i fell in love with it [beam]. i use it every day.” -baker mayfield  <span class="pl4 pr4">•</span>   "beam is going to be the nike of the wellness world." –billy horschel<span class="pl4 pr4">•</span> 
                     "beam does exactly what you want, magic." –danica patrick  <span class="pl4 pr4">•</span>   "i fell in love with it [beam]. i use it every day.” -baker mayfield  <span class="pl4 pr4">•</span>   "beam is going to be the nike of the wellness world." –billy horschel<span class="pl4 pr4">•</span> 
                     "beam does exactly what you want, magic." –danica patrick  <span class="pl4 pr4">•</span>   "i fell in love with it [beam]. i use it every day.” -baker mayfield  <span class="pl4 pr4">•</span>   "beam is going to be the nike of the wellness world." –billy horschel<span class="pl4 pr4">•</span> 
    
            
            </div>
            </div>
          </div>
    
        </div>


        <div class="tc row mt8 mb4 mb3--md align--center">
            <div class="col c11 c10--md c10--lg">
                <h2 class="sans--large tc fw--600 mb3 color--blue">the power of<br> beam dream</h2>


                <div style="max-width: 1600px;margin: 0 auto;" class="pt2--md pb3 pb4--md">

                    <div class="ingredient-slider">
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-reishi.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">reishi</h4>
                            <h5 class="tc">
                                 mushroom superfood that helps to support the body’s sleep cycle as well as manage stress*
                            </h5>
                        </div>
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-magnesium.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">magnesium</h4>
                            <h5 class="tc">
                                 mineral that aids the body’s ability to fall asleep by producing melatonin and regulating the nervous system*
                            </h5>
                        </div>
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-hemp.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">nano hemp</h4>
                            <h5 class="tc">
                                our nano hemp powder is made of tiny particles for the highest absorption potential*
                            </h5>
                        </div>
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-Ltheanine.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">l-theanine</h4>
                            <h5 class="tc">
                                 mushroom superfood that helps to support the body’s sleep cycle as well as manage stress*
                            </h5>
                        </div>
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-melatonin.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">melatonin</h4>
                            <h5 class="tc">
                                hormone that regulates the body’s sleep cycle for restful zzz’s*
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
    
        </div>

        

</div>
    <!-- Section 3 -->



<div class="tc pt2 pb6 pt4--md mb4--md pb10--md">
    <div class="container">
        <h4 class="color--blue sans--xl fw--200" style="font-style: italic;">98% of people surveyed fall asleep faster when taking dream powder.</h4>
        <h4 class="color--blue sans--xl fw--200 mt4" style="font-style: italic;">99% experience better sleep quality.</h4>
    </div>
</div>



    <div class="bg--blue-light pt6 pb0 pt8--md pb8--md">
        <h2 class="fw--600 sans--large mb2 color--blue tc pr1--md pl1--md">
            you’ve got questions,<br /> we’ve got answers
        </h2>
        <div class="container">
            <div class="row">
                <div class="col c3--md c4--lg pt3--md mb3 tc tl--md show--md">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source
                                    srcset="{{ 'dream-blend.jpg' | asset_url }}"
                                    media="(min-width: 800px)"><img class="full-width"
                                    alt="an all-natural alternative"
                                    style="border-radius: 28px;"
                                    src="{{ 'dream-blend.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="col c1--md c1--lg pt3--md mb3 tl tl--md show--md">
                </div>
                <div class="col c8--md c7--lg pt3--md mb4 pb3 tl tl--md">
                    <div class="accordion">
                        <div class="item">
                            <a href="#acc1Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">
                                how do i take this product?
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <section id="acc1Desk" class="acc-content-desktop">
                                <div class="inner">
                                    we suggest blending the powder with a warm cup of water or milk (like almond or oat milk).
                                </div><!-- / .inner -->
                            </section>
                        </div><!-- / .item -->

                        <div class="item">
                            <a href="#acc2Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">
                                when do i take this product?
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <section id="acc2Desk" class="acc-content-desktop">
                                <div class="inner">
                                    you should take dream when you are ready to go to bed.
                                </div><!-- / .inner -->
                            </section>
                        </div><!-- / .item -->

                        <div class="item">
                            <a href="#acc3Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">
                                what does dream taste like?
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <section id="acc3Desk" class="acc-content-desktop">
                                <div class="inner">
                                    the dream powder is mixed with organic cacao powder and organic cinnamon powder. it tastes like a healthy hot cocoa.
                                </div><!-- / .inner -->
                            </section>
                        </div><!-- / .item -->


                        <div class="item">
                            <a href="#acc5Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">
                                what kind of analysis is performed on your products?
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <section id="acc5Desk" class="acc-content-desktop">
                                <div class="inner">
                                    all of beam’s products are tested in-house and by third-party labs to ensure that the right concentration of compounds is present.
                                </div><!-- / .inner -->
                            </section>
                        </div><!-- / .item -->
                    </div><!-- / .accordion -->
                </div>
            </div>
        </div>
    </div>


    <!-- Section 6 -->
    <div class="container pt4--md pb8--md mb1 mb6--md">
        <div class="row">
            <div class="col c7--md c6--lg pt6--md mb3 mt5--md tc tl--md">
                <div class="col c5--md c5--lg mb2 mt3 mb0--md hide--md">
                    <div class="pr">
                        <div class="push-up" style="border-radius: 20px;">
                            <picture class="full-width">
                                <source
                                    srcset="{{ 'jk1.jpg' | asset_url }}"
                                    media="(min-width: 800px)"><img class="full-width"
                                    alt="an all-natural alternative"
                                    style="border-radius: 28px;"
                                    src="{{ 'jk1.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
                <h6 class="sans--body mb3"><span class="color--white bg--purple fw--600" style="padding: 2px 16px; border-radius: 5px; opacity: .6;">they love us</span></h6>
                <h2 class="fw--600 sans--large mb2 color--blue">why jason loves dream</h2>
                <h3 class="fw--300 sans--medium mb2">
"Beam has been a game changer for me. I'm a huge fan of Dream and don't have the groggy after effects the next morning that I usually get with hemp products. I'm so thankful for Kevin, Matt and the Beam team for bringing these products to life."                </h3>
                <h2 class="sans--medium fw--600">-Jason Kennedy</h2>
                <span>tv host of <i style="font-style: italic !important;">own the spotlight</i></span>
            </div>
            <div class="col c1--lg show--md"></div>
                <div class="col c5--md c5--lg mb2 mt6 mb0--md show--md">
                    <div class="pr">
                        <div class="push-up" style="border-radius: 20px;">
                            <picture class="full-width">
                                <source
                                    srcset="{{ 'jk1.jpg' | asset_url }}"
                                    media="(min-width: 800px)"><img class="full-width"
                                    alt="an all-natural alternative"
                                    style="border-radius: 28px;"
                                    src="{{ 'jk1.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 4 -->

    <div class="mt6 mb8 mt6--md mb10--md">
        <div style="max-width: 1200px;" class="container pt2--md pb2--md">
            <div class="brand-slider">
                <div class="mb2 mb0--md pl1 pr1">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                    src="{{ 'maxim-logo.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h5 class="tc">"these pro-athlete-approved hemp products will improve physical and mental wellness."</h5>
                </div>
                <div class="mb2 mb0--md pl1 pr1">
                    <p class="tc"><span class="dib">
    
                            <picture class="promo__press-logo"><img class="promo__press-logo" 
                                    src="https://beam.imgix.net/beam-homepage-presslogo-forbes@2x.png?mtime=20190725113953&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                            </picture>
                        </span>
                    </p>
                    <h5 class="tc db">"[beam] is a great addition to an athlete’s nightly routine."</h5>
                </div>
    
    
                <div class="mb2 mb0--md pl1 pr1">
                    <p class="tc"><span class="dib">
    
                            <picture class="promo__press-logo"><img class="promo__press-logo"
                                    src="https://beam.imgix.net/beam-homepage-presslogo-realsimple@2x_190725_183951.png?mtime=20190725113951&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                            </picture>
                        </span>
                    </p>
                    <h5 class="tc">"i've started using [beam] hemp oil everyday... and it changed my life."</h5>
                </div>
    
            </div>
        </div>
    </div>
    <!-- Section 5 -->

    <div class="bg--blue-light mt4 mt6--md pb5 pt5 pt5--md">
        <div class="container">
        <div class="row">
            <div class="col c5--md">
                <img class="mb2" style="width: 100%; border-radius: 20px;" src="{{ 'dream-morning-brew-LP.jpg' | asset_url }}"/>
            </div>
            <div class="col c1--lg show--md"></div>

            <div class="col c6--md">
                <h2 class="pl1 pt2--md pr1 sans--large color--blue fw--400">

                    try <span class="color--blue fw--600">ten nights</span> of the best-selling dream powder

                </h2>
                <div class="pl1 pr1 mt1">
                    {% include 'stars' %}
                </div>
                <p class="pl1 pr1 sans--medium color--black fw--400 pt2 pb3 pb4--md">
                    this warm blend is a guilt-free, sleep-inducing, delicious cup of cocoa. it’s a bedtime blend of organic cacao powder and organic cinnamon powder—without any calories or added sugar.
            </p>
            <a class="dib custom-button--wave-primary-top link--opacity pill"
            style="color: #fff !important; line-height: 2; background-color: #2f358e !important"
            title="redeem offer"
            href="https://beamtlc.com/cart/39281839472695:1">
                dream starter pack
                <span>
                    →
                </span>
            </a>
            </div>
        </div>
    </div>
</div>

<div class="tc row mt8 mb4 mb3--md align--center">
    <div class="col c11 c8--md c7--lg">
        <h2 class="sans--large tc fw--600 mb3 color--blue">about beam</h2>
        <p class="sans--medium tc fw--400 mb2 color--black">
            our mission is simple: we're here to elevate your everyday so you can be your best self, always. we make products with the highest quality ingredients because we believe everyone deserves a chance to experience what better feels like — better sleep, energy, recovery and state of mind.

        </p>
    </div>

</div>
<div class="container">
    <div class="row align--center pb6 pb8--md">
        <div class="col c10--md">
    <img class="show--md" style="width: 100%;" src="{{ 'NC-Icons.png' | asset_url }}">
    <img class="hide--md" style="width: 100%;" src="{{ 'NC-icons-mobile.png' | asset_url }}">
    </div>
</div>
</div>



    <!-- Section 7 -->

    <div class="yotpo yotpo-main-widget" data-product-id="{{ product_id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
    {% include 'klaviyo' %}

    <div class="tc p2 sans--small">the dream starter pack is not valid for any promotions or discounts.</div>

<style>
    #main {padding-top: 0;}
    .header__nav {
        display: none !important;
    }
    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }
    .pill:hover {
        background-color: #E9F2FF;
    }
    .marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 26px;
  overflow-x: hidden;
}
.marquee .content {
    font-size: 18px;
    line-height: 26px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 74s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media screen and (max-width: 600px) {
    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 100%;
        width: 100% !important;
        padding-right: 32px;
        padding-left: 32px;

    }
    .marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 22px;
  overflow-x: hidden;
}
.marquee .content {
    font-size: 16px;
    line-height: 22px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 124s linear infinite;
}
}
@media screen and (max-width: 1424px) {
   .slick-dots {
        top: auto !important;
        bottom: -20px !important;
        left: auto !important;
        right: auto;
        text-align: center;
    }
    .slick-dots li {
    display: inline;
    margin-right: 8px;
}
.slick-dots li button {
        background-color: #C2C2C2;
    }
    .slick-dots li button {
    text-indent: -100000px;
    border-radius: 100%;
    border: solid rgba(255, 255, 255, 0.781) 1px;
    background-color: #C2C2C2;
    width: 14px;
    height: 14px;
}
  .slick-dots li.slick-active button {
        background-color: #8c8cf0;
    }
    }

</style>

<script>


$('.ingredient-slider').slick({
    autoplay: true,
    slidesToShow: 5,
     slidesToScroll: 1,
    fade: false,
    useTransform: true,
    arrows: false,
    dots: false,
    autoplaySpeed: 5000,
    adaptiveHeight: false,
    pauseOnHover: true,
    responsive: [
      {
        breakpoint: 1424,
        settings: {
          fade: false,
          slidesToShow: 3,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }  
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }        
        }
      }
    ]
  });

  $('.brand-slider').slick({
    autoplay: true,
    slidesToShow: 3,
     slidesToScroll: 1,
    fade: false,
    useTransform: true,
    arrows: false,
    dots: false,
    autoplaySpeed: 5000,
    adaptiveHeight: false,
    pauseOnHover: true,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          fade: false
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }        
        }
      }
    ]
  });
     let accTitleDesktop = document.getElementsByClassName("acc-heading-desktop");
            let accContentDesktop = document.getElementsByClassName("acc-content-desktop");
            let singleModeDesktop = true;
            
            for( let j=0; j<accContentDesktop.length; j++ ){
                let realHeightDesktop = accContentDesktop[j].offsetHeight;
                accContentDesktop[j].setAttribute("data-height", realHeightDesktop + "px");
                accContentDesktop[j].style.height = 0;
            }
            
            for( let i=0; i<accTitleDesktop.length; i++ ){
                accTitleDesktop[i].onclick = function(){
                    let openedAccDesktop = this.getAttribute('href').replace('#', '');
    
                    if( this.classList.contains("active") ){
                        this.classList.remove("active");
                        document.getElementById(openedAccDesktop).style.height = 0;
                        
                        return false;
                    }
                    
                    if( singleModeDesktop ){						
                        for(let k=0; k<accTitleDesktop.length; k++) {
                            accTitleDesktop[k].classList.remove("active");
                        }
    
                        for(let j=0; j<accContentDesktop.length; j++) {
                            accContentDesktop[j].style.height = 0;
                        }
                    }
                    
                    this.classList.add("active");
                    
                    document.getElementById(openedAccDesktop).style.height = accContentDesktop[i].getAttribute("data-height");
                    
                    return false;
                }
        }

        // Get the modal
var modal = document.getElementById("detailsModal");

// Get the button that opens the modal
var btn = document.getElementById("detailsModalBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
  

