
<div class="pr color--primary of--hidden hide--md">

    <div class="push-up full-width bg--blue-light">
            <div class="pb2" >
                <img style="width: 100%; line-height: 0;" alt="Hero image - Sleep" src="{{ 'sweatcoin-hero-2-mobile.jpg' | asset_url }}" /></picture>
                
                <div class="pl2 pr2">
                    <div class="sans--xxl tc mb2 pl4--md">

                        <h2 class="hero-main-title sans--xl color--blue mt2 mb2 fw--300">
                            elevate your hydration<br>with a <span class="fw--600">free</span> trial
                        </h2>
                        <p class="sans--medium hero-sub-title color--blue pb1 mb2">3 electrolyte mixes | $10 value</p>
                        </p>

                    <div class="tc"><a class="dib custom-button--wave-primary-top link--opacity pill add_to_cart_dream1" style="color: #fff !important; line-height: 2; background-color: #2f358e !important"  title="get yours now" href="/products/3-days-of-elevate-free-trial">try elevate energy</a></div>
                    </div>
                </div>

            </div>
    </div>

</div>

<div class=" pr color--primary of--hidden show--md bg--blue-light">
    <a title="get yours now" href="/products/3-days-of-elevate-free-trial"><picture class="">
        <source srcset="{{ 'sweatcoin-hero-2-new-1.jpg' | asset_url }}" media="(min-width: 800px)" />
        <img class="hero__cover" alt="Hero image - Sleep" src="{{ 'sweatcoin-hero-2-new-1.jpg' | asset_url }}" /></picture>
        </a>
    <div class="push-up full-width">
        <div class="contained">
            <div class="row align--middle tc mt0 pt3 pt0--md mt0--md mb2 pb0--md mb0--md" >
                <div class="col c12 c12--sm c6--md c6--lg c6--xl show--md"></div>
                <div class="col c12 c12--sm c6--md c5--lg c5--xl pt3 pb3 pt4--lg pb4--lg pt10--xxl pb10--xxl show--md">
                    <div class="tc mb2 p5 pl4--lg pr3--lg pl3--md">
                    <h2 class="hero-main-title sans--large fw--600 color--blue mt2 mb3 show--md">
                        elevate your hydration<br>with a <span class="fw--800">free</span> trial

                    </h2>
                    <p class="sans--medium tc hero-sub-title color--blue pb1 mb3">3 electrolyte mixes | $10 value</p>
                    <div class="tc"><a class="pill add_to_cart_dream1 p4 pt1 pb1 fw--600 color--blue" style="color: #fff !important; line-height: 2; background-color: #2f358e !important"  title="get yours now" href="/products/3-days-of-elevate-free-trial">try elevate energy</a></div>
                    </div>
                </div>
                <div class="col c12 c12--sm c7--md c8--lg show--md">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pr2 pl2 bb1 bg--blue"  style="background-color:">
<div class="row align--center pt5 pb4 pt9--md pb8--md">
    <div class="col c10--sm c9--md c8--lg c8--xl">
        <div class="tc color--white">
            <h2 style="line-height: 1.4;" class="fw--600 sans--large mb3 pl1 pr1 color--white">turn that trial into a regular thing</h2>
            <h2 style="line-height: 1.4;" class="fw--600 sans--medium pl1 mb1 pr1">ready for 20% off, free shipping, monthly deliveries, and more?
            </h2>
            <p style="line-height: 1.4;" class="fw--400 sans--body mb3 pl1 pr1 pr10--md pl10--md">our subscription program brings you our hydrating elevate energy electrolyte mix every month so you’re never without performance support. 
            </p>
        </div>
    </div>
</div>



</div>

<div class="" style="background-color;">
    <div class="">
    <div class="row gutter--none align--middle tc">
        <div class="col c6--md c6--xl">
            <img style="max-width: 100%; float: left;" class="" alt="Hero image - Sleep" src="{{ 'sweatcoin-secondary.jpg' | asset_url }}" />
        </div>
        <div class="col c6--md c6--xl">
            <div class="pt3 pt0--md pr2 pl2">
                <h2 style="line-height: 1.4;" class="fw--600 sans--large mb2 pl1 pr1 color--blue">how it works</h2>

                <h2 style="line-height: 1.4;" class="fw--600 sans--mid-medium mb1 pl1 pr1 color--blue">get excited for your trial</h2>
                <p style="line-height: 1.4;" class="fw--400 sans--body mb2 pl1 pr1">
                    we’ll start by sending you 3 servings of elevate energy, our watermelon electrolyte mix made with beetroot and green coffee bean caffeine.   
                </p>

                <h2 style="line-height: 1.4;" class="fw--600 sans--mid-medium mb1 pl1 pr1 color--blue">set your sights on our subscription </h2>
                <p style="line-height: 1.4;" class="fw--400 sans--body mb2 pl1 pr1">
                    a week after your trial arrives, you’ll be automatically enrolled in our monthly subscription which brings you 15 servings of elevate energy for 20% off + free shipping. 
                </p>

                <h2 style="line-height: 1.4;" class="fw--600 sans--mid-medium mb1 pl1 pr1 color--blue">text us to opt out or manage your subscription at any time
                </h2>
                <p style="line-height: 1.4;" class="fw--400 sans--body mb4 pl1 pr1">
                    want to make changes to your subscription? no worries. you can text our dedicated subscription line to opt out after your trial, delay shipments, edit items, or manage your account! 
                </p>

            </div>
        </div>

    </div>
    </div>
    </div>
    

<div class="pb0 pb0--md" style="background-color:">
<div class="">
<div class="row align--middle tc mt2 mt0--md">
    <div class="col hide--md c6--md c6--xl" style="padding: 0">
        <img style="max-width: 100%; float: left;" class="" alt="Hero image - Sleep" src="{{ 'sweatcoin-secondary-2.jpg' | asset_url }}" />
    </div>
    <div class="col c6--md c6--xl">
        <div class="pt5 pb3 pt2--md pt2--lg pr2 pl2">
            <h3 class="sans--large color--blue tc fw--600 pb3" style="max-width: 600px; margin: 0 auto;">
            text us to opt out or manage<br class="show--md">
            your subscription at any time
        </h3>
        <h4 class="sans--medium tc" style="max-width: 600px; margin: 0 auto;">want to make changes to your subscription? no worries. you can text our dedicated subscription line to opt out after your trial, delay shipments, edit items, or manage your account! 
        </h4>
        </h4>
        <div class="tc mt4 mb5 mt6--md"><a class="dib custom-button--wave-primary-top link--opacity pill add_to_cart_dream1" style="color: #fff !important; line-height: 2; background-color: #2f358e !important"  title="get yours now" href="/products/3-days-of-elevate-free-trial">try elevate energy</a></div>

    </div>
    </div>
    <div class="col show--md c6--md c6--xl" style="padding: 0">
        <img style="max-width: 100%; float: left;" class="" alt="Hero image - Sleep" src="{{ 'sweatcoin-secondary-2.jpg' | asset_url }}" />

    </div>
</div>
</div>
</div>

<div class="mb4 mb0--md mt0" style="background-color;">
    <div class="">
    <div class="row gutter--none align--middle tc">
        <div class="col c6--md c6--xl">
            <img class="" style="max-width: 100%; float: right;"  alt="Hero image - Sleep" src="{{ 'sweatcoin-dom.jpg' | asset_url }}" />
        </div>
        <div class="col c6--md c6--xl tc">
            <div class="pt3 pt0--md pt0--lg mt0--md pr2 pl2">
                <h3 class="sans--medium color--blue mt6--lg tc fw--600 pb3" style="max-width: 500px; margin: 0 auto;">
                    "as an endurance runner, proper hydration is something i’m constantly working on. beam's elevate line meets my body’s hydration needs throughout the day. i've tried a lot of hydration powders, and i love how clean and effective elevate is."
                            </h3>
                            <h4 class="sans--body tc"><span class="fw--600"> – dominique scott,<br> olympic runner and beam partner</span>

            </div>
        </div>

    </div>
    </div>
    </div>
    


    <div class="mb4 mb6--md pt5 pb5" style="background-color: #E9F2FF;">
        <div class="container">
          <div class="row align--center">
              <div class="col c11--md c10--lg">
      
          <h2 class="fw--600 sans--large mb3 color--blue tc mb6--md">you’ve got questions,<br class="show--md">  we’ve got answers</h2>
      
            <div class="row align--center">
                <div class="col c7--md">
                <img style="max-width: 100%;" class="" alt="Hero image - Sleep" src="{{ 'sweatcoin-faqs.png' | asset_url }}" />
            </div>
          </div>
      </div>
      
            </div>
        </div>
      </div>


      <div class="mt7 mb4 mt8--md mb10--md">
        <div class="container pt2--md pb2--md">
          <div class="row align--center">
              <div class="col c11--md c10--lg">
                  <img style="max-width: 40px;text-align:center;margin-right: auto;margin-left: auto;display:block" class="mb5" src="{{ 'drop.png' | asset_url }}">
      
          <h2 class="fw--600 sans--large mb3 color--blue tc mb6--md">the electrolyte pick-me-up<br class="show--md"/> you can take anywhere </h2>
      
            <div class="row">
      
                <div class="col c4--md c4--lg pt1--md mb1 mb3--md tc tl--md">
                      <div class="description-tab">
                          <div class="sans--medium fw--600 valueprops mb1" id="valuepropsDefaultOpen" onclick="openVP(event, 'vpHydration')">why hydration?<span class="link--wave db"></span></div>
                          <div class="sans--medium fw--600 valueprops mb1" onclick="openVP(event, 'vpPower')">mindfully sourced<br> ingredients 
                            <span class="link--wave db"></span></div>
                          <div class="sans--medium fw--600 valueprops mb1" onclick="openVP(event, 'vpSidekick')">an effective,<br> energizing sidekick<span class="link--wave db"></span></div>
                      </div>
                    </div>
                    <div class="col c1 hide--md"></div>
                <div class="col c10 c8--md c8--lg mb2 mb0--md">
                  <div id="vpHydration" class="valuepropscontent">
                      <p>
                          believe it or not, 75% of americans are chronically dehydrated. and while water is essential, H2O alone won’t always do the trick. that’s why we created clean electrolyte powders that deliver effective and fast hydration thanks to supercharged and super-hydrating ingredients like coconut water and himalyan sea salt. so whether you’re looking for everyday balance, energy or recovery support, our powders are here to give your body the hydration it craves. 
                      </p>
                  </div>
                  <div id="vpPower" class="valuepropscontent">
                      <p>
                        our electrolyte powders are not just a hydration solution, but elevated supplements to support hydration for each moment of your day. that’s why our ingredients are sourced responsibly and you’ll never find any added sugars, GMOs, or artificial sweeteners.
                        </p>
                  </div>
                  <div id="vpSidekick" class="valuepropscontent">
                      <p>
                          elevate energy packs both hydrating and energizing properties into a convenient packet that goes where you go. green coffee bean extract delivers a stable, non-jittery kick while compounds like beetroot and vitamin b help your body convert dietary energy into physical energy and push farther. 
                          this specific blend of invigorating ingredients will ensure you stay hydrated and motivated. 
                      </p>
                  </div>
              </div>
      
          </div>
      </div>
      
            </div>
        </div>
      </div>
      </div>




<div class="pt6 pb4 pb10--md" style="background-color: #E6F1FF;">
    <div class="row align--center">
        <div class="col c6--md c8--lg">
    <img style="max-width: 40px;text-align:center;margin-right: auto;margin-left: auto;display:block" class="mb5" src="{{ 'bolt.png' | asset_url }}">

    <h2 class="fw--600 sans--large mb3 color--blue tc pr3 pl3">meet the essential electrolytes and supportive ingredients behind energy</h2>
</div>  
</div>  
    <div class="container">    
        <div class="row align--center">
       
            <div class="col c5--md">
                <div class="ingredients-accordion">
                    <div class="ingredients-item">
                      <a href="#acc1Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">coconut water <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                  
                      <section id="acc1Desk" class="acc-content-ingredients">
                        <div class="inner">
                            a true hydration hero, coconut water is fortified with natural electrolytes like potassium, sodium and magnesium. it’s also the all-natural source of the single gram of sugar you’ll find in our powders. 
                        </div><!-- / .inner -->
                      </section>
                    </div><!-- / .item -->
                    <div class="ingredients-item">
                        <a href="#acc2Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">himalayan salt <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                    
                        <section id="acc2Desk" class="acc-content-ingredients">
                          <div class="inner">
                            loaded with minerals, himalayan salt provides the body with a much-needed sodium boost. plus, himalayan salt is completely free of impurities like microplastics.
                          </div><!-- / .inner -->
                        </section>
                      </div><!-- / .item --> 
                      <div class="ingredients-item">
                        <a href="#acc3Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">potassium bicarbonate <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                    
                        <section id="acc3Desk" class="acc-content-ingredients">
                          <div class="inner">
                            despite its fancy name, potassium bicarbonate is simply the water-soluble cousin of the popular electrolyte potassium. it plays an important role in maintaining the health of bones and muscles, and can increase the alkalinity compared to other potassium sources.
                          </div><!-- / .inner -->
                        </section>
                      </div><!-- / .item --> 
                      <div class="ingredients-item">
                        <a href="#acc4Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">magnesium glycinate <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                    
                        <section id="acc4Desk" class="acc-content-ingredients">
                          <div class="inner">
                            shown to have a calming effect on the brain, magnesium glycinate is the water-friendly form of one of our favorite compounds, magnesium. It’s also a critical electrolyte to replenish in your body
                          </div><!-- / .inner -->
                        </section>
                      </div><!-- / .item --> 
                      <div class="ingredients-item">
                        <a href="#acc5Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">sodium hyaluronate <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                    
                        <section id="acc5Desk" class="acc-content-ingredients">
                          <div class="inner">
                            thanks to its water-soluble nature, sodium hyaluronate aids in super-charged hydration so you can feel your best. It’s lower molecular weight makes for better absorption and electrolyte replenishment.
                          </div><!-- / .inner -->
                        </section>
                      </div><!-- / .item -->                    
                </div>


            </div>

            <div class="col c5--md">
                <div class="ingredients-item">
                    <a href="#acc6Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">zinc citrate <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                
                    <section id="acc6Desk" class="acc-content-ingredients">
                      <div class="inner">
                        an electrolyte all-star, zinc citrate plays a major role in improving the body’s metabolism and immune response*.
                      </div><!-- / .inner -->
                    </section>
                  </div><!-- / .item -->
                <div class="ingredients-item">
                    <a href="#acc11Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">beetroot powder  <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                
                    <section id="acc11Desk" class="acc-content-ingredients">
                      <div class="inner">
                          this humble root is a game changing supplement that has been shown to improve athletic energy because it contains nitrates, which increase oxygen flow during exercise.
                      </div><!-- / .inner -->
                    </section>
                  </div><!-- / .item -->
                  <div class="ingredients-item">
                      <a href="#acc12Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">green coffee bean extract <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                  
                      <section id="acc12Desk" class="acc-content-ingredients">
                        <div class="inner">
                          each serving of energy includes 30mg of green caffeine, about 1/3 cup of coffee. green coffee bean extract is known for providing a steady boost of energy
                        </div><!-- / .inner -->
                      </section>
                    </div><!-- / .item --> 
                  
                <div class="ingredients-item">
                    
                    <a href="#acc13Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">citrulline <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                
                    <section id="acc13Desk" class="acc-content-ingredients">
                      <div class="inner">
                        an up-and-coming amino acid found in watermelons, citrulline helps to increase blood flow* (to make muscles happy) and decrease fatigue* (to make your mind happy).
                      </div><!-- / .inner -->
                    </section>
                  </div><!-- / .item -->
                  <div class="ingredients-item">
                      <a href="#acc14Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">vitamin B <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                  
                      <section id="acc14Desk" class="acc-content-ingredients">
                        <div class="inner">
                            when it comes to energy, vitamin B plays a pivotal role in converting food into ATP, an organic compound that helps power cells.
                        </div><!-- / .inner -->
                      </section>
                    </div><!-- / .item --> 
            </div>
        </div>  

    </div>
</div>


<div class="pt6 pb6 pt8--md pb10--md">
    <img style="max-width: 40px;text-align:center;margin-right: auto;margin-left: auto;display:block" class="mb5" src="{{ 'up-arrows.png' | asset_url }}">

    <h2 class="fw--600 sans--large mb2 color--blue tc pr1 pl1">elevate energy levels up any routine.<br>here’s how:</h2>
  
    <div class="container">    
        <div class="row">
            <div class="col c1"></div>  
            <div class="col c3--md show--md">
                <img style="max-height: 360px;" src="{{ 'sweatcoin-elevate-render.jpg' | asset_url }}">
            </div>

            <div class="col c11 mt2 mt0--md c7--md">
                <ul class="elevate-list">
                    <li>you’re looking for added energy throughout the day</li>
                    <li>you need a hydrating, pre-workout boost</li>
                    <li>you’re looking for an effective coffee substitute that won’t leave you dehydrated, but just the opposite</li>
                    <li>you want to fortify your immune system</li>
                    <li>you’re mindful of diet and don’t want to worry about any added sugars</li>
                </ul>
            </div>
            <div class="col c1 show--md"></div>  

        </div>  
    </div>
</div>

      <div class="yotpo yotpo-main-widget" data-product-id="4671120670775" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>


      <div class="pr color--primary of--hidden">

        <div class="push-up full-width bg--blue-light">
                <div class="mt2 pt6 pb5" >
                    
                    <div class="pl2 pr2">
                        <div class="sans--xxl tc mb2 pl4--md">
    
                            <h2 class="hero-main-title sans--xl color--blue mt2 mb2 fw--300">
                                elevate your hydration<br>with a <span class="fw--600">free trial</span>
                            </h2>
                            <p class="sans--medium hero-sub-title color--blue pb2">3 electrolyte mixes | $10 value</p>
                            <p class="sans--body pb4">just cover $0.95 for shipping</p>
    
                        <div class="tc"><a class="dib custom-button--wave-primary-top link--opacity pill add_to_cart_dream1" style="color: #fff !important; line-height: 2; background-color: #2f358e !important"  title="get yours now" href="/products/3-days-of-elevate-free-trial">try elevate <span>→</span></a></div>
                        </div>
                    </div>
    
                </div>
        </div>
    
    </div>


    <style>
            .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 230px
    }
    .pill:hover {
        background-color: #E9F2FF;
    }
  .header__nav {display: none;}
  #main {padding-top: 0 !important;}


  @media (min-width: 1200px) {
.hero--desktop {
    min-height: 670px;
}
.hero__cover {
    object-position: left
}
}
    </style>


    
<script>
    $(document).ready(function () {
    $('.add_to_cart_dream1').click(function(){
          addItemToCart()
          return false;
    });

});

    function addItemToCart() {
      data = {
        "id": 39354615300151,
        "quantity": 1,
        "properties": {
          "shipping_interval_frequency": "30",
          "shipping_interval_unit_type": "Days"
        }
      }
      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() { 
          window.location.href = '/cart'; 
        }
      });
    }

    let accTitleIngredients = document.getElementsByClassName("acc-heading-ingredients");
		let accContentIngredients = document.getElementsByClassName("acc-content-ingredients");
		let singleModeIngredients = true;
		
		for( let j=0; j<accContentIngredients.length; j++ ){
			let realHeightIngredients = accContentIngredients[j].offsetHeight;
			accContentIngredients[j].setAttribute("data-height", realHeightIngredients + "px");
			accContentIngredients[j].style.height = 0;
		}
		
		for( let i=0; i<accTitleIngredients.length; i++ ){
			accTitleIngredients[i].onclick = function(){
				let openedAccIngredients = this.getAttribute('href').replace('#', '');

				if( this.classList.contains("active") ){
					this.classList.remove("active");
					document.getElementById(openedAccIngredients).style.height = 0;
					
					return false;
				}
				
				if( singleModeIngredients ){						
					for(let k=0; k<accTitleIngredients.length; k++) {
						accTitleIngredients[k].classList.remove("active");
					}

					for(let j=0; j<accContentIngredients.length; j++) {
						accContentIngredients[j].style.height = 0;
					}
				}
				
				this.classList.add("active");
				
				document.getElementById(openedAccIngredients).style.height = accContentIngredients[i].getAttribute("data-height");
				
				return false;
			}
    }
    



let accTitleDesktop = document.getElementsByClassName("acc-heading-desktop");
		let accContentDesktop = document.getElementsByClassName("acc-content-desktop");
		let singleModeDesktop = true;
		
		for( let j=0; j<accContentDesktop.length; j++ ){
			let realHeightDesktop = accContentDesktop[j].offsetHeight;
			accContentDesktop[j].setAttribute("data-height", realHeightDesktop + "px");
			accContentDesktop[j].style.height = 0;
		}
		
		for( let i=0; i<accTitleDesktop.length; i++ ){
			accTitleDesktop[i].onclick = function(){
				let openedAccDesktop = this.getAttribute('href').replace('#', '');

				if( this.classList.contains("active") ){
					this.classList.remove("active");
					document.getElementById(openedAccDesktop).style.height = 0;
					
					return false;
				}
				
				if( singleModeDesktop ){						
					for(let k=0; k<accTitleDesktop.length; k++) {
						accTitleDesktop[k].classList.remove("active");
					}

					for(let j=0; j<accContentDesktop.length; j++) {
						accContentDesktop[j].style.height = 0;
					}
				}
				
				this.classList.add("active");
				
				document.getElementById(openedAccDesktop).style.height = accContentDesktop[i].getAttribute("data-height");
				
				return false;
			}
    }
    

    let accTitle = document.getElementsByClassName("acc-heading");
		let accContent = document.getElementsByClassName("acc-content");
		let singleMode = true;
		
		for( let j=0; j<accContent.length; j++ ){
			let realHeight = accContent[j].offsetHeight;
			accContent[j].setAttribute("data-height", realHeight + "px");
			accContent[j].style.height = 0;
		}
		
		for( let i=0; i<accTitle.length; i++ ){
			accTitle[i].onclick = function(){
				let openedAcc = this.getAttribute('href').replace('#', '');

				if( this.classList.contains("active") ){
					this.classList.remove("active");
					document.getElementById(openedAcc).style.height = 0;
					
					return false;
				}
				
				if( singleMode ){						
					for(let k=0; k<accTitle.length; k++) {
						accTitle[k].classList.remove("active");
					}

					for(let j=0; j<accContent.length; j++) {
						accContent[j].style.height = 0;
					}
				}
				
				this.classList.add("active");
				
				document.getElementById(openedAcc).style.height = accContent[i].getAttribute("data-height");
				
				return false;
			}
    }

    function openVP(evt, cityName) {
      // Declare all variables
      var i, valuepropscontent, valueprops;
    
      valuepropscontent = document.getElementsByClassName("valuepropscontent");
      for (i = 0; i < valuepropscontent.length; i++) {
        valuepropscontent[i].style.display = "none";
      }
    
      valueprops = document.getElementsByClassName("valueprops");
      for (i = 0; i < valueprops.length; i++) {
        valueprops[i].className = valueprops[i].className.replace(" active", "");
      }
    
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    document.getElementById("valuepropsDefaultOpen").click();
    
    
    function openCity(evt, cityName) {
      // Declare all variables
      var i, tabcontent, tablinks;
    
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
    
      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
    
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    document.getElementById("defaultOpen").click();



</script>
