<!-- Dream Powder Product ID for reviews at the bottom of the page -->
{% assign product_id = 4528614113335 %}

<div class="header-lp bg--blue p1 p2--md pl3--md pr3--md">
    <div class="lp-container tc">

    <a title="beam" href="/">
        <img class="show--md" style="margin-top: 4px; height: 32px;" width="auto" src="{{ 'beam-logo-white.png' | asset_url }}">
        <img class="hide--md" style="margin-top: 4px; height: 20px;" width="auto" src="{{ 'beam-logo-white.png' | asset_url }}">
    </a>

    </div>
</div>

<div class="modal hidden" id="download-modal"></div>
<div class="modal--overlay hidden"></div>
<!-- The Modal -->
<div id="detailsModal" class="details-modal">

    <!-- Modal content -->
    <div class="details-modal-content" style="max-width: 700px;">
      <div class="details-header tl color--white purple-header">
        <h1 class="sans--large fw--300 lowercase" temprop="name">{{product.title}}</h1>
        <p class="sans--small fw--600">{{ product.type }}</p>
        <span class="close">&times;</span>
      </div>
      <div class="inner">
              <img style="width: 100%;height: auto;" src="{{ 'hemp-nutritionfacts-dream-powder-1.jpg' | asset_url }}" >
      
      </div>
    </div>
  
  </div>
  

<div class="hide--md">
    <img src="https://cdn.shopify.com/s/files/1/0264/4076/1399/products/dream-bag-subs-CROPPED_2f56d423-4caa-4c8c-8d57-264f7ec8612f_800x600_crop_center.jpg" style="max-width: 100%;" alt="dream hero image">
</div>

<div class="grid-container contained">
    <!-- Section 1 -->
    <div class="row mt1 mt3--md pt1--md align--center">

        <div class="col c4--md c4--lg pb2">
                <h2 class="pt2 pt6--md sans--large fw--400 color--blue">
                    just add <strong>dream</strong>.
                </h2>
                {% include 'stars' %}             
                <p class="sans--body color--black fw--400 pt2">
                    our recipe for better sleep is simple. dream is a night-time blend that when mixed with hot water or warm milk, brings you a sleepy, delicious cup of cocoa—without any added calories or sugar.*
                </p>
                <p class="sans--body color--black fw--400 pt2">
                    you can subscribe to better sleep every month with the dream subscription to get 20% off and free shipping. plus, get a free beam mug and drink frother with your first order. 
                </p>      
                    <p class="sans--body color--black fw--400 pt2">
                        signing up is easy and there’s no commitment — you can pause or cancel at any time.
                    </p>
                <p id="detailsModalBtn" class="mt2 mb2 fw--600 sans--body pointer underline color--blue"><span class="hide--md">tap</span><span class="show--md">click</span> for ingredients + product details</p>

                <div class="pt1 pt1--md pt1--lg pt2--xl pb3 pb0--md">
                <div class="media__fixed mt3 mb2 tc tl--md"><a title="learn more" class="lp-bottom bg--blue color--white tc scroll-button" href="#subscribe">  redeem offer <span>&#x2192;</span></a>   </div>

            </div>

        </div>
        <div class="col c1 show--md"></div>
        <div class="col c5--md c5--lg pb4 pr show--md">
            <img src="{{ 'dream-bag-subs-CROPPED_2f56d423-4caa-4c8c-8d57-264f7ec8612f_800x800_crop_center.jpg' | asset_url }}" style="max-width: 100%;border-radius: 20px;" alt="dream hero image">
        </div>
    </div>
</div>
    <!-- Section 2 -->
    <div class="pt1 pb1 tc color--white hidden" style="background-color: #8c8cf0;">
        <div class="marquee">
            <div class="track">
              <div class="content">
                non-gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  dairy free <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  dairy free <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  dairy free <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  dairy free <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  dairy free <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non-gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  dairy free <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span>

            
            </div>
            </div>
          </div>
    
        </div>


<div class="bg--blue-light pb6 pb8--md">
        <div class="">
            <div class="row align--center mb1 pt5 pt7--md mb2--md">
                <div class="col c11 c10--sm c6--md">
                    <div class="tc">
                        <h2 class="sans--large tc fw--600 mb3 color--blue">the secret ingredient<br class="show--md"> to better sleep</h2>
                        <p class="sans--medium tc fw--400 mb4 color--black">
                            our partners take their food and supplements seriously, which is why we don’t compromise on wellness. here’s what they had to say about dream.
                        </p>
                    </div>
                </div>
                <div class="mt2 mb1 mt3--md mb2--md partner-slider">
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr10--lg pl10--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'freckledfoodie__a_m_b_a_s_s_a_d_o_r_2020_03_19_05_00_26.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">cameron rogers
                            </h5>
                            <p class="sans--body"> "i can confidently say that beam dream has changed my sleep game. As someone who struggles with the ‘anxious dreams’ (the worst), this product has become a staple in my nightly routine." 
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">founder of<br class="show--md"/> freckled foodie</p>
                        </div>
                    </div>
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr10--lg pl10--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'peytonpratte_2.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">peyton pratte
                            </h5>
                            <p class="sans--body">"dream has been helping me wind down at night and is made with compounds like melatonin and magnesium that help support a better night’s sleep! mixed with some warm almond milk (and maybe some whipped cream 😉), it’s perfect to sip on right before bed!"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;"> founder of<br class="show--md"/>  choosing balance</p>
                        </div>
                    </div>
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr10--lg pl10--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'nicolecogan_1.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">Nicole Cogan
                            </h5>
                            <p class="sans--body">
"I take dream right before bed - helps INSANELY with sleep. hemp x melatonin x calming adaptogens. it's literally a dream"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;"> founder of<br class="show--md"/>  @nobread</p>
                        </div>
                    </div>


                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr10--lg pl10--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'belindakraemer_2.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                Belinda Kraemer
                            </h5>
                            <p class="sans--body">
                                "the best dang sleep I’ve ever had. With magnesium, melatonin, l-Theanine, and their nano hemp powder, it’s my favorite way to chill out before bed 😊 I love it mixed with water as hot cocoa or added to a baked treat!"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">founder of<br class="show--md"/> @beachsidekitchen</p>
                        </div>
                    </div>   
                    
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr10--lg pl10--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'biancacheah_2.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                Bianca Cheah
                            </h5>
                            <p class="sans--body">
"Tastes like a healthy hot cocoa. It’s also made with quality, all-natural ingredients melatonin, magnesium, reishi, I-theanine and broad spectrum hemp powder which are the ingredients that help to assist with a better night sleep"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">founder of<br class="show--md"/> @biancamaycheah</p>
                        </div>
                    </div>   
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr10--lg pl10--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'jeannetteroot_1.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                Jeannette Root
                            </h5>
                            <p class="sans--body">
"seriously can’t say enough good things about dream. sleep is something i have struggled with for the last few years and this stuff gives me the sleep i used to get as kid"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">founder of<br class="show--md"/> @sweatysweetpotato</p>
                        </div>
                    </div>   
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr10--lg pl10--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'sophiejaffe_1.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                Sophie Jaffe
                            </h5>
                            <p class="sans--body">
"The most blissful combo, helping to welcome in a restorative + relaxing evening ahead!"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">founder and ceo, <br class="show--md"/> philosophie</p>
                        </div>
                    </div>   
                    <div class="pb4 pb8--md mb0--md">
                        <div class="tc pr3 pl3 pr6--md pl6--md pr10--lg pl10--lg">
                            <img class="" style="max-width: 280px;margin: 0 auto; border-radius: 100%;" alt="" src="{{ 'lyanabegret_1.jpg' | asset_url }}" /></picture>
                            <h5 class="sans--medium color--blue fw--600 mt2 mb2">
                                Lyana Begret
                            </h5>
                            <p class="sans--body">
"dream-boosting blend helps your body and mind wind down for a better night’s sleep with relaxing compounds like melatonin, magnesium, reishi and l-theanine, plus our nano hemp powder. Legit tastes like HOT COCOA 🍫☕️"
                            </p>
                            <p class="sans--body color--blue mt2 fw--600" style="font-style: italic;">founder of<br class="show--md"/> @healthymoodsf</p>
                        </div>
                    </div>   
                                                                        
            
  
                </div>
            </div>
            </div>

</div>

</div>


        <div class="tc row mt8 mb4 m7--md align--center">
            <div class="col c11 c10--md c10--lg">
                <h2 class="sans--large tc fw--600 mb2 color--blue">the power of<br> beam dream</h2>


                <div style="max-width: 1600px; margin-left: auto; margin-right: auto" class="pt2--md pb3 pb4--md">
<div class="row align--center">
    <div class="col c11 c9--md c8--lg">

                    <p class="sans--medium tc fw--400 mb4 color--black">
                        dream is a warm, healthy take on hot chocolate that helps your body and mind wind down for a better night’s rest. it’s made with sleepy compounds like melatonin, magnesium, l-theanine, and beam’s nano hemp to bring you sweet dreams.  
                    </p>
    </div>
                </div>
                    <div class="ingredient-slider">
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-reishi.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">reishi</h4>
                            <h5 class="tc">
                                mushroom superfood that helps to support the body’s sleep cycle as well as manage stress*
                            </h5>
                        </div>
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-magnesium.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">magnesium</h4>
                            <h5 class="tc">
                                mineral that aids the body’s ability to fall asleep by producing melatonin and regulating the nervous system*
                            </h5>
                        </div>
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-hemp.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">nano hemp</h4>
                            <h5 class="tc">
                                tiny particles for the highest absorption potential*   
                            </h5>
                        </div>
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-Ltheanine.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">l-theanine</h4>
                            <h5 class="tc">
                                amino acid that promotes relaxation, calmness and helps improve sleep quality*
                            </h5>
                        </div>
                        <div class="mb2 mb0--md pl1 pr1">
                            <p class="tc"><span class="dib">
                                    <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                            src="{{ 'icon-melatonin.png' | asset_url }}">
                                    </picture>
                                </span>
                            </p>
                            <h4 class="tc color--blue fw--600 pb2">melatonin</h4>
                            <h5 class="tc">
                                compound that regulates the body’s circadian rhythm, promoting restful sleep*
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
    
        </div>

    <!-- Section 3 -->

    <div class="bg--blue-light pt6 pb0 pt8--md pb8--md">
        <h2 class="fw--600 sans--large mb2 color--blue tc pr1--md pl1--md">
            you’ve got questions,<br /> we’ve got answers
        </h2>
        <div class="container">
            <div class="row">
                <div class="col c3--md c4--lg pt3--md mb3 tc tl--md show--md">
                    <img style="width: 100%; border-radius: 20px;" src="{{ 'upbeetandkaleingit.jpg' | asset_url }}" />
                </div>
                <div class="col c1--md c1--lg pt3--md mb3 tl tl--md show--md">
                </div>
                <div class="col c8--md c7--lg pt3--md mb4 pb3 tl tl--md">
                    <div class="accordion">
                        <div class="item">
                            <a href="#acc1Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">
                                how do i take this product?
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <section id="acc1Desk" class="acc-content-desktop">
                                <div class="inner">
                                    we suggest blending the powder with a warm cup of water or milk (like almond or oat milk).
                                </div><!-- / .inner -->
                            </section>
                        </div><!-- / .item -->

                        <div class="item">
                            <a href="#acc2Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">
                                when do i take this product?
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <section id="acc2Desk" class="acc-content-desktop">
                                <div class="inner">
                                    you should take dream when you are ready to go to bed.
                                </div><!-- / .inner -->
                            </section>
                        </div><!-- / .item -->

                        <div class="item">
                            <a href="#acc3Desk" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">
                                what does dream taste like?
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <section id="acc3Desk" class="acc-content-desktop">
                                <div class="inner">
                                    the dream powder is mixed with organic cacao powder and organic cinnamon powder. it tastes like a healthy hot cocoa.
                                </div><!-- / .inner -->
                            </section>
                        </div><!-- / .item -->


                    </div><!-- / .accordion -->
                </div>
            </div>
        </div>
    </div>

    <!-- Section 4 -->

    <div class="mt6 mb8 mt6--md mb10--md">
        <div style="max-width: 1200px;" class="container pt2--md pb2--md">
            <div class="brand-slider">
                <div class="mb2 mb0--md pl1 pr1">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 90px;"
                                    src="{{ 'maxim-logo.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h5 class="tc">"these pro-athlete-approved hemp products will improve physical and mental wellness."</h5>
                </div>
                <div class="mb2 mb0--md pl1 pr1">
                    <p class="tc"><span class="dib">
    
                            <picture class="promo__press-logo"><img class="promo__press-logo" 
                                    src="https://beam.imgix.net/beam-homepage-presslogo-forbes@2x.png?mtime=20190725113953&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                            </picture>
                        </span>
                    </p>
                    <h5 class="tc db">"[beam] is a great addition to an athlete’s nightly routine."</h5>
                </div>
    
    
                <div class="mb2 mb0--md pl1 pr1">
                    <p class="tc"><span class="dib">
    
                            <picture class="promo__press-logo"><img class="promo__press-logo"
                                    src="https://beam.imgix.net/beam-homepage-presslogo-realsimple@2x_190725_183951.png?mtime=20190725113951&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                            </picture>
                        </span>
                    </p>
                    <h5 class="tc">"i've started using [beam] hemp oil everyday... and it changed my life."</h5>
                </div>
    
            </div>
        </div>
    </div>
    <!-- Section 5 -->

    <div class="mt6 mb4 mb10--md pb6 pt2 bg--blue-light" id="subscribe">
        <div class="container pt4--md pb4--md tc show--lg">
      
          <h2 class="fw--600 sans--large mb2 mt2 mt1--md mb6--md color--blue pr1 pl1 pr0--lg pl0--lg">subscribe and save</h2>
    
                 <div class="row pr1 pl1 pr0--lg pl0--lg">
    
                    <div class="col c4--lg bg--white br mt2 mb2 mb0--md">
                        <img style="max-width: 100%;" src="{{ 'Beam-Dream1-1.jpg' | asset_url }}">
                        <h3 class="mt1 sans--medium fw--600 color--blue">one-time purchase</h3>
                        <span class="media__fixed tc"><span class="db color--dark-gray fw--600 sans--small">
              
                            $95.00
                                                    
                          </span></span>
                        <ul class="lp-list-2 p3">
                            <li>&#x2713; 30-serving bag</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                        <div class="media__fixed mt2 mb5"><a title="learn more" class="add_to_cart_dreamSingle lp-bottom bg--blue color--white tc">get dream <span>&#x2192;</span>
                        </a>
                    </div>
                    </div>
                    
                    <div class="col c4--lg bg--white br mb2 mb0--md main-box">
                        <img style="max-width: 100%;" src="{{ 'Beam-Dream-single-1.jpg' | asset_url }}">
                        <h3 class="mt1 sans--medium fw--600 color--blue">dream subscription</h3>
                        <h6 class="mb1 sans--small color--blue fw--600">join + save. skip or cancel anytime.</h6>
                        <span class="media__fixed tc"><span class="db color--blue fw--600 sans--medium">
              
                            $76.00
                            
                            <s class="compare-at-price color--dark-gray">$95.00</s>
                            
                          </span></span>
                        <ul class="lp-list-2 p3">
                            <li>&#x2713; 30-serving bag</li>
                            <li>&#x2713; beam mug + drink frother</li>
                            <li>&#x2713; monthly delivery, no commitment </li>
                        </ul>
                        <div class="media__fixed mt2 mb5"><a title="learn more" id="" class="add_to_cart_dream1 lp-bottom bg--blue color--white tc">subscribe to dream <span>&#x2192;</span>
                        </a>
                    </div>
                    </div>
    
                    <div class="col c4--lg bg--white br mt1">
                        <img style="max-width: 100%;" src="{{ 'Beam-Dream-Duo1-1.jpg' | asset_url }}">
                        <h3 class="mt1 sans--medium fw--600 color--blue">dream duo subscription</h3>
                        <h6 class="mb1 sans--small color--blue fw--600">join + save. skip or cancel anytime.</h6>
                        <span class="media__fixed tc"><span class="db color--dark-gray fw--600 sans--small">
              
                            $140.00
                            
                            <s class="compare-at-price">$175.00</s>
                            
                          </span></span>
                        <ul class="lp-list-2 p3">
                            <li>&#x2713; two 30-serving bags</li>
                            <li>&#x2713; beam mug + drink frother</li>
                            <li>&#x2713; monthly delivery, no commitment </li>
                        </ul>
                        <div class="media__fixed mt0 mb5"><a title="learn more" id="add_to_cart_duo1" class="add_to_cart_dreamDuo lp-bottom bg--blue color--white tc">subscribe to dream <span>&#x2192;</span>
                        </a>
                    </div>
                    </div>
                 </div>
      
      
      </div>
      <div class="container pt4--md pb4--md tc hide--lg">
      
        <h2 class="fw--600 sans--large mb2 mt2 mt0--md mb5--md color--blue pr1 pl1 pr0--lg pl0--lg">subscribe and save</h2>
    
               <div class="row pr1 pl1 pr0--lg pl0--lg">
    
                <div class="col c4--lg bg--white br mt2 mb2">
                    <img style="max-width: 100%;" src="{{ 'Beam-Dream-single-1.jpg' | asset_url }}">
                    <h3 class="mt1 sans--medium fw--600 color--blue">dream subscription</h3>
                    <h6 class="mb1 sans--small color--blue fw--600">join + save. skip or cancel anytime.</h6>
                    <span class="media__fixed tc"><span class="db color--blue fw--600 sans--medium">
              
                        $76.00
                        
                        <s class="compare-at-price color--dark-gray">$95.00</s>
                        
                      </span></span>
                    <ul class="lp-list-2 p3">
                        <li>&#x2713; 30-serving bag</li>
                        <li>&#x2713; beam mug + drink frother</li>
                        <li>&#x2713; monthly delivery, no commitment </li>
                    </ul>
                    <div class="media__fixed mt2 mb5"><a title="learn more" id="add_to_cart_dream2" class="add_to_cart_dream1 lp-bottom bg--blue color--white tc">subscribe to dream <span>&#x2192;</span>
                    </a>
                </div>
                </div>
    
                  
    
                  <div class="col c4--lg bg--white br mb2">
                      <img style="max-width: 100%;" src="{{ 'Beam-Dream-Duo1-1.jpg' | asset_url }}">
                      <h3 class="mt1 sans--medium fw--600 color--blue">dream duo subscription</h3>
                      <h6 class="mb1 sans--small color--blue fw--600">join + save. skip or cancel anytime.</h6>
                      <span class="media__fixed tc"><span class="db color--dark-gray fw--600 sans--small">
              
                        $140.00
                        
                        <s class="compare-at-price">$175.00</s>
                        
                      </span></span>
                      <ul class="lp-list-2 p3">
                          <li>&#x2713; two 30-serving bags</li>
                          <li>&#x2713; beam mug + drink frother</li>
                          <li>&#x2713; monthly delivery, no commitment </li>
                      </ul>
                      <div class="media__fixed mt2 mb5"><a title="learn more" id="add_to_cart_duo2" class="add_to_cart_dreamDuo lp-bottom bg--blue color--white tc">subscribe to dream <span>&#x2192;</span>
                      </a>
                  </div>
                  </div>
    
                  <div class="col c4--lg bg--white br">
                    <img style="max-width: 100%;" src="{{ 'Beam-Dream1-1.jpg' | asset_url }}">
                    <h3 class="mt1 sans--medium fw--600 color--blue">one-time purchase</h3>
                    <span class="media__fixed tc"><span class="db color--dark-gray fw--600 sans--small">
              
                        $95.00
                                                
                      </span></span>
                    <ul class="lp-list-2 p3">
                        <li>&#x2713; 30-serving bag</li>
                    </ul>
                    <div class="media__fixed mt2 mb5"><a title="learn more" id="add_to_cart_one-time2" class="add_to_cart_dreamSingle lp-bottom bg--blue color--white tc">get dream <span>&#x2192;</span>
                    </a>
                </div>
                </div>
    
               </div>
    
    
    </div>
      </div>
    
    

<div class="tc row mt8 mb4 mb3--md align--center">
    <div class="col c11 c8--md c7--lg">
        <h2 class="sans--large tc fw--600 mb3 color--blue">about beam</h2>
        <p class="sans--medium tc fw--400 mb2 color--black">
            our mission is simple: we're here to elevate your everyday so you can be your best self, always. we make products with the highest quality ingredients because we believe everyone deserves a chance to experience what better feels like — better sleep, energy, recovery and state of mind.

        </p>
    </div>

</div>
<div class="container">
    <div class="row align--center pb6 pb10--md">
        <div class="col c10--md">
    <img class="show--md" style="width: 100%;" src="{{ 'NC-Icons.png' | asset_url }}">
    <img class="hide--md" style="width: 100%;" src="{{ 'NC-icons-mobile.png' | asset_url }}">
    </div>
</div>
</div>



    <!-- Section 7 -->
    <div class="bg--blue-light pt6 pb0 pt8--md pb8--md">

    <div class="yotpo yotpo-main-widget" data-product-id="{{ product_id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
  
    </div>
    {% include 'klaviyo' %}

<style>
    * {text-transform: lowercase !important;}
    #main {padding-top: 0;}
    .header__nav {
        display: none !important;
    }
    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }
    .pill:hover {
        background-color: #E9F2FF;
    }
    .marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 26px;
  overflow-x: hidden;
}
.marquee .content {
    font-size: 18px;
    line-height: 26px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 74s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media screen and (max-width: 600px) {
    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 100%;
        width: 100% !important;
        padding-right: 32px;
        padding-left: 32px;

    }
    .marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 22px;
  overflow-x: hidden;
}
.marquee .content {
    font-size: 16px;
    line-height: 22px;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 84s linear infinite;
}
}
   .slick-dots {
        top: auto !important;
        bottom: -20px !important;
        left: auto !important;
        right: auto;
        text-align: center;
    }
    .slick-dots li {
    display: inline;
    margin-right: 8px;
}
.slick-dots li button {
        background-color: #C2C2C2;
    }
    .slick-dots li button {
    text-indent: -100000px;
    border-radius: 100%;
    border: solid rgba(255, 255, 255, 0.781) 1px;
    background-color: #C2C2C2;
    width: 14px;
    height: 14px;
}
  .slick-dots li.slick-active button {
        background-color: #8c8cf0;
    }
    

</style>

<script>


$(document).ready(function () {
    $('.add_to_cart_dream1').click(function(){
          addItemToCart()
          return false;
    });
    $('.add_to_cart_dreamSingle').click(function(){
        addItemToCartSingle()
          return false;
    });
    $('.add_to_cart_dreamDuo').click(function(){
        addItemToCartDuo()
          return false;
    });

});

    function addItemToCart() {
      data = {
        "id": 39310648934455,
        "quantity": 1,
        "properties": {
          "shipping_interval_frequency": "30",
          "shipping_interval_unit_type": "Days"
        }
      }
      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() { 
          window.location.href = '/cart'; 
        }
      });
    }
    function addItemToCartSingle() {
      data = {
        "id": 39287498768439,
        "quantity": 1
      }
      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() { 
          window.location.href = '/cart'; 
        }
      });
    }
    function addItemToCartDuo() {
      data = {
        "id": 32473921880119,
        "quantity": 1,
        "properties": {
          "shipping_interval_frequency": "30",
          "shipping_interval_unit_type": "Days"
        }
      }
      jQuery.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: data,
        dataType: 'json',
        success: function() { 
          window.location.href = '/cart'; 
        }
      });
    }

$('.partner-slider').slick({
    autoplay: true,
    slidesToShow: 3,
     slidesToScroll: 3,
    fade: false,
    useTransform: true,
    arrows: true,
    infinite: false,
    dots: true,
    autoplaySpeed: 5000,
    adaptiveHeight: false,
    pauseOnHover: true,
    responsive: [
      {
        breakpoint: 1324,
        settings: {
          fade: false,
          slidesToShow: 2,
     slidesToScroll: 1
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          fade: false,
          adaptiveHeight: true,
          arrows: false,
          dots: true
        }
      }
    ]
  });

$('.ingredient-slider').slick({
    autoplay: true,
    slidesToShow: 5,
     slidesToScroll: 1,
    fade: false,
    useTransform: true,
    arrows: false,
    infinite: false,
    dots: false,
    autoplaySpeed: 5000,
    adaptiveHeight: false,
    pauseOnHover: true,
    responsive: [
      {
        breakpoint: 1424,
        settings: {
          fade: false,
          slidesToShow: 3,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }  
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }        
        }
      }
    ]
  });

  $('.brand-slider').slick({
    autoplay: true,
    slidesToShow: 3,
     slidesToScroll: 1,
    fade: false,
    useTransform: true,
    arrows: false,
    dots: false,
    autoplaySpeed: 5000,
    infinite: false,
    adaptiveHeight: false,
    pauseOnHover: true,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          fade: false
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }        
        }
      }
    ]
  });
     let accTitleDesktop = document.getElementsByClassName("acc-heading-desktop");
            let accContentDesktop = document.getElementsByClassName("acc-content-desktop");
            let singleModeDesktop = true;
            
            for( let j=0; j<accContentDesktop.length; j++ ){
                let realHeightDesktop = accContentDesktop[j].offsetHeight;
                accContentDesktop[j].setAttribute("data-height", realHeightDesktop + "px");
                accContentDesktop[j].style.height = 0;
            }
            
            for( let i=0; i<accTitleDesktop.length; i++ ){
                accTitleDesktop[i].onclick = function(){
                    let openedAccDesktop = this.getAttribute('href').replace('#', '');
    
                    if( this.classList.contains("active") ){
                        this.classList.remove("active");
                        document.getElementById(openedAccDesktop).style.height = 0;
                        
                        return false;
                    }
                    
                    if( singleModeDesktop ){						
                        for(let k=0; k<accTitleDesktop.length; k++) {
                            accTitleDesktop[k].classList.remove("active");
                        }
    
                        for(let j=0; j<accContentDesktop.length; j++) {
                            accContentDesktop[j].style.height = 0;
                        }
                    }
                    
                    this.classList.add("active");
                    
                    document.getElementById(openedAccDesktop).style.height = accContentDesktop[i].getAttribute("data-height");
                    
                    return false;
                }
        }

        // Get the modal
var modal = document.getElementById("detailsModal");

// Get the button that opens the modal
var btn = document.getElementById("detailsModalBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}





$(document).ready(function () {


$("a.scroll-button").on('click', function(event) {
      if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
          scrollTop: $(hash).offset().top
      }, 1200, function(){
          window.location.hash = hash;
      });
      } // End if
      event.preventDefault();
});

});    





</script>

<style>
@media screen and (max-width: 600px) {
.template-index .slick-dots {
  top: auto !important;
  bottom: -20px !important;
  left: auto !important;
  right: auto;
  text-align: center;
}
.template-index .slick-dots li button {
  background-color: #C2C2C2;
}
.template-index .slick-dots li.slick-active button {
  background-color: #2F358E;
}
}

.lp-bottom {
  padding: 18px 40px;
  border-radius: 7px;
  font-size: 22px;
  transition: opacity 200ms ease-in-out;
}
@media screen and (max-width: 1120px) {
  .lp-bottom {
  font-size: 16px;
  }
}
.lp-bottom:hover {
  opacity: .9;
}
.lp-bottom span {
  padding-left: 14px;
}
.br {
  border-radius: 12px;
  padding: 0 !important;
  overflow: hidden;
}
.main-box {
  box-shadow:0px 2px 8px 6px rgba(125,125,125,0.3);
  z-index: 1;
  position: relative;
}

.lp-list-2 {text-align: left;}
.lp-list-2 li {
margin-bottom: 12px;
font-size: 15px;
line-height: 1.2;
list-style: none;
}

</style>