

<div class="pt2 mt0 mb0 mt3--md mb0--md">

    <div class="tc pt10 pb4 pr"  style="background-color: #F6FAFF;">
            <h1 class="sans--medium fw--300 mb2 color--purple">about us</h1>    
            <h2 class="sans--large fw--600 mb0 ws--pre-line color--blue">hey! we’re matt + kevin,<br/> co-founders of beam.
            </h2>      
        </div>
        <div class="pt0 pb2--md pr" style="z-index: 1;">
            <img class="pa wave-overlay" src="{{ 'wave-overlay.png' | asset_url }}">

            <div class="pr m4--md mt0--md">

                <div class="grid-container contained" style="">
                    <div class="row align--center">
                        <div class="col c8--md c8--lg pb4 pe--auto">
                            <div class="">
                                <div class="pr">
                                    <div class="push-up">
                                        <div class="">
                                            <picture class="full-width">
                                                <source
                                                    srcset="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/About-Us-MK.jpg?v=1600017437"
                                                    media="(min-width: 800px)"><img class="full-width" alt="matt &amp; kevin
    co-founders of beam" src="https://cdn.shopify.com/s/files/1/0264/4076/1399/files/About-Us-MK.jpg?v=1600017437">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col c8--md c8--lg pt1--md">

                            <div class="rich-text color--blue">
                                <p>we’ve always been active guys. as avid crossfit competitors, ironman triathletes, marathoners and former professional athletes we’ve pushed our bodies and minds to the brink—but the aches and pains from that lifestyle started taking a toll.
                                </p>
                                <p>that’s when the search for a remedy began. we wanted something that met our personal wellness standards, but the road to finding a product that was all-natural and transparent about ingredients was frustrating. so we created our own—a high-quality hemp that’s effective, natural and non-toxic.
                                </p>
                                <p>now, our mission is to empower people to push their limits and pursue their passions by improving their physical and mental wellness. whether athlete or entrepreneur, busy parent, or weekend warrior, we’re constantly working to create better hemp products that meet your needs and expectations.
                                </p>

                            </div>
                            <div class="row mt4 mb3 tc">
                                <div class="dib m1"><a href="/products/the-one" class="button--wave-primary-bottom">try kevin's favorite beam</a></div>
                                <div class="dib m1"><a href="/products/sleep-capsules" class="button--wave-primary-bottom">try matt's favorite beam</a></div>
                        </div>                      
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

<div class="row align--center mt3 mb1 mt4--md mb2--md">
    <div class="col c10 c10--sm c9--md c8--xl">
        <div class="tc">
            <h3 style="line-height: 1.2;" class="fw--300 sans--large mb3 color--green">beam is committed to producing the best possible hemp products for our wellness-minded community. our core values embody this commitment and serve as a guiding light for all that we do.</h3>
        </div>
    </div>
</div>


    <div class="mt4 mb0 mt7--md m4--md">
        <div class="grid-container contained pt2--md pb2--md">
            <div class="row align--center mb2 mb0--md">
                <div class="col c8--md">
                    <div class="tc">
                        <h2 class="sans--large fw--600 mb3 color--blue">about the beam 4</h2>
                    </div>
                </div>
                <div class="col c8--md mb1 mb3--md">
                    <div class="pr">
                        <div class="push-up">
                            <div class="">
                                <picture class="full-width">
                                    <source
                                        srcset="{{'about-family.jpg' | asset_url }}"
                                        media="(min-width: 800px)"><img class="full-width" alt="our core values"
                                        src="{{'about-family.jpg' | asset_url }}">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt3 col c8--md">

                    <div class="mb2">                       
                        <p><span class="color--new-blue fw--600">balance:</span>
                            reset, get centered and go. the balance family, which includes the one, is available in a range of potencies and flavors to fit your zen. 
                        </p>
                    </div>

                    <div class="mb2">                       
                        <p><span class="color--green fw--600">energy:</span>
                            thanks to nano hemp, powerful adaptogens and nootropics, the energy line helps boost your mental performance for sustained focus.
                        </p>
                    </div>

                    <div class="mb2">                       
                        <p><span class="color--orange fw--600">recovery:</span>
                            the recovery family will help your body reduce inflammation* so you can get back to doing your thing. 
                        </p>
                    </div>

                    <div class="mb2">                       
                        <p><span class="color--purple fw--600">sleep:</span>
                            thanks to relaxing compounds like magnesium and l-theanine, the sleep family will help you drift off into a better night's rest*.
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="mt0 mb5 mt2--md mb8--md">
        <div class="container tc benefits-grid">
            <h2 class="fw--600 sans--large mb4 color--blue pr1 pl1">shop the beam 4</h2>
        <div class="row gutter--none">
            <div class="col c6 c3--md">
                <div class="p1">
                    <a href="/products/the-one"><img style="width: 100%;" src="{{ 'balance-WDYN.jpg' | asset_url }}"></a>
                </div>
            </div>
            <div class="col c6 c3--md">
                <div class="p1">
                <a href=" /collections/energy"><img style="width: 100%;" src="{{ 'performance-WDYN.jpg' | asset_url }}"></a>
                </div>
            </div>
            <div class="col c6 c3--md">
                <div class="p1">
                <a href="/collections/recovery"><img style="width: 100%;" src="{{ 'recovery-WDYN.jpg' | asset_url }}"></a>
            </div>
            </div>
            <div class="col c6 c3--md">
                <div class="p1">
                <a href="/collections/sleep"><img style="width: 100%;" src="{{ 'sleep-WDYN.jpg' | asset_url }}"></a>
            </div>
            </div>       
        </div>
    </div>
    
    </div>