<!-- Dream Powder Product ID for reviews at the bottom of the page -->
{% assign product_id = 4528614113335 %}

<div class="header-lp bg--blue p1 p2--md pl3--md pr3--md">
    <div class="lp-container tc">

    <a title="beam" href="/">
        <img class="show--md" style="margin-top: 4px; height: 32px;" width="auto" src="{{ 'beam-logo-white.png' | asset_url }}">
        <img class="hide--md" style="margin-top: 4px; height: 20px;" width="auto" src="{{ 'beam-logo-white.png' | asset_url }}">
    </a>

    </div>
</div>

<div class="modal hidden" id="download-modal"></div>
<div class="modal--overlay hidden"></div>
<!-- The Modal -->
<div id="detailsModal" class="details-modal">

    <!-- Modal content -->
    <div class="details-modal-content" style="max-width: 700px;">
      <div class="details-header tl color--white purple-header">
        <h1 class="sans--large fw--300 lowercase" temprop="name">{{product.title}}</h1>
        <p class="sans--small fw--600">{{ product.type }}</p>
        <span class="close">&times;</span>
      </div>
      <div class="inner">
              <img style="width: 100%;height: auto;" src="{{ 'hemp-nutritionfacts-dream-powder-1.jpg' | asset_url }}" >
      
      </div>
    </div>
  
  </div>
  

<div class="hide--md">
    <img src="{{ 'MB-mobile-image.jpg' | asset_url }}" style="max-width: 100%;" alt="dream hero image">
</div>

<div class="grid-container contained">
    <!-- Section 1 -->
    <div class="row mt1 mt3--md pt1--md align--center">

        <div class="col c4--md c4--lg pb2">
                <h2 class="pt2 pt6--md sans--large fw--600 color--blue">
                    sleep support when you need it most.
                </h2>
                {% include 'stars' %}
                <p class="sans--medium color--black fw--400 pt2 pt3--md">
                    beam’s dream collection is made with sleep-promoting* compounds like magnesium, reishi, l-theanine and nano hemp to help you drift off for a better night’s rest. and for nights when you need a little extra help falling asleep, there’s dream extra strength capsules formulated with twice the sleep-promoting* power so you can get better, deeper sleep. 
                </p>

                <div class="pt1 pt1--md pt1--lg pt3--xl pb3 pb0--md">
                    <a class="dib custom-button--wave-primary-top link--opacity pill"
                    style="color: #fff !important; line-height: 2; background-color: #2f358e !important"
                    title="shop our sleep collection"
                    href="/collections/sleep">
                    shop our sleep collection<span>
                            →
                        </span>
                    </a>
            </div>

        </div>
        <div class="col c1 show--md"></div>
        <div class="col c5--md c5--lg pb4 pr show--md">
            <img src="{{ 'dream-subs-hero.jpg' | asset_url }}" style="max-width: 100%;border-radius: 20px;" alt="dream hero image">
        </div>
    </div>
</div>
    <!-- Section 2 -->
    <div class="pt1 pb1 tc mb1 mb2--md color--white" style="background-color: #8c8cf0;">
        <div class="marquee">
            <div class="track">
              <div class="content">
                "dream improves sleep quality, which is more than just sleep." –dr. weiss <span class="pl4 pr4">•</span>
                "dream improves sleep quality, which is more than just sleep." –dr. weiss <span class="pl4 pr4">•</span>
                "dream improves sleep quality, which is more than just sleep." –dr. weiss <span class="pl4 pr4">•</span>
                "dream improves sleep quality, which is more than just sleep." –dr. weiss <span class="pl4 pr4">•</span>
                "dream improves sleep quality, which is more than just sleep." –dr. weiss <span class="pl4 pr4">•</span>
                "dream improves sleep quality, which is more than just sleep." –dr. weiss <span class="pl4 pr4">•</span>

            </div>
            </div>
          </div>
    
        </div>



<div class="tc row mt6--md mb4--md pt6 align--center">
    <div class="col c11 c10--md c10--lg">
        <h2 class="sans--large tc fw--600 mb2 color--blue">the power of dream<br class="show--md"> extra strength capsules</h2>


        <div style="max-width: 1600px; margin-left: auto; margin-right: auto" class="pt4--md pb3 pb4--md">
            <div class="show--md row align--center">
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-reishi.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">reishi</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        mushroom superfood that helps to support the body’s sleep cycle as well as manage stress*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-magnesium.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">magnesium</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        mineral that aids the body’s ability to fall asleep by producing melatonin and regulating the
                        nervous system*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-hemp.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">nano hemp</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        particles with the highest absorption potential to naturally support inflammation, balance, and
                        sleep*
                    </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-Ltheanine.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">l-theanine</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        amino acid that promotes relaxation, calmness and helps improve sleep quality* </h5>
                </div>
                <div class="col c4--md mb2 mb4--md">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-melatonin.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">melatonin</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        compound that regulates the body’s circadian rhythm, promoting restful sleep*
                    </h5>
                </div>
            </div>

            <div class="ingredient-slider hide--md">
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-reishi.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">reishi</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        mushroom superfood that helps to support the body’s sleep cycle as well as manage stress*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-magnesium.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">magnesium</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        mineral that aids the body’s ability to fall asleep by producing melatonin and regulating the
                        nervous system*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-hemp.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">nano hemp</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        particles with the highest absorption potential to naturally support inflammation, balance, and
                        sleep*
                    </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-Ltheanine.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">l-theanine</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        amino acid that promotes relaxation, calmness and helps improve sleep quality* </h5>
                </div>
                <div class="db mb2">
                    <p class="tc"><span class="dib">
                            <picture class="promo__press-logo p1"><img class="promo__press-logo"
                                    style="max-width: 90px;" src="{{ 'icon-melatonin.png' | asset_url }}">
                            </picture>
                        </span>
                    </p>
                    <h4 class="tc color--blue fw--600 pb2 pt1">melatonin</h4>
                    <h5 class="tc pl1 pr1 pl3--md pr3--md">
                        compound that regulates the body’s circadian rhythm, promoting restful sleep*
                    </h5>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="mt6 mt10--md mb10--md">

    <div class="mt10--md mb10--md" style="background-color: #f0f0ff;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image"
                        src="{{ 'dream_rebrand-lifestyle_08-enjoy.jpg' | asset_url }}">
                </div>
                <div class="col c6--md pt4--md">
                    <div class="tc mt3 hide--md "><span style="width: 38px;" class="dib ml1 mb1"><img
                                class="full-width half-moon" src="{{ 'half-moon.png' | asset_url }}"></span></div>

                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue">how to enjoy <span style="width: 38px;"
                            class="dib show--md ml1 mb1"><img class="full-width half-moon"
                                src="{{ 'half-moon.png' | asset_url }}"></span></h2>
                    <p class="sans--body tc tl--md fw--400 mb4 mb10--md pl2 pr2 pl0--md pr0--md color--black">
                        put at least 1 packet of dream powder into a mug of warm milk or hot water and blend using your
                        beam frother for a cozy frothy finish. sip 20-30 minutes before bedtime then enjoy your deepest
                        night’s sleep.
                    </p>
                </div>
                <div class="col c1 show--md"></div>

                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image"
                        src="{{ 'dream_rebrand-lifestyle_08-enjoy.jpg' | asset_url }}">
                </div>
            </div>
        </div>
    </div>


</div>



what makes these capsules extra strength? (to replace the dream/taste question)
unlike our original dream capsule, dream extra strength capsules are made with a more potent blend of our sleep-promoting* ingredient stack.
how do i take this product? (to replace the current version of this question)
we suggest taking dream extra strength capsules 30-45 minutes before bedtime.
remove “when do i take time product” from the lineup!





<div class="tc pt6 pb2 pt10--md pb10--md">
    <div class="container">
        <h4 class="color--blue sans--large fw--200" style="font-style: italic;">98% of people surveyed fall asleep
            faster when taking dream powder.**</h4>
        <h4 class="color--blue sans--large fw--200 mt4" style="font-style: italic;">99% experience better sleep
            quality.**</h4>
    </div>
</div>





<div class="mt4 mb10--md pt2--md">

    <div class="mt10--md mb10--md" style="background-color: #f0f0ff;">
        <div class="container">
            <div class="row align--middle">
                <div class="col c5--md show--md" style="margin-top: -100px;margin-bottom: -80px;">
                    <img class="full-width rounded-image"
                        src="{{ 'dream2.jpg' | asset_url }}">
                </div>
                <div class="col c2 hide--md"></div>
                <div class="col pt3 c8 hide--md">
                    <img class="full-width rounded-image"
                        src="{{ 'dream2.jpg' | asset_url }}">
                </div>
                <div class="col c1 show--md"></div>
                <div class="col c6--md">
                    <div class="tc mt3 hide--md "><span style="width: 38px;" class="dib ml1 mb1"><img class="full-width"
                                src="{{ 'coffee-mug.png' | asset_url }}"></span></div>
                    <h2 class="sans--large tc tl--md fw--600 mt3 mt0--md mb2 color--blue pr">your new night-time ritual <span
                            style="width: 38px;position: absolute; top: -8px; right: -29px"
                            class="show--md dib ml1 mb1"><img class="full-width"
                                src="{{ 'coffee-mug.png' | asset_url }}"></span></h2>
                    <p class="sans--body tc tl--md fw--400 mb4 mb8--md pr2 pl2 pr0--md pl0--md  color--black">
                        we suggest preparing your cup of dream about 30 minutes before bedtime. calming, nightly rituals
                        help signal to your body and mind that it’s time to wind down once and for all. so whether you
                        want to read, meditate or journal before bed, dream slips seamlessly into your night-time
                        routine.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="show--md mt1 mb1">
    <div class="mt1 mb2"><br>
    </div>
</div>

<div class="mt4 mb3 mt7--md mb10--md">
    <div class="container pt2--md pb2--md">
        <div class="row">

            <div class="col hide--md mb2 mb0--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="{{ 'mathewfras__b_e_a_c_o_n_2021_01_29_07_06_30.jpg' | asset_url }}"
                                    media="(min-width: 800px)"><img class="full-width rounded-image"
                                    alt="an all-natural alternative"
                                    src="{{ 'mathewfras__b_e_a_c_o_n_2021_01_29_07_06_30.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c7--md c6--lg pt1--md mb3 tc tl--md">
                <h6 class="sans--body mb3"><span class="color--white bg--purple fw--600"
                        style="padding: 2px 16px; border-radius: 5px; opacity: .6;">they love us</span></h6>

                <h2 class="fw--600 sans--large mb2 color--blue">why the fittest man on earth loves dream</h2>
                <h3 class="fw--300 sans--body mb2 pl1 pr1 pl0--md pr0--md ">"i’ve always been a big promoter of sleep. not just any kind of
                    sleep, quality sleep. i blackout my room, i turn the temperature down, i’ve found the perfect
                    mattress and i aim for 9-10 hours a night. getting to sleep is always the hardest part. i pack my
                    days with uppers, like espresso and preworkout, that a cup of beam dream before bed is exactly what
                    i need to help coax me to sleep."</h3>

                <h2 class="sans--medium fw--600">-mat fraser</h2>
                <span>5x fittest man on earth</span>

            </div>
            <div class="col c1--lg show--md"></div>

            <div class="col c5--md c5--lg mb2 mb0--md show--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up">
                            <picture class="full-width">
                                <source srcset="{{ 'mathewfras__b_e_a_c_o_n_2021_01_29_07_06_30.jpg' | asset_url }}"
                                    media="(min-width: 800px)"><img class="full-width rounded-image"
                                    alt="an all-natural alternative"
                                    src="{{ 'mathewfras__b_e_a_c_o_n_2021_01_29_07_06_30.jpg' | asset_url }}">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


<div class="bg--blue-light mt4 mt6--md pb5 pt5 pt5--md">
    <div class="container">
    <div class="row">
        <div class="col c5--md">
            <img class="mb2" style="width: 100%; border-radius: 20px;" src="{{ 'dream-morning-brew-LP.jpg' | asset_url }}"/>
        </div>
        <div class="col c1--lg show--md"></div>

        <div class="col c6--md">
            <h2 class="pl1 pt2--md pr1 sans--large color--blue fw--600">

                try <strong>three free nights</strong> of the best-selling dream powder.

            </h2>
            <div class="pl1 pr1 mt1">
                {% include 'stars' %}
            </div>
            <p class="pl1 pr1 sans--medium color--black fw--400 pt2 pb2 pb3--md">
                dream powder is a bedtime blend of sleep-enhancing vitamins, minerals, nano hemp and more. when mixed with warm milk or hot water, it makes a guilt-free, sleep-inducing, delicious cup of cocoa — without any calories or added sugar.
          
            </p>

            <a class="dib custom-button--wave-primary-top link--opacity pill"
            style="color: #fff !important; line-height: 2; background-color: #2f358e !important"
            title="redeem offer"
            href="https://beamtlc.com/cart/39281839636535:1">
redeem offer<span>
                    →
                </span>
            </a>
        </div>
    </div>
</div>
</div>

<div class="tc row mt8 mb4 mb3--md align--center">
    <div class="col c11 c8--md c7--lg">
        <h2 class="sans--large tc fw--600 mb3 color--blue">about beam</h2>
        <p class="sans--medium tc fw--400 mb2 color--black">
            our mission is simple: we're here to elevate your everyday so you can be your best self, always. we make products with the highest quality ingredients because we believe everyone deserves a chance to experience what better feels like — better sleep, energy, recovery and state of mind.

        </p>
    </div>

</div>
<div class="container">
    <div class="row align--center pb6 pb8--md">
        <div class="col c10--md">
    <img class="show--md" style="width: 100%;" src="{{ 'NC-Icons.png' | asset_url }}">
    <img class="hide--md" style="width: 100%;" src="{{ 'NC-icons-mobile.png' | asset_url }}">
    </div>
</div>
</div>
<div class="yotpo yotpo-main-widget" data-product-id="{{ product_id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>


<style>
        #main {padding-top: 0;}
    .header__nav {
        display: none !important;
    }
    .rc_radio_options {
        border-radius: 14px;
        border: 1px solid #2F358E;
        margin-bottom: 10px;
    }

    div.rc_block__type.rc_block__type__onetime {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid #2F358E;
    }

    div.rc_block__type {
        border-radius: 14px;
    }

    .rounded-more {
        border-radius: 14px;
    }

    .sans--body-new {
        font-size: 13px;
        letter-spacing: .15px;
        line-height: 25px;
    }

    .template-product .header__nav {
        background-color: #fff;
        border-bottom: 1px solid #e6e6e6;
    }

    .rounded-image {
        border-radius: 68px;
    }

    .pill--blue {
        border-radius: 32px;
        display: inline-block;
        background-color: #2F358E;
        color: #fff;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }

    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }

    .pill--blue:hover {
        background-color: #494fa7;
    }

    .pill:hover {
        background-color: #E9F2FF;
    }

    .marquee {
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 26px;
        overflow-x: hidden;
    }

    .marquee .content {
        font-size: 18px;
        line-height: 26px;
    }

    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 74s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    @media screen and (min-width: 600px) {

        .slideshow-second .slick-dots li {
            width: 19%;
            display: inline-block;
            margin-right: 1%;
        }

        .slideshow-second .slick-dots {
            bottom: -10px !important;
        }
    }

    @media screen and (max-width: 600px) {
        .rounded-image {
            border-radius: 28px;
        }

        .pill {
            border-radius: 32px;
            display: inline-block;
            border: #2F358E;
            transition: 200ms ease-in-out;
            min-width: 100%;
            width: 100% !important;
            padding-right: 6px;
            padding-left: 6px;

        }

        .marquee {
            position: relative;
            width: 100vw;
            max-width: 100%;
            height: 22px;
            overflow-x: hidden;
        }

        .marquee .content {
            font-size: 16px;
            line-height: 22px;
        }

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 124s linear infinite;
        }
    }

    @media screen and (max-width: 1424px) {
        .slick-dots {
            top: auto !important;
            bottom: -20px !important;
            left: auto !important;
            right: auto;
            text-align: center;
        }

        .slick-dots li {
            display: inline;
            margin-right: 8px;
        }

        .slideshow.slideshow-mobile .slick-dots {
            bottom: 24px !important;
        }

        .slideshow.slideshow-mobile .slick-dots li button {
            background-color: transparent;
        }

        .slick-dots li button {
            background-color: #C2C2C2;
        }

        .slick-dots li button {
            text-indent: -100000px;
            border-radius: 100%;
            border: solid rgba(255, 255, 255, 0.781) 1px;
            background-color: #C2C2C2;
            width: 14px;
            height: 14px;
        }

        .slideshow.slideshow-mobile .slick-dots li.slick-active button,
        .slick-dots li.slick-active button {
            background-color: #8c8cf0;
        }
    }
</style>

<script>



    $(document).ready(function () {
        $('.add_to_cart_dream1').click(function () {
            addItemToCart()
            return false;
        });
    });

    function addItemToCart() {
        data = {
            "id": 39310648934455,
            "quantity": 1,
            "properties": {
                "shipping_interval_frequency": "30",
                "shipping_interval_unit_type": "Days"
            }
        }
        jQuery.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: data,
            dataType: 'json',
            success: function () {
                window.location.href = '/cart';
            }
        });
    }



    $('.ingredient-slider').slick({
        autoplay: true,
        slidesToShow: 5,
        slidesToScroll: 1,
        fade: false,
        useTransform: true,
        arrows: false,
        dots: false,
        autoplaySpeed: 5000,
        adaptiveHeight: false,
        pauseOnHover: true,
        responsive: [
            {
                breakpoint: 1424,
                settings: {
                    fade: false,
                    slidesToShow: 3,
                    fade: false,
                    arrows: false,
                    dots: true,
                    customPaging: function (slider, i) {
                        return $('<button type="button" />').text(i + 1);
                    }
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1,
                    fade: false,
                    arrows: false,
                    dots: true,
                    customPaging: function (slider, i) {
                        return $('<button type="button" />').text(i + 1);
                    }
                }
            }
        ]
    });


</script>