

<div class="pr color--primary of--hidden hide--md">

    <div class="push-up full-width bg--blue-light">
            <div class="pb2 mt5">
                <img style="width: 100%; line-height: 0;" alt="Hero image - Sleep" src="{{ 'beam_BakerMayfield-mobiel.jpg' | asset_url }}" /></picture>
                
                <div class="pl2 pr2">
                    <img class="p2" style="width:100%" src="{{ 'beam_bose-logo.png' |  asset_url }}"/>
                    <div class="sans--xxl tc mb2 pl4--md">
                        <h2 class="sans--large fw--400 color--blue mb2 hide--md">
                            your new night-time dream team brought to you by <span class="fw--800">baker mayfield</span> 
                        </h2>

                    </div>
                </div>

            </div>
    </div>

</div>

<div class="mt10 pr color--primary of--hidden show--md bg--blue-light hero--desktop">
    <picture class="">
        <source srcset="{{ 'beam-bose-Baker-Mayfield.jpg' | asset_url }}" media="(min-width: 800px)" />
        <img class="hero__cover" alt="Hero image - Sleep" src="{{ 'beam-bose-Baker-Mayfield.jpg' | asset_url }}" /></picture>
    <div class="push-up full-width mt4">
        <div class="grid-container contained">
            <div class="row tc mt0 pt3 pt0--md mt0--md mb2 pb0--md mb0--md" >
                <div class="col c12 c12--sm c5--md c4--lg c4--xl show--md">
                    <div class="tc mt6 mb2 p3 pl4--lg pr3--lg pl3--md">
                        <img class="p4" style="width:100%" src="{{ 'beam_bose-logo.png' |  asset_url }}"/>
                    <h2 class="sans--large fw--400 color--blue mt2 mb3 mb10--md show--md">
                        your new night-time dream team brought to you by <span class="fw--800">baker mayfield</span> 

                    </h2>
                    </div>
                </div>
                <div class="col c12 c12--sm c6--md c6--lg c6--xl show--md"></div>

            </div>
        </div>
    </div>
</div>




  <div class="mt4 mb1 mt6--md mb3--md">
      <div class="contained pt2--md pb2--md">
        <div class="row align--center tc">
          <div class="col c10 c9--md c8--lg">
            <div class="mb4">
              <h1 class="sans--medium fw--400 tc"  style="text-transform: inherit !important;">
                baker mayfield has teamed up with beam and bose to bring you the ultimate night-time team. enter the giveaway by dropping your email below for a chance to win the best-selling <span class="fw--800 color--blue">beam dream powder</span>, a delicious blend of sleep-enhancing* vitamins, minerals, nano hemp and the <span class="fw--800 color--blue" style="text-transform: capitalize !important;">bose sleepbuds™ II</span>, wireless earbuds designed specifically for sleep. five winners will be selected on April 13th. 
              </h1>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
  <div class="mb2 mb0--md tc bg--blue p4" style="background-color: #3D7CC9;">
    <h2 class="sans--medium color--white fw--600" style="text-align: center;">
    enter your info below for a chance to win. good luck!
    </h2>
    <div style="max-width: 800px;margin: 0 auto;">
        <div class="klaviyo-form-TRs9VJ"></div>
        <div class="tc"><a href="https://beamtlc.com/pages/beam-x-bose-giveaway" target="_blank" class="sans--small color--white fw--600" style="text-decoration: underline;">terms & conditions</a>
        </div>
      </div>
</div>

<style>
  .gPUAEV.gPUAEV.gPUAEV.gPUAEV.gPUAEV.gPUAEV {padding-left: 18px !important;padding-right: 18px !important;}
  @media only screen and (max-width: 600px) {
    .gPUAEV.gPUAEV.gPUAEV.gPUAEV.gPUAEV.gPUAEV {width: 100%;}
    .lnviXl.lnviXl{display: block !important;}
  }
</style>


  
<div class="mt5 mb4 mt10--md mb10--md">
    <div class="container pt2--md pb2--md">
        <div class="row">
            <div class="col c7--md c6--lg pt6--md mb3 tc tl--md">

              <h2 class="fw--600 sans--large mb3 color--blue">about beam dream</h2>
              <h3 class="fw--300 sans--body mb2">
                after struggling to find a product that was high quality, transparent about ingredients, and effective, beam founders matt & kevin decided to create their own. enter the best-selling dream powder, a night-time blend of sleep-enhancing vitamins, minerals, nano hemp and more. when mixed with warm milk or hot water, it makes a sleep-inducing, delicious cup of cocoa—without any calories or added sugar. 
             </h3>

  
                </div>
                <div class="col c1--lg show--md"></div>
  
            <div class="col c5--md c5--lg mb2 mb0--md">
              <div class="">
                  <div class="pr">
                      <div class="push-up" style="border-radius: 20px;">
                              <picture class="full-width">
                                  <source
                                      srcset="{{ 'dream-ab-test-square.jpg' | asset_url }}"
                                      media="(min-width: 800px)"><img class="full-width"
                                      alt="an all-natural alternative"
                                      style="border-radius: 28px;"
                                      src="{{ 'dream-ab-test-square.jpg' | asset_url }}">
                              </picture>
                      </div>
                  </div>
              </div>
          </div>

        </div>
    </div>
  </div>
  </div>


  
  <div class="mt2 mb6 mt4--md mb10--md">
    <div class="container pt2--md pb2--md">
        <div class="row">

            <div class="col c5--md c5--lg mb2 mb0--md show--md">
                <div class="">
                    <div class="pr">
                        <div class="push-up" style="border-radius: 20px;">
                                <picture class="full-width">
                                    <source
                                        srcset="{{ 'bose-beam-buds.jpg' | asset_url }}"
                                        media="(min-width: 800px)"><img class="full-width"
                                        alt="an all-natural alternative"
                                        style="border-radius: 28px;"
                                        src="{{ 'bose-beam-buds.jpg' | asset_url }}">
                                </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col c1--lg show--md"></div>

            <div class="col c7--md c6--lg pt10--md mb3 tc tl--md">

              <h2 class="fw--600 sans--large mb3 color--blue" style="text-transform: inherit !important;">about Bose Sleepbuds™ II</h2>
              <h3 class="fw--300 sans--body mb2" style="text-transform: inherit !important;">
                everyday stress. snoring. noisy neighbors. the news of the day. there’s plenty that keeps you awake. introducing Sleepbuds™ II. tiny and comfortable, Sleepbuds™ work with the Bose sleep app to deliver relaxing sounds to help you fall asleep, and use Bose noise-masking technology so you stay asleep all night.
            </h3>

  
                </div>
                <div class="col c5--md c5--lg mb2 mb0--md hide--md">
                    <div class="">
                        <div class="pr">
                            <div class="push-up" style="border-radius: 20px;">
                                    <picture class="full-width">
                                        <source
                                            srcset="{{ 'bose-beam-buds.jpg' | asset_url }}"
                                            media="(min-width: 800px)"><img class="full-width"
                                            alt="an all-natural alternative"
                                            style="border-radius: 28px;"
                                            src="{{ 'bose-beam-buds.jpg' | asset_url }}">
                                    </picture>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </div>
  </div>



  <style>
@media (min-width: 1200px) {
.hero--desktop {
    min-height: 690px;
}
.sans--large {
    font-size: 40px;
    line-height: 49px;
}
}
  </style>