
<!-- Dream Powder Product ID for reviews at the bottom of the page -->
{% assign product_id = 4671120670775 %}

<div class="header-lp bg--blue p1 p2--md pl3--md pr3--md">
    <div class="lp-container tc">

    <a title="beam" href="/">
        <img class="show--md" style="margin-top: 4px; height: 32px;" width="auto" src="{{ 'beam-logo-white.png' | asset_url }}">
        <img class="hide--md" style="margin-top: 4px; height: 20px;" width="auto" src="{{ 'beam-logo-white.png' | asset_url }}">
    </a>

    </div>
</div>

<div class="modal hidden" id="download-modal"></div>
<div class="modal--overlay hidden"></div>
<!-- The Modal -->
<div id="detailsModal" class="details-modal">

    <!-- Modal content -->
    <div class="details-modal-content" style="max-width: 900px;">
      <div class="details-header tl color--white purple-header">
        <h1 class="sans--large fw--300 lowercase" temprop="name">{{product.title}}</h1>
        <p class="sans--small fw--600">{{ product.type }}</p>
        <span class="close">&times;</span>
      </div>
      <div class="inner">
        <img style="width: 100%;height: auto;" src="{{ 'elevate-variety_lightbox-nutrition-facts.jpg' | asset_url }}" >
      
      </div>
    </div>
  
  </div>
  

<div class="hide--md">
    <img src="{{ 'elevate-MB-hero-1-2.jpg' | asset_url }}" style="max-width: 100%;" alt="dream hero image">
</div>

<div class="grid-container contained">
    <!-- Section 1 -->
    <div class="row mt1 mt3--md pt1--md align--center">

        <div class="col c4--md c4--lg pb2">
                <h2 class="pt2 pt3--md sans--large fw--600 color--blue">
                    not your average hydration powder.
                </h2>
                {% include 'stars-dream' %}             
                <p class="sans--body color--black fw--400 pt2" style="text-transform: none !important;">
                    meet your three-step hydration ritual. mornings begin with elevate balance, where pre and probiotics help support a healthy microbiome*. midday, sip elevate energy for a non-jittery kick to replace your afternoon coffee, thanks to green coffee bean extract. and post-workout, elevate recovery has enough collagen and BCAAs to replace your typical supplement while supplying all benefits of clean hydration.
                </p>
                <p class="sans--body color--black fw--400 pt2" style="text-transform: none !important;">
                the starter pack includes 2 servings of each product for 6 servings total.
</p>
                <p id="detailsModalBtn"
                class="mt2 mb2 mb3--md fw--600 sans--body pointer underline color--blue"><span
                    class="hide--md">tap</span><span class="show--md">click</span> for ingredients + product
                details</p>
                  <div class="p2 mt2" style="background-color: #f0f0ff;border-radius: 6px;">
                    <p class="sans--body color--blue fw--600">
                        for a limited time, try the hydration starter pack for just the cost of shipping ($5 for US orders).
                    </p>
                    </div>


                <div class="pt1 pt1--md pt1--lg pt2--xl pb3 pb0--md">
                <div class="media__fixed mt1 mb2 tc tl--md"><a title="learn more" style="color: #fff !important; line-height: 2; background-color: #2f358e !important" class="dib custom-button--wave-primary-top link--opacity pill bg--blue color--white" href="https://beamtlc.com/cart/39318687186999:1">redeem offer <span class="show--md">&#x2192;</span></a>   </div>

            </div>

        </div>
        <div class="col c1 show--md"></div>
        <div class="col c5--md c5--lg pb4 pr mt3 show--md">
            <img src="{{ 'hero-v3.jpg' | asset_url }}" style="max-width: 100%;border-radius: 20px;" alt="dream hero image">
        </div>
    </div>
</div>
    <!-- Section 2 -->
    <div class="pt1 pb1 tc color--white hidden" style="background-color: #8c8cf0;">
        <div class="marquee">
            <div class="track">
              <div class="content">
                non gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  keto-friendly <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span> whole30 approved<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  keto-friendly <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span> whole30 approved<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  keto-friendly <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span> whole30 approved<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  keto-friendly <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span> whole30 approved<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  keto-friendly <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span> whole30 approved<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  keto-friendly <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span> whole30 approved<span class="pl3 pr3 pl8--md pr8--md">•</span>
                non gmo  <span class="pl3 pr3 pl8--md pr8--md">•</span>  keto-friendly <span class="pl3 pr3 pl8--md pr8--md">•</span> gluten free<span class="pl3 pr3 pl8--md pr8--md">•</span> no sugar added<span class="pl3 pr3 pl8--md pr8--md">•</span> whole30 approved<span class="pl3 pr3 pl8--md pr8--md">•</span>

            
            </div>
            </div>
          </div>
    
        </div>




        <div class="mt6 mb4 mt6--md mb4--md">
            <div class="container pt2--md pb2--md">
                <h2 class="fw--600 sans--large mb3 color--blue tc mb6--md">what's in your<br class="show--md"/> elevate hydration? </h2>
        
            <div class="row align--center">
                
                <div class="col c4--md c3--lg tc item-balance">
                    
                    <div class="elvalueprops mb1" id="ELvaluepropsDefaultOpen" onclick="openEL(event, 'elBalanace')">
                    <div class="pr tc show--md">
                        <img class="mb2 single-image" src="{{ 'elevate-balance-single.png' | asset_url }}"/>
                        <div class="circle"></div>
                    </div>
                
               <div class="color--white tc p1 fw--600 mt1 mt3--md item-header" style="border-radius: 24px;">elevate balance <span class="pl1">&#x2192;</span></div>
        
                </div>
            </div>

                <div class="col c4--md c3--lg tc item-recovery">
                    <div class="elvalueprops mb1" onclick="openEL(event, 'elRecovery')">
                    <div class="pr tc show--md">
                    <img class="mb2 single-image" src="{{ 'elevate-recovery-single.png' | asset_url }}"/>
                    <div class="circle"></div>
                </div>
                <div class="color--white tc p1 fw--600 mt1 mt3--md item-header" style="border-radius: 24px;">elevate recovery <span class="pl1">&#x2192;</span></div>
            </div>
                </div>

                        
                <div class="col c4--md c3--lg tc item-energy">
                    <div class="elvalueprops mb1" onclick="openEL(event, 'elEnergy')">
                    <div class="pr tc show--md">
                        <img class="mb2 single-image" src="{{ 'elevate-energy-single.png' | asset_url }}"/>
                        <div class="circle"></div>
                    </div>
                    <div class="color--white tc p1 fw--600 mt1 mt3--md item-header" style="border-radius: 24px;">elevate energy <span class="pl1">&#x2192;</span></div>
                    </div>
                </div>
            </div>
        
            <div class="mt4 mb3">
        
            <div id="elBalanace" class="elvaluepropscontent">
        
            <div class="row align--center el-slider">
        
                        <div class="col c6 c4--md c3--lg mb3 mb2--md">
                            <div class="tc">
                            <img class="mb2 el-icon" src="{{ 'el-balance-electrolytes.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">electrolyte blend
        </h4>
                            
                            <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                                coconut water enhanced with a special blend of electrolyte-enriched salts
                            </p>
                        </div>
                    </div>
        
        
                    <div class="col c6 c4--md c3--lg mb3 mb2--md">
                        <div class="tc">
                        <img class="mb2 el-icon" src="{{ 'el-balance-probiotics.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">prebiotic + probiotic blend</h4>
                        
                        <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                            prebiotics feed your gut bacteria while probiotics support a healthy microbiome*
                        </p>
                    </div>
                </div>
        
                <div class="col c6 c4--md c3--lg mb3 mb2--md">
                    <div class="tc">
                    <img class="mb2 el-icon" src="{{ 'el-balance-digestive-enzymes.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">digestive enzymes
        </h4>
                    
                    <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                        help break down food, allowing your body to absorb nutrients and produce energy*
                    </p>
                </div>
            </div>
            <div class="col c6 c4--md c3--lg mb3 mb2--md">
                <div class="tc">
                <img class="mb2 el-icon" src="{{ 'el-balance-vitaminsDK.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600" style="text-transform: none !important">vitamins D + K</h4>
                
                <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                    vitamin D helps fortify the immune system while vitamin K supports strong bones*
                </p>
            </div>
        </div>
        </div>
        
            </div>
        
              
            <div id="elRecovery" class="elvaluepropscontent">
                <div class="row align--center el-3-slider">
        
                    <div class="col c6 c4--md c3--lg mb3 mb2--md">
                        <div class="tc">
                        <img class="mb2 el-icon" src="{{ 'el-recovery-electrolytes.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">electrolyte blend</h4>
                        
                        <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                            coconut water enhanced with a special blend of electrolyte-enriched salts
                        </p>
                    </div>
                </div>
        
                <div class="col c6 c4--md c3--lg mb3 mb2--md">
                    <div class="tc">
                    <img class="mb2 el-icon" src="{{ 'el-recovery-collagen.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">collagen peptides</h4>
                    
                    <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                        support healthy joints, skin, hair and nails*
                    </p>
                </div>
            </div>
        
            <div class="col c6 c4--md c3--lg mb3 mb2--md">
                <div class="tc">
                <img class="mb2 el-icon" src="{{ 'el-recovery-BCAAs.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600" style="font-style: none !important">BCAA 2:1:1</h4>
                
                <p class="pl1 pr1 pl2--md pr2--md sans--small mt1" style="text-transform: normal !important">
                    branched-chain amino acids (BCAA) can help support recovery, decrease muscle soreness and reduce exercise fatigue*
                </p>
            </div>
        </div>
        
        </div>
            
                </div>
            <div id="elEnergy" class="elvaluepropscontent">
                <div class="row align--center el-2-slider">
        
                    <div class="col c6 c4--md c3--lg mb3 mb2--md">
                        <div class="tc">
                        <img class="mb2 el-icon" src="{{ 'el-energy-electrolytes.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">electrolyte blend</h4>
                        
                        <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                            coconut water enhanced with a special blend of electrolyte-enriched salts
                        </p>
                    </div>
                </div>
        
        
                <div class="col c6 c4--md c3--lg mb3 mb2--md">
                    <div class="tc">
                    <img class="mb2 el-icon" src="{{ 'el-energy-beetroot.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">beetroot powder</h4>
                    
                    <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                        rich with nitrates, beetroot supports reduced blood pressure and improves performance*
                    </p>
                </div>
            </div>
        
            <div class="col c6 c4--md c3--lg mb3 mb2--md">
                <div class="tc">
                <img class="mb2 el-icon" src="{{ 'el-energy-vitaminB.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">vitamin B</h4>
                
                <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                    plays a vital role in converting food into energy
                </p>
            </div>
        </div>
        
        </div>
        <div class="row align--center el-2-slider">
        
        <div class="col c6 c4--md c3--lg mb3 mb2--md">
            <div class="tc">
            <img class="mb2 el-icon" src="{{ 'el-energy-citrulline.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">citrulline</h4>
            
            <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                supports improved endurance and can help lower blood pressure*
            </p>
        </div>
        </div>
        
        
        <div class="col c6 c4--md c3--lg mb3 mb2--md">
            <div class="tc">
            <img class="mb2 el-icon" src="{{ 'el-energy-green-coffee-extract.png' | asset_url }}"/>
        <h4 class="sans--body color--blue fw--600">green coffee extract</h4>
            
            <p class="pl1 pr1 pl2--md pr2--md sans--small mt1">
                the equivalent of a 1/3 cup of coffee, 30mg of green coffee bean caffeine is a natural stimulant
            </p>
        </div>
        </div>
        
        </div>
            
                </div>
        
        
        </div>
        </div>
        </div>


        <div class="mt7 mb4 mt8--md mb10--md">
            <div class="container pt2--md pb2--md">
              <div class="row align--center">
                  <div class="col c11--md c10--lg">
                      <img style="max-width: 40px;text-align:center;margin-right: auto;margin-left: auto;display:block" class="mb5" src="{{ 'drop.png' | asset_url }}">
          
              <h2 class="fw--600 sans--large mb3 color--blue tc mb6--md">the electrolyte pick-me-up<br class="show--md"/> you can take anywhere </h2>
          
                <div class="row">
          
                    <div class="col c4--md c4--lg pt1--md mb1 mb3--md tc tl--md">
                          <div class="description-tab">
                              <div class="sans--medium fw--600 valueprops mb1" id="valuepropsDefaultOpen" onclick="openVP(event, 'vpHydration')">why hydration?<span class="link--wave db"></span></div>
                              <div class="sans--medium fw--600 valueprops mb1" onclick="openVP(event, 'vpPower')">the power of three<span class="link--wave db"></span></div>
                              <div class="sans--medium fw--600 valueprops mb1" onclick="openVP(event, 'vpSidekick')">mindfully-sourced<br> ingredients <span class="link--wave db"></span></div>
                          </div>
                        </div>
                        <div class="col c1 hide--md"></div>
          
                    <div class="col c10 c8--md c8--lg mb2 mb0--md">
                      <div id="vpHydration" class="valuepropscontent">
                          <p>
                              believe it or not, 75% of americans are chronically dehydrated. and while water is essential, H2O alone won’t always do the trick. that’s why we created clean electrolyte powders that deliver effective and fast hydration thanks to supercharged and super-hydrating ingredients like coconut water and himalyan sea salt. so whether you’re looking for everyday balance, energy or recovery support, our powders are here to give your body the hydration it craves. 
                          </p>
                      </div>
                      <div id="vpPower" class="valuepropscontent">
                          <p>
                            with the variety pack, you’ll have a chance to experience all the benefits of our three unique electrolyte powders. balance has a potent blend of prebiotics and probiotics to support healthy digestion and immune function*. energy’s green coffee bean extract delivers an energizing boost, plus compounds like beetroot and vitamin B help your body convert dietary energy into physical energy.* and last but not least, recovery helps restore collagen while branched-chain amino acids support tired muscles and help your body fight fatigue.*
                        </p>
                      </div>
                      <div id="vpSidekick" class="valuepropscontent">
                          <p>
                              our electrolyte powders are not just a hydration solution, but elevated supplements to support hydration for each moment of your day. that’s why our ingredients are sourced responsibly and you’ll never find any added sugars, GMOs, or artificial sweeteners.
                          </p>
                      </div>
                  </div>
          
              </div>
          </div>
          
                </div>
            </div>
          </div>
          </div>
        
         
          
          <div class="pt6 pb4 pb10--md" style="background-color: #E6F1FF;">
              <div class="row align--center">
                  <div class="col c6--md c8--lg">
              <img style="max-width: 40px;text-align:center;margin-right: auto;margin-left: auto;display:block" class="mb5" src="{{ 'bolt.png' | asset_url }}">
          
              <h2 class="fw--600 sans--large mb3 color--blue tc pr3 pl3">meet the essential electrolytes and supportive ingredients behind elevate</h2>
          </div>  
          </div>  
              <div class="container">    
                  <div class="row align--center">
                 
                      <div class="col c5--md">
                          <div class="ingredients-accordion">
                              <div class="ingredients-item">
                                <a href="#acc1Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">coconut water <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                            
                                <section id="acc1Desk" class="acc-content-ingredients">
                                  <div class="inner">
                                      a true hydration hero, coconut water is fortified with natural electrolytes like potassium, sodium and magnesium. it’s also the all-natural source of the single gram of sugar you’ll find in our powders. 
                                  </div><!-- / .inner -->
                                </section>
                              </div><!-- / .item -->
                              <div class="ingredients-item">
                                  <a href="#acc2Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">himalayan salt <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                              
                                  <section id="acc2Desk" class="acc-content-ingredients">
                                    <div class="inner">
                                      loaded with minerals, himalayan salt provides the body with a much-needed sodium boost. plus, himalayan salt is completely free of impurities like microplastics.
                                    </div><!-- / .inner -->
                                  </section>
                                </div><!-- / .item --> 
                                <div class="ingredients-item">
                                  <a href="#acc3Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">potassium bicarbonate <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                              
                                  <section id="acc3Desk" class="acc-content-ingredients">
                                    <div class="inner">
                                      despite its fancy name, potassium bicarbonate is simply the water-soluble cousin of the popular electrolyte potassium. it plays an important role in maintaining the health of bones and muscles, and can increase the alkalinity compared to other potassium sources.
                                    </div><!-- / .inner -->
                                  </section>
                                </div><!-- / .item --> 
                          </div>
          
          
                      </div>
          
                      <div class="col c5--md">
          
                            <div class="ingredients-item">
                              <a href="#acc4Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">magnesium glycinate <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                          
                              <section id="acc4Desk" class="acc-content-ingredients">
                                <div class="inner">
                                  shown to have a calming effect on the brain, magnesium glycinate is the water-friendly form of one of our favorite compounds, magnesium. It’s also a critical electrolyte to replenish in your body
                                </div><!-- / .inner -->
                              </section>
                            </div><!-- / .item --> 
                            <div class="ingredients-item">
                              <a href="#acc5Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">sodium hyaluronate <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                          
                              <section id="acc5Desk" class="acc-content-ingredients">
                                <div class="inner">
                                  thanks to its water-soluble nature, sodium hyaluronate aids in super-charged hydration so you can feel your best. It’s lower molecular weight makes for better absorption and electrolyte replenishment.
                                </div><!-- / .inner -->
                              </section>
                            </div><!-- / .item -->      
                            <div class="ingredients-item">
                              <a href="#acc6Desk" class="acc-heading-ingredients sans--medium mt1 mb1 disable-focus-ring">zinc citrate <i class="fa fa-angle-down fr" aria-hidden="true"></i></a>
                          
                              <section id="acc6Desk" class="acc-content-ingredients">
                                <div class="inner">
                                  an electrolyte all-star, zinc citrate plays a major role in improving the body’s metabolism and immune response*.
                                </div><!-- / .inner -->
                              </section>
                            </div><!-- / .item -->   
                         
                      </div>
                  </div>  
          
              </div>
          </div>


          <div class="mt4 mb3 mt7--md mb10--md">
            <div class="container pt2--md pb2--md">
                <div class="row">
        
                    <div class="col hide--md mb2 mb0--md">
                        <div class="">
                            <div class="pr">
                                <div class="push-up">
                                    <picture class="full-width">
                                        <source srcset="{{ 'elevate-MB-dom-scott.jpg' | asset_url }}"
                                            media="(min-width: 800px)"><img class="full-width rounded-image"
                                            alt="an all-natural alternative"
                                            src="{{ 'elevate-MB-dom-scott.jpg' | asset_url }}">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col c7--md c6--lg pt1--md mb3 tc tl--md">
                        <h6 class="sans--body mb3"><span class="color--white bg--purple fw--600"
                                style="padding: 2px 16px; border-radius: 5px; opacity: .6;">they love us</span></h6>
        
                        <h2 class="fw--600 sans--large mb2 color--blue">why this olympic runner rehydrates with elevate</h2>
                        <h3 class="fw--300 sans--body mb2">"as an endurance runner, proper hydration is something i’m constantly working on. beam's elevate line meets my body’s hydration needs throughout the day. i drink elevate balance first thing in the morning, elevate energy while working out and elevate recovery post workout! i've tried a lot of hydration powders, and i love how clean and effective beam’s elevate is."</h3>
        
                        <h2 class="sans--medium fw--600">-dominique scott</h2>
                        <span style="font-style: italic !important">professional runner and olympic athlete</span>
        
                    </div>
                    <div class="col c1--lg show--md"></div>
        
                    <div class="col c5--md c5--lg mb2 mb0--md show--md">
                        <div class="">
                            <div class="pr">
                                <div class="push-up">
                                    <picture class="full-width">
                                        <source srcset="{{ 'elevate-MB-dom-scott.jpg' | asset_url }}"
                                            media="(min-width: 800px)"><img class="full-width rounded-image"
                                            alt="an all-natural alternative"
                                            src="{{ 'elevate-MB-dom-scott.jpg' | asset_url }}">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
        
                </div>
            </div>
        </div>
        

          <div class="bg--blue-light mt4 mt6--md pb5 pt5 pt5--md">
            <div class="container">
            <div class="row">
                <div class="col c5--md">
                    <img class="mb2" style="width: 100%; border-radius: 20px;" src="{{ 'elevate-MB-hero-2.jpg' | asset_url }}"/>
                </div>
                <div class="col c1--lg show--md"></div>
        
                <div class="col c6--md">
                    <h2 class="pl1 pt0--md pr1 sans--large color--blue fw--600">
        
                        try elevate hydration        
                    </h2>
                    <div class="pl1 pr1 mt1">
                        {% include 'stars-dream' %}
                    </div>
                    <p class="pl1 pr1 sans--body color--black fw--400 pt2 pb1 pb1--md">
                        hydration goes a long way. an estimated 75% of americans are chronically dehydrated, so beam created their elevate hydration starter pack, to help you go from dawn to dusk while staying hydrated and healthy.
</p>
                    <p class="pl1 pr1 sans--body color--blue fw--600  pt1">
                        stop ignoring your hydration with beam. elevate has zero added sugar, taste delicious, and is paleo + keto-friendly.                    
                    </p>

                    <p class="sans--body color--blue fw--600">
                        for a limited time, try the hydration starter pack for just the cost of shipping ($5 for US orders).
                    </p>
                <a class=" dib custom-button--wave-primary-top link--opacity pill"
                style="color: #fff !important; line-height: 2; background-color: #2f358e !important"
                title="redeem offer"
                href="https://beamtlc.com/cart/39318687186999:1">
                redeem offer
                </a>

                </div>
            </div>
        </div>
        </div>
        



        <div class="mt6 mb8 mt6--md mb10--md">
            <div style="max-width: 1200px;" class="container pt2--md pb2--md">
                <div class="brand-slider">
                    <div class="mb2 mb0--md pl1 pr1">
                        <p class="tc"><span class="dib">
                                <picture class="promo__press-logo p1"><img class="promo__press-logo" style="max-width: 130px;"
                                        src="{{ 'maxim-logo.png' | asset_url }}">
                                </picture>
                            </span>
                        </p>
                        <h5 class="tc">"these pro-athlete-approved products will improve physical and mental wellness."</h5>
                    </div>
                    <div class="mb2 mb0--md pl1 pr1">
                        <p class="tc"><span class="dib">
        
                                <picture class="promo__press-logo"><img class="promo__press-logo" 
                                        src="https://beam.imgix.net/beam-homepage-presslogo-forbes@2x.png?mtime=20190725113953&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                                </picture>
                            </span>
                        </p>
                        <h5 class="tc db">"[beam] is a great addition to an athlete’s nightly routine."</h5>
                    </div>
        
        
                    <div class="mb2 mb0--md pl1 pr1">
                        <p class="tc"><span class="dib">
        
                                <picture class="promo__press-logo"><img class="promo__press-logo"
                                        src="https://beam.imgix.net/beam-homepage-presslogo-realsimple@2x_190725_183951.png?mtime=20190725113951&amp;auto=format&amp;h=100&amp;q=90&amp;w=320">
                                </picture>
                            </span>
                        </p>
                        <h5 class="tc">"i’ve started using beam everyday… and it changed my life."</h5>
                    </div>
        
                </div>
            </div>
        </div>
        
          <div class="pt6 pb2 pt10--md pb6--md" style="background-color: #E6F1FF;">
            <h2 class="fw--600 sans--large mb2 mb0--md color--blue tc pr1 pl1">you’ve got questions,<br /> we’ve got answers</h2>
          
            <div class="container">    
              <div class="row align--center">
               
                <div class="col c11 c9--md c8--lg mb4 pb3 tc tl--md">
                  <div class="accordion">
              <div class="item">
                <a href="#faq1" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">how do i take this product? <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            
                <section id="faq1" class="acc-content-desktop">
                  <div class="inner">
                      we recommend mixing elevate hydration powders in 12-16oz of water.
                  </div><!-- / .inner -->
                </section>
              </div><!-- / .item -->
            
              <div class="item">
                <a href="#faq2" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">when do i take this product? <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            
                <section id="faq2" class="acc-content-desktop">
                  <div class="inner">
                      while it can be enjoyed anytime throughout the day, we recommend sipping elevate balance in the morning, elevate energy pre-workout for a boost, and elevate recovery post-workout for muscle support.
                  </div><!-- / .inner -->
                </section>
              </div><!-- / .item -->
             
              <div class="item">
                <a href="#faq4" class="acc-heading-desktop sans--medium mt1 mb1 disable-focus-ring">how is elevate different from other hydration products? <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            
                <section id="faq4" class="acc-content-desktop">
                  <div class="inner">
                      unlike other hydrating powders, elevate goes above and beyond. not only will these powders deliver the hydrating properties of our unique ingredient stack, but they can target specific needs: digestive balance, enhanced energy and supportive recovery. 
                  </div><!-- / .inner -->
                </section>
              </div><!-- / .item -->
            </div><!-- / .accordion -->
          <div class="mt3 tc">
            <a href="/pages/support" class="mr2 button--wave-primary-bottom">visit faq’s</a>
            <a href="" class="hidden mr2 button--wave-primary-bottom">need help?</a>
          </div>
          
          </div>
          
          
              </div>
          
          
              </div>
          
          </div>
          



          
          <div class="pt6 pb0 pt8--md pb6--md">
              <img style="max-width: 40px;text-align:center;margin-right: auto;margin-left: auto;display:block" class="mb5" src="{{ 'up-arrows.png' | asset_url }}">
          
              <h2 class="fw--600 sans--large mb2 color--blue tc pr1 pl1">elevate levels up any routine.<br>here’s how:</h2>
            
              <div class="container">    
                  <div class="row">
                      <div class="col c5--md tc">                
                          <img class="hide--md" style="width: 100%; border-radius: 20px;" src="{{ 'elevate-MB-hero-3.jpg' | asset_url }}">
                          <img class="show--md" style="max-height: 460px;width: 100%; border-radius: 20px;" src="{{ 'elevate-MB-hero-3.jpg' | asset_url }}">
                      </div>
                      <div class="col c1"></div>  
          
                      <div class="col c11 mt2 mt0--md c6--md pt3--md">
                          <ul class="elevate-list">
                            <li>you’re busy and need a quick, effective way to rehydrate</li>
                            <li>you don’t want to worry about any added sugars</li>
                            <li>you’re looking for a clean energy boost in your day</li>
                            <li>you want a happy gut and all of the benefits that come with that</li>
                            <li>you’re sporty and looking for some rest day fuel</li>
    
                          </ul>
                      </div>
                      <div class="col c1 show--md"></div>  
          
                  </div>  
              </div>
          </div>

         
<div class="yotpo yotpo-main-widget" data-product-id="{{ product_id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>







<style>
.el-icon {
    max-width: 100px;
    margin: 0 auto 20px auto;
}
.single-image {
    height: 234px;
    mix-blend-mode: darken;
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    left:0;
right:0;
margin-left:auto;
margin-right:auto;
    z-index: -1;
    bottom:20px;
}
.item-balance .circle {
    background-image: linear-gradient(to bottom, rgba(142,206,238,0), rgba(85,160,217,.2));
}
.item-energy .circle {
    background-image: linear-gradient(to bottom, rgba(0,168,131,0), rgba(0,168,131,.2));
}
.item-recovery .circle {
    background-image: linear-gradient(to bottom, rgba(246,119,38,0), rgba(246,119,38,.2));
}

.elvalueprops .circle {opacity: .7;transition: ease-in-out 220ms;}
.elactive .circle {opacity: 1;
    width: 226px;
    bottom: 30px;
    height: 226px;}


.elvalueprops .item-header {cursor: pointer; opacity: .7;transition: ease-in-out 220ms;margin-left: 20px;margin-right: 20px; border: solid 2px #333; background-color: #fff; color:#000;}
.elvalueprops.elactive  .item-header {cursor: pointer; opacity: 1;}
.elvalueprops .item-header:hover {cursor: pointer; opacity: 1;}


.item-balance 
.elvalueprops .item-header{
border: solid 2px #2F358E; 
color: #2F358E;
}
.item-energy 
.elvalueprops .item-header{
border: solid 2px #2F358E; 
color: #2F358E;
}
.item-recovery 
.elvalueprops .item-header{
color: #2F358E;
border: solid 2px #2F358E; 
}


.item-balance 
.elvalueprops.elactive .item-header{
background-color: #6A9FD4;
border: solid 2px #6A9FD4; 
color: #fff;
}
.item-energy 
.elvalueprops.elactive .item-header{
background-color: #4CA585;
border: solid 2px #4CA585; 
color: #fff;
}
.item-recovery 
.elvalueprops.elactive .item-header{
background-color: #E48B49;
border: solid 2px #E48B49; 
color: #fff;
}
    .rc_radio_options {
        border-radius: 14px;
        border: 1px solid #2F358E;
        margin-bottom: 10px;
    }

    div.rc_block__type.rc_block__type__onetime {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid #2F358E;
    }

    div.rc_block__type {
        border-radius: 14px;
    }

    .rounded-more {
        border-radius: 14px;
    }

    .sans--body-new {
        font-size: 13px;
        letter-spacing: .15px;
        line-height: 25px;
    }

    .template-product .header__nav {
        background-color: #fff;
        border-bottom: 1px solid #e6e6e6;
    }

    .rounded-image {
        border-radius: 68px;
    }

    .pill--blue {
        border-radius: 32px;
        display: inline-block;
        background-color: #2F358E;
        color: #fff;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }

    .pill {
        border-radius: 32px;
        display: inline-block;
        border: #2F358E;
        transition: 200ms ease-in-out;
        min-width: 220px;
        width: auto !important;
        padding-right: 32px;
        padding-left: 32px;

    }

    .pill--blue:hover {
        background-color: #494fa7;
    }

    .pill:hover {
        background-color: #E9F2FF;
    }

    .marquee {
        position: relative;
        width: 100vw;
        max-width: 100%;
        height: 26px;
        overflow-x: hidden;
    }

    .marquee .content {
        font-size: 18px;
        line-height: 26px;
    }

    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 74s linear infinite;
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    @media screen and (min-width: 600px) {

        .slideshow-second .slick-dots li {
            width: 19%;
            display: inline-block;
            margin-right: 1%;
        }

        .slideshow-second .slick-dots {
            bottom: -10px !important;
        }

    }

    @media screen and (max-width: 600px) {
        .el-icon {
            max-width: 70px;
            margin: 0 auto 20px auto;
        }
        .rounded-image {
            border-radius: 28px;
        }

        .pill {
            border-radius: 32px;
            display: inline-block;
            border: #2F358E;
            transition: 200ms ease-in-out;
            min-width: 100%;
            width: 100% !important;
            padding-right: 32px;
            padding-left: 32px;

        }

        .marquee {
            position: relative;
            width: 100vw;
            max-width: 100%;
            height: 22px;
            overflow-x: hidden;
        }

        .marquee .content {
            font-size: 16px;
            line-height: 22px;
        }

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 124s linear infinite;
        }
    }

    @media screen and (max-width: 1424px) {
        .slick-dots {
            top: auto !important;
            bottom: -20px !important;
            left: auto !important;
            right: auto;
            text-align: center;
        }

        .slick-dots li {
            display: inline;
            margin-right: 8px;
        }

        .slideshow.slideshow-mobile .slick-dots {
            bottom: 24px !important;
        }

        .slideshow.slideshow-mobile .slick-dots li button {
            background-color: transparent;
        }

        .slick-dots li button {
            background-color: #C2C2C2;
        }

        .slick-dots li button {
            text-indent: -100000px;
            border-radius: 100%;
            border: solid rgba(255, 255, 255, 0.781) 1px;
            background-color: #C2C2C2;
            width: 14px;
            height: 14px;
        }

        .slideshow.slideshow-mobile .slick-dots li.slick-active button,
        .slick-dots li.slick-active button {
            background-color: #8c8cf0;
        }
    }
    .yotpo .text-m {display:  none !important;}

    .elvaluepropscontent {
    display: none;
    padding: 6px 0;
}
</style>

<script>




    let accTitleIngredients = document.getElementsByClassName("acc-heading-ingredients");
		let accContentIngredients = document.getElementsByClassName("acc-content-ingredients");
		let singleModeIngredients = true;
		
		for( let j=0; j<accContentIngredients.length; j++ ){
			let realHeightIngredients = accContentIngredients[j].offsetHeight;
			accContentIngredients[j].setAttribute("data-height", realHeightIngredients + "px");
			accContentIngredients[j].style.height = 0;
		}
		
		for( let i=0; i<accTitleIngredients.length; i++ ){
			accTitleIngredients[i].onclick = function(){
				let openedAccIngredients = this.getAttribute('href').replace('#', '');

				if( this.classList.contains("active") ){
					this.classList.remove("active");
					document.getElementById(openedAccIngredients).style.height = 0;
					
					return false;
				}
				
				if( singleModeIngredients ){						
					for(let k=0; k<accTitleIngredients.length; k++) {
						accTitleIngredients[k].classList.remove("active");
					}

					for(let j=0; j<accContentIngredients.length; j++) {
						accContentIngredients[j].style.height = 0;
					}
				}
				
				this.classList.add("active");
				
				document.getElementById(openedAccIngredients).style.height = accContentIngredients[i].getAttribute("data-height");
				
				return false;
			}
    }
    



let accTitleDesktop = document.getElementsByClassName("acc-heading-desktop");
		let accContentDesktop = document.getElementsByClassName("acc-content-desktop");
		let singleModeDesktop = true;
		
		for( let j=0; j<accContentDesktop.length; j++ ){
			let realHeightDesktop = accContentDesktop[j].offsetHeight;
			accContentDesktop[j].setAttribute("data-height", realHeightDesktop + "px");
			accContentDesktop[j].style.height = 0;
		}
		
		for( let i=0; i<accTitleDesktop.length; i++ ){
			accTitleDesktop[i].onclick = function(){
				let openedAccDesktop = this.getAttribute('href').replace('#', '');

				if( this.classList.contains("active") ){
					this.classList.remove("active");
					document.getElementById(openedAccDesktop).style.height = 0;
					
					return false;
				}
				
				if( singleModeDesktop ){						
					for(let k=0; k<accTitleDesktop.length; k++) {
						accTitleDesktop[k].classList.remove("active");
					}

					for(let j=0; j<accContentDesktop.length; j++) {
						accContentDesktop[j].style.height = 0;
					}
				}
				
				this.classList.add("active");
				
				document.getElementById(openedAccDesktop).style.height = accContentDesktop[i].getAttribute("data-height");
				
				return false;
			}
    }
    

    let accTitle = document.getElementsByClassName("acc-heading");
		let accContent = document.getElementsByClassName("acc-content");
		let singleMode = true;
		
		for( let j=0; j<accContent.length; j++ ){
			let realHeight = accContent[j].offsetHeight;
			accContent[j].setAttribute("data-height", realHeight + "px");
			accContent[j].style.height = 0;
		}
		
		for( let i=0; i<accTitle.length; i++ ){
			accTitle[i].onclick = function(){
				let openedAcc = this.getAttribute('href').replace('#', '');

				if( this.classList.contains("active") ){
					this.classList.remove("active");
					document.getElementById(openedAcc).style.height = 0;
					
					return false;
				}
				
				if( singleMode ){						
					for(let k=0; k<accTitle.length; k++) {
						accTitle[k].classList.remove("active");
					}

					for(let j=0; j<accContent.length; j++) {
						accContent[j].style.height = 0;
					}
				}
				
				this.classList.add("active");
				
				document.getElementById(openedAcc).style.height = accContent[i].getAttribute("data-height");
				
				return false;
			}
    }
    

    function openVP(evt, cityName) {
  // Declare all variables
  var i, valuepropscontent, valueprops;

  valuepropscontent = document.getElementsByClassName("valuepropscontent");
  for (i = 0; i < valuepropscontent.length; i++) {
    valuepropscontent[i].style.display = "none";
  }

  valueprops = document.getElementsByClassName("valueprops");
  for (i = 0; i < valueprops.length; i++) {
    valueprops[i].className = valueprops[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}


function openEL(elevt, elName) {
  // Declare all variables
  var i, valuepropscontent, valueprops;

  elvaluepropscontent = document.getElementsByClassName("elvaluepropscontent");
  for (i = 0; i < elvaluepropscontent.length; i++) {
    elvaluepropscontent[i].style.display = "none";
  }

  elvalueprops = document.getElementsByClassName("elvalueprops");
  for (i = 0; i < elvalueprops.length; i++) {
    elvalueprops[i].className = elvalueprops[i].className.replace(" elactive", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(elName).style.display = "block";
  elevt.currentTarget.className += " elactive";
}

document.getElementById("ELvaluepropsDefaultOpen").click();
document.getElementById("valuepropsDefaultOpen").click();




    $('.brand-slider').slick({
    autoplay: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    fade: false,
    useTransform: true,
    arrows: false,
    dots: false,
    autoplaySpeed: 5000,
    adaptiveHeight: false,
    pauseOnHover: true,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          fade: false
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          fade: false,
          arrows: false,
          dots: true,
          customPaging: function (slider, i) {
        return $('<button type="button" />').text(i + 1);
          }        
        }
      }
    ]
  });




    // Get the modal
    var modal = document.getElementById("detailsModal");

    // Get the button that opens the modal
    var btn = document.getElementById("detailsModalBtn");


    // Get the <span> element that closes the modal
    var span1 = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
        span1.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


</script>