
    <div class="pt2 mt0 mb0 mt3--md mb0--md">
        <div class="tc pt10"  style="background-color: #F6FAFF;">
            <h1 class="sans--medium fw--300 mb2 color--purple ">education</h1>
            <h2 style="max-width: 640px;" class="sans--large fw--300 pb5 ws--pre-line m--auto color--blue">hemp stands for cannabidiol—a naturally occurring essential oil extracted from the hemp plant.
            </h2>          
        </div>
        <div class="pb2--md pr" style="z-index: 1;">
            <img class="pa wave-overlay" src="{{ 'wave-overlay.png' | asset_url }}">

            <div class="pr">

                <div class="grid-container contained" style="">
                    <div class="row align--center">
                        <div class="col c8--md pb4 pe--auto">
                            <div class="">
                                <div class="pr">
                                    <div class="box-shadow align--left"></div>
                                    <div class="push-up">
                                        <div class="">
                                            <picture class="full-width">
                                                <source
                                                    srcset="{{ 'Education-main-image.jpg' | asset_url}}"
                                                    media="(min-width: 800px)"><img class="full-width" alt="matt &amp; kevin
    co-founders of beam" src="{{ 'Education-main-image.jpg' | asset_url }}">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col c8--md pt3 pt1--md">
                            <h2 class="sans--large fw--600 mb3 mb3--md ws--pre-line color--blue">how does hemp work in the body?</h2>
                            <div class="rich-text color--blue">
                                <p>
                            

hemp works together with our bodies’ many internal systems, the ECS system. this system is made up of tiny receptors throughout our bodies that interact with compounds—substances that are both produced inside of us (ECSs) and found in certain plants (phytocompounds).
                                </p><p>
supplementation with phytocompounds such as hemp may help the body and mind in many ways—in fact, compound receptors are spread throughout our bodies and found in the central nervous system, peripheral nervous system, gastrointestinal system, and connective tissue.
                                </p>

                            </div>
                                                                
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>







    <div class="mt2 mb4 mt7--md mb10--md">
        <div class="grid-container contained pt2--md pb2--md">
            <div class="row align--center tc">
                <div class="col c12 c10--md c8--lg">

            <div class="row tc show--md">

<div class="col c6 bb--blue br--blue">
    <div class="pr3 pb3">
    <h6 class="color--blue fw--600">
        brain + central nervous system
    </h6>
    <p>
        our central nervous system is responsible for processing and transforming information into activity throughout our entire bodies. the ECS system’s receptors fall into two categories: cb1 and cb2 receptors. cb1 receptors are found primarily throughout our brain and nervous systems.
    </p>
</div>
</div>
<div class="col c6 bb--blue">
    <div class="pl3 pb3">

    <h6 class="color--orange fw--600">
        peripheral nervous system
    </h6>
    <p>
        anxiety and depression can be debilitating. hemp’s effects within the central nervous system suggest that it may provide fast-acting relief for anxiety, balancing out cortisol levels, improving behavioral responses to stress, and helping to boost overall mood.
    </p>
</div>
</div>
<div class="col c6 br--blue">
    <div class="pt3 pr3">

    <h6 class="color--green fw--600">
        gastrointestinal system
    </h6>
    <p>
        our gastrointestinal system is responsible for the body’s intake, digestion, and absorption of food and nutrients. cb2 receptors are found throughout this system and may play a role in our intestinal inflammatory responses. hemp may offer benefits for those with gastrointestinal issues by helping to regulate inflammation throughout our digestive tracts. 
       </p>
</div>
</div>
<div class="col c6">
    <div class="pt3 pl3">

    <h6 class="color--purple fw--600">
        connective tissue 
    </h6>
    <p>
        connective tissues surrounds our muscles, bones, nerves and blood vessels, and recent research has begun to explore the presence of cb receptors throughout this tissue. the anti-inflammatory effects of hemp may work with receptors in connective tissue to positively influence and protect against cartilage degradation or inflammation in skin and joints.</p>
</div>
</div>
            </div>


            <div class="row tl hide--md">

                <div class="col">
                    <div class="p1">
                    <h6 class="color--blue sans--medium fw--600 mb1">
                        brain + central nervous system
                    </h6>
                    <p>
                        our central nervous system is responsible for processing and transforming information into activity throughout our entire bodies. the ECS system’s receptors fall into two categories: cb1 and cb2 receptors. cb1 receptors are found primarily throughout our brain and nervous systems.
                    </p>
                </div>
                </div>
                <div class="col">
                    <div class="p1">
                
                    <h6 class="color--orange fw--600 sans--medium mb1">
                        peripheral nervous system
                    </h6>
                    <p>
                        anxiety and depression can be debilitating. hemp’s effects within the central nervous system suggest that it may provide fast-acting relief for anxiety, balancing out cortisol levels, improving behavioral responses to stress, and helping to boost overall mood.
                    </p>
                </div>
                </div>
                <div class="col">
                    <div class="p1">
                
                    <h6 class="color--green fw--600 sans--medium mb1">
                        gastrointestinal system
                    </h6>
                    <p>
                        our gastrointestinal system is responsible for the body’s intake, digestion, and absorption of food and nutrients. cb2 receptors are found throughout this system and may play a role in our intestinal inflammatory responses. hemp may offer benefits for those with gastrointestinal issues by helping to regulate inflammation throughout our digestive tracts. 
                    </p>
                </div>
                </div>
                <div class="col">
                    <div class="p1">
                
                    <h6 class="color--purple fw--600 sans--medium mb1">
                        connective tissue 
                    </h6>
                    <p>
                        connective tissues surrounds our muscles, bones, nerves and blood vessels, and recent research has begun to explore the presence of cb receptors throughout this tissue. the anti-inflammatory effects of hemp may work with receptors in connective tissue to positively influence and protect against cartilage degradation or inflammation in skin and joints. 
                    </p>
                </div>
                </div>
                            </div>


        </div></div>
        </div>
    </div>


    <div class="wave-break"></div>

    <div class="mt7 mb4 mt10--md mb10--md">
        <div class="container pt2--md pb2--md">
            <div class="row">
                <div class="col c7--md c6--lg pt3--md mb3 tc tl--md">
      <h2 class="fw--600 sans--large mb2 color--blue">what are the benefits?</h2>
                      <h3 class="fw--200 sans--medium mb2">
                        by tapping into how we function biologically, hemp can work to regulate pain, mood, appetite, anxiety and inflammation.
                      </h3>
                    <h5 class="sans--medium color--new-blue">eases discomfort</h5>
                    <h5 class="sans--medium color--green">helps find your sense of calm</h5>
                    <h5 class="sans--medium color--orange">catch some extra zzz’s</h5>
                    <h5 class="sans--medium color--purple">skin glow from within</h5>
      
                    </div>
      
                <div class="col c5--md c6--lg mb2 mb0--md">
                  <div class="">
                      <div class="pr">
                          <div class="box-shadow align--right"></div>
                          <div class="push-up">
                                  <picture class="full-width">
                                      <source srcset="{{ 'Education-secondary-image.jpg' | asset_url }}" media="(min-width: 800px)"><img class="full-width" alt="an all-natural alternative" src="{{ 'Education-secondary-image.jpg' | asset_url }}">
                                  </picture>
                          </div>
                      </div>
                  </div>
              </div>
      
      
      
            </div>
        </div>
      </div>
